[2014-04-22 11:26] squiidz opened #3 "~[&str] not implement push"
I can't build it ...

racer.rs:185:25: 185:41 error: type `~[&str]` does not implement any method in scope named `push`
racer.rs:185                         c2.push(defnstr);
                                     ^~~~~~~~~~~~~~~~
error: aborting due to previous error

[2014-04-23 04:50] #3 closed, assigned to nobody

[2014-04-29 13:57] edubkendo opened #4 "changes in ViewPath_ on nightly break build"
[This change](https://github.com/mozilla/rust/commit/b03547bac1301da0a053e1e73a591ebdb0ccd1ca) is causing it to break on nightly.

[code]

I actually managed to get it past this error and then immediately ran into another which I couldn't figure out since I just began learning.

[code]

Thanks

[2014-04-29 20:50] #4 closed, assigned to nobody

[2014-05-01 09:12] edubkendo opened #5 "Way to pass in or set project path"
Racer needs a way to pass in or set the project path. I'm currently working on an editor plugin to integrate with it, and it seems like the best/simplest strategy for dealing with files in a dirty state is to write to a tmpfile, and pass that path along with the line and column numbers to racer. The problem here is, now racer has no way to look at the other files in your project.  I'm not sure if

[2014-05-12 05:30] fabslab opened #6 "Error running make"
Output from running rake:

rustc -o bin/racer src/main.rs
src/codeiter.rs:4:5: 4:14 error: file not found for module `testutils`
src/codeiter.rs:4 mod testutils;
                      ^~~~~~~~~
make: **\* [all] Error 101

[2014-05-12 20:12] #5 closed, assigned to nobody

[2014-05-12 20:15] #6 closed, assigned to nobody

[2014-06-19 06:01] ShadowCreator opened #17 "Jump-to-definition default binding"
Lots of other packages (I.e. anaconda mode, robe, tern, slime and elisp-slime-nav) use M-.

So would it be worth changing the jump to definition key default from f1 to M-.
Keeping consistent is usually good!

[2014-06-23 06:59] #17 closed, assigned to nobody

[2014-06-25 11:36] tbu- opened #18 "Using complete with no parameter crashes"
[code]

[2014-06-25 11:41] tbu- opened #19 "Using complete with `::` crashes too"
[code]

[2014-07-04 17:26] japaric opened #22 "Fails to compile with rust nightly"
[code]

Version:

[code]

[2014-07-04 20:11] #22 closed, assigned to nobody

[2014-07-08 06:20] Crazy-Owl opened #25 "Supported version?"
What version of Rust is supported? Trying to build racer on 0.11 nightly fails with type errors:

[code]

[code]

[2014-07-08 07:02] #25 closed, assigned to nobody

[2014-07-21 10:17] MatejLach opened #28 "Racer fails to compile with Rust master"
Racer does not compile with the latest rust:

[code]

`rustc 0.12.0-pre (f15d6d28396e8700b6c3f2704204a2769e710403 2014-07-20 22:46:29 +0000)`

[2014-07-21 17:52] #28 closed, assigned to nobody

[2014-07-26 00:18] oblitum opened #30 "functions returning Box<Iterator<_>> not working in for loops"
[code]

[2014-07-27 08:01] #30 closed, assigned to nobody

[2014-08-01 09:15] ruscur opened #31 "Not compiling with latest Rust nightly"
With rustc 0.11.0-pre-nightly (90ab2f8b616634cff8e02f12c529504c088d52e8 2014-07-01 01:01:36 +0000):

[code]

[2014-08-02 03:12] #31 closed, assigned to nobody

[2014-08-04 22:56] TyOverby opened #33 "YCMD support?"
I use the YouCompleteMe vim plugin, but with the refactoring of the core pieces out into a server, the majority of the code can be reused.  It would be neat for racer to be able to talk to the YCMD server and immediately gain the benefit of any other clients that also use the YCMD protocol.

http://val.markovic.io/articles/youcompleteme-as-a-server

[2014-08-06 21:40] abc123098123 opened #35 "Racer with complete argument doesnt work"
I did set my path variable, and it is correct.

When i do `./racer complete std::io::B` there is no output.

What info can i give you more?

[2014-08-07 11:25] #35 closed, assigned to nobody

[2014-08-08 09:44] dahankzter opened #37 "Emacs company completion fails for standard method"
Trying to complete in Emacs works fine for the crates but not the methods for example:
std::io::stdin()

The error is

Company: An error occurred in auto-begin
Company: Back-end racer-company-complete error "/home/henrik/dev/rust/racer/bin/racer exited with status 101" with args (candidates )

Not sure if this is the place for this...

[2014-08-10 01:23] HK47196 opened #38 "Bug with function context"
Example reproduce:
./bin/racer complete std::io::

...

MATCH from_errno,316,11,/home/user/src/rust/src/libstd/io/mod.rs,Function,impl IoError {

The context given is "impl IoError {" when I assume it should be the actual function context e.g,

[code]

Oddly, the line given(316) is the correct line. This appears to be happening for all impl, but I haven't done a lot of testing - it may be complete

[2014-08-11 17:54] dobkeratops opened #40 "eldoc support? (or other argument assist)"
Would it be appropriate to drive 'eldoc' from racer ;
https://raw.githubusercontent.com/mooz/c-eldoc/master/images/screenshot.png

I see there's c-eldoc which in turn relies on cc-defs to generate function definitions

Even if it was imprecise (getting confused if the same method name is used differently in different traits) I think it would be better than nothing. (it could make some best guess i

[2014-08-12 05:04] #38 closed, assigned to nobody

[2014-08-12 05:06] #37 closed, assigned to nobody

[2014-08-13 07:22] emberian opened #41 "Add a way to get the signature of a function"
For example, `racer signatureof fully::qualified::name` might print `fn(int) -> Box<String>`. Would also want this to work on methods, ideally.

[2014-08-13 21:35] HK47196 opened #42 "Racer is identifying scopes in comments"
[code]

if you remove the commented out { in main it completes fine.

[2014-08-14 06:04] #42 closed, assigned to nobody

[2014-08-14 08:02] #18 closed, assigned to nobody

[2014-08-14 08:02] #19 closed, assigned to nobody

[2014-08-14 08:03] #33 closed, assigned to nobody

[2014-08-17 20:35] nyx opened #44 "emacs: racer exited with status Trace/BPT trap: 5 on OS X"
I have built Rust from git repo and installed it in a path outside my `DYLD_LIBRARY_PATH` and had to use `setenv` in my Emacs app bundle installation from http://emacsformacosx.com/ . e.g.:

[code]

This reflects what I had to do in the Terminal for `rustc` and reflects the fact that the environment I have setup in Terminal is not mirrored in app bundle Emacs automatically.  I figure this may be w

[2014-08-25 13:07] dotdash opened #45 "Missing completions for functions available through `pub use`"
`racer complete std::io::` is missing, for example `print` and `println`, as well as all other functions available in that namespace by means of being imported through a `pub use` statement.

This was broken by 04259d92502ed7a42f664712dbfa8b54aeda5450 AFAICT, since `searchstr` is empty when searching through the `io` namespace and thus all `use` statements are ignored.

[code]

The above patch mak

[2014-08-26 05:07] #45 closed, assigned to nobody

[2014-08-30 03:58] edubkendo opened #46 "error: explicit lifetime bound required"
Can't get it to build currently using rust nightly. Apparently there was a new type inference scheme merged about 8 hours ago, lol.  I tried taking a look but I really don't know much rust yet, I've been distracted lately with Elixir. Was trying to figure out why atom-racer wasn't working for user's having issues and wanted to update to the latest racer to see what the problem was. Tried compiling

[2014-08-31 04:28] zekesonxx opened #47 "Windows find-definition doesn't have proper path output"
`RUST_SRC_PATH=C:/Users/Owner/src/rust/src`
`main.rs:47   let mut cwd = os::getcwd();`

[code]

[2014-09-01 07:52] #46 closed, assigned to nobody

[2014-09-17 14:02] valbendan opened #52 "Build error"
When I try use `make` to build the program:
The following error happened:

 -O -o bin/racer src/main.rs
src/racer/ast.rs:15:5: 15:19 error: unresolved import `syntax::ptr::P`. Could not find `ptr` in `syntax`.
src/racer/ast.rs:15 use syntax::ptr::P;
                        ^~~~~~~~~~~~~~
error: aborting due to previous error
make: **\* [all] Error 101

Platform:
OpenSuSE 13.1(64bits)
rust v0.11(64

[2014-09-22 02:49] bednarskia opened #55 "GD Vim Problem"
(first issue posted, I hope I am doing this right, constructive crit accepted)

In vim typing gd to go to definition seems to screw up any syntax highlighting, and to get it back one must restart the editor.

Interestingly if you turn the syntax off before gd you can turn it back on and all is good.

[2014-09-29 20:05] #52 closed, assigned to nobody

[2014-10-08 22:32] phil-n opened #57 "windows 8.1 crashing"
I compiled racer with rust nightly 64 bit/TDM gcc 64 bit, and also tried with rust nightly 32 bit/MinGW32 gcc.
On windows 8.1 racer seems to choke on certain tokens when asked for completion, while it seems to work on ubuntu.

I didn't have the time to investigate further so far, hope it helps.

Here's the command I tried:
`racer complete std::comm::`

and thats the ouput from gdb on my windows ma

[2014-10-14 17:18] zonyitoo opened #58 "Crash on OS X 10.10 with Rust 0.12.0-dev"
Hello.

I compiled racer with Rust 0.12.0-dev on OS X 10.10 Beta 4. But when I run it as the README told me to do, it just crash with some strange outputs:

[code]

`RUST_SRC_PATH` is the `src` path of the Rust (master branch)

[2014-10-16 00:24] #58 closed, assigned to nobody

[2014-11-04 10:38] ghost opened #62 "cant compile with rust 0.13.0-nightly"
Hi guys,

here is the output

https://gist.github.com/pROCKrammer/0bdd678903be0b1705e9

[2014-11-06 06:43] #62 closed, assigned to nobody

[2014-11-06 21:28] #55 closed, assigned to nobody

[2014-11-07 22:56] ordian opened #65 "Build failed with rustc 0.13.0-dev"
➜ rustc --version
rustc 0.13.0-dev (0b48001c2 2014-11-07 15:26:26 +0000)
➜ make
rustc -O -o bin/racer src/main.rs
src/racer/ast.rs:269:19: 269:28 error: attempted access of field `types` on type `&syntax::ast::PathSegment`, but no field with that name was found
src/racer/ast.rs:269         for ty in seg.types.iter() {
                                       ^~~~~~~~~
error: aborting due to previous

[2014-11-08 15:29] #65 closed, assigned to nobody

[2014-11-09 11:24] zonyitoo opened #67 "Build failed"
Error message from rustc:

[code]

rustc version:

[code]

[2014-11-10 10:36] #67 closed, assigned to nobody

[2014-11-11 20:52] #57 closed, assigned to nobody

[2014-11-19 08:53] kiljacken opened #70 "Crash on Win7 x86_64"
Racer crashes using the latest x86_64 nightly.

Version info:
    $ rustc --version
    rustc 0.13.0-nightly (e09d98603 2014-11-18 23:51:43 +0000)

The (quite vague) crash output:
    $ racer complete std::io::

[code]

It should be noted that code doesn't compile on this nightly due to rust-lang/rust#18645

[2014-11-22 21:23] #70 closed, assigned to nobody

[2014-11-26 07:39] rsw0x opened #73 "Adding cargo projects to RUST_SRC_PATH?"
Is there a recommended way of going about this? I did some poking around and saw that racer looks for lib.rs in name/lib.rs or libname/lib.rs, but not every project adheres to the same file layout so racer doesn't always pick them up(e.g, [Glutin](https://github.com/tomaka/glutin) )

[2014-11-26 12:04] kfreiman opened #74 "Error due make (rust 0.13 nightly)"
i just did

[code]

And I got an error:

[code]

Ubuntu 13.10, rustc 0.13.0-nightly

[2014-11-26 17:55] andreiamatuni opened #75 "build failed with rust nightly 0.13"
[code]

[2014-11-27 07:09] #75 closed, assigned to nobody

[2014-11-27 20:32] andersforsgren opened #77 "Temp files in unit tests use incorrect characters on Windows"
In the unit tests, the temporary files are created in the `tmpname()` function using `task.name()`, which will contain '::', making it an invalid windows path. This means all tests using temp files (around half) will fail on Windows.

Could the temp files use underscore instead so they get allowed paths on all platforms? , e.g.

[code]

[2014-11-28 16:00] #44 closed, assigned to nobody

[2014-11-28 22:33] #77 closed, assigned to nobody

[2014-12-02 07:48] #74 closed, assigned to nobody

[2014-12-02 07:53] #47 closed, assigned to nobody

[2014-12-02 12:21] andersforsgren opened #82 "Windows linebreaks not supported"
On both linux and windows the tests for function resolution pass. However, on windows, if you create a file containing the source from a fn resolution test and call `racer complete 6 13 tmp.rs` it does not resolve like it does on linux. Example:

The input file is

[code]

On linux the output is (expected)

[code]

while on windows it responds only with

[code]

Tested on both windows Linux on rac

[2014-12-02 23:48] photex opened #84 "How can racer function if you aren't building rust from source?"
Hi!

Since the dawn of rustup.sh and cargo becoming pretty widely adopted I'm wondering how this project can continue to work without a RUST_SRC_PATH that includes the standard library? That is, I can build racer but can't use it because I installed a nightly binary.

Any ideas? Have I missed something?

Chip

[2014-12-03 07:19] #84 closed, assigned to nobody

[2014-12-04 08:58] buster opened #85 "undefined symbol FormatWriter"
Since 2 or 3 days i can't run racer anymore with the current nightly.
It compiles fine but when i run it i get the following error:

racer: symbol lookup error: racer: undefined symbol: _ZN3vec31Vec$LT$u8$GT$.fmt..FormatWriter5write20haa3f48e79c983270kxkE

[2014-12-04 12:22] #82 closed, assigned to nobody

[2014-12-12 21:20] andersforsgren opened #88 "Handle UTF-8 Byte order mark (BOM) in source files"
Rust source files are UTF-8 so may or may not contain a leading 3 byte BOM which seems to be ignored which means indices into the source text may be off, giving weird behavior (and sometimes crashes). The attached files are a minimal example: they are the exact same text `use std::io::`but one is 16 bytes and the other is 13 bytes (no BOM). When read as text they should be strings of equal length

[2014-12-15 06:22] #85 closed, assigned to nobody

[2014-12-16 23:42] alkama opened #90 "Have a "complete" without resorting to temporary file"
This is just a suggestion and might very well be stupid, but I feel it could be awesome to spare some HDD/SSD lifetime:

Would it be possible to request a contextual ```complete``` (with ```linenum``` and ```charnum```) but passing what is currently a temporary file (```fname```) as standard input instead?

Another great enhancement could be to daemonize racer, maybe by having it detach a server c

[2014-12-18 22:18] dradtke opened #94 "Split racer into executable and library."
I have a proof-of-concept for this set up in my [fork](https://github.com/dradtke/racer), but it's only good enough to compile at this point and could probably use some additional refactoring and/or renaming.

My motivation for this is to let the library contain the bulk of the logic and heavy lifting so that multiple clients can target the same functionality. The existing racer client is nice for

[2014-12-19 21:01] cheese-stands-alone opened #95 "Racer fails to build"
On archlinux 64bit with rust nightly

rustc -v
rustc 0.13.0-nightly (99d6956c3 2014-12-18 20:32:07 +0000)

racer fails with

rustc -O -o bin/racer src/main.rs
src/racer/typeinf.rs:45:5: 45:11 error: expected one of `.`, `;`, or `}`, found `return`
src/racer/typeinf.rs:45     return scopes::find_impl_start(msrc, m.point, 0).and_then(|start| {
                            ^~~~~~
Makefile:6: recipe fo

[2014-12-20 01:03] porglezomp opened #96 "Correctly handle multiple-use"
It would be nice if line like `std::io::{` would complete the same as `std::io::`
It would be even nicer if, for instance `use std::rc::{Rc,` would recommend everything that `std::rc::` recommends, except it would omit `Rc` since it's already being used.

[2014-12-20 09:35] #95 closed, assigned to nobody

[2014-12-23 06:41] #88 closed, assigned to nobody

[2014-12-23 10:24] Relrin opened #98 "Racer fails to build on Mac OS"
On my macbook, with OS X Yosemite (10.10.1) and

relrin at MacBook-Relrin in ~/racer exited 2 on git:master
=> rustc -v
rustc 0.12.0-dev

racer fails with error

relrin at MacBook-Relrin in ~/racer on git:master
=> make
rustc -O -o bin/racer src/main.rs
src/racer/nameres.rs:746:65: 746:66 error: expected item, found `;`
src/racer/nameres.rs:746 thread_local!(pub static SEARCH_STACK: Vec<Search> =

[2014-12-23 16:34] #98 closed, assigned to nobody

[2014-12-25 03:58] amosbird opened #100 "How to make racer work with YouCompleteMe?"
I use the provided racer.vim and it fails to make semantic completion with youcompleteme.

[2015-01-02 02:27] flubba86 opened #102 "Compilation Error"
I'm getting the following error when compiling using latest Rustc.
[code]

[2015-01-02 02:46] flubba86 commented on #102
Looks like ItemTrait does indeed have just 4 fields:
libsyntax/ast.rs line 1584:
[code]

[2015-01-02 06:20] phildawes commented on #102
Thanks @flubba86. I've pushed the fix

[2015-01-02 06:20] #102 closed

[2015-01-02 06:23] phildawes commented on #100
I don't know much about vim. Is this just that it hasn't been written to work with these, or is there a bug that prevents interoperability or something?

Any patches would be gratefully accepted!

[2015-01-02 07:20] amosbird commented on #100
I‘ve opened an issue on Youcompleteme. It seems the author of YCM will soon start working on this.

[2015-01-02 07:20] #100 closed

[2015-01-03 04:44] tomjakubowski commented on #100
For reference: Valloric/YouCompleteMe#1297

[2015-01-04 07:00] pcn opened #103 "More compile warnings+errors, from 20150104's nightly"
Warnings:
[code]
Error that kills the build:
[code]

[2015-01-04 07:00] pcn commented on #103
The exact version is:
[code]

[2015-01-04 07:57] phildawes commented on #103
Thanks @pcn, should be fixed now.

[2015-01-04 07:57] #103 closed

[2015-01-04 16:10] jaxx opened #104 "Compilation error on latest Rust version"
Hi,

I'm getting the following error when compiling using latest rustc.

[code]

[2015-01-05 12:15] ChrisJan00 commented on #104
I just pulled this project and found the same problem when building.  I managed to get it working, but I'm a total noob with rust, just starting to learn now.

In codeiter.rs, starting at line 22, change Iterator declaration and insert "type Item" declaration:
[code]
In  codecleaner.rs, starting at line 38, same changes:
[code]

In main.rs, add new attribute:
[code]

That did it for me, hope this

[2015-01-06 05:45] jaxx commented on #104
Problem solved with this merge, thanks!

[2015-01-06 05:45] #104 closed

[2015-01-09 22:28] SirVer opened #109 "Provide a completer to YCM"
Great work on racer! This will be super useful once it is more dynamic.

https://github.com/Valloric/YouCompleteMe is a code completion plugin for Vim that is very sophisticated. It provides IDE like completion for C++ but integrates with other completers too. I use it for python, c++ and java and love it in all languages.

YCM has solved the UI problem in Vim completely, racer should be a complet

[2015-01-10 15:46] phildawes commented on #109
Hi SirVer,
Thanks man! I'm not a vim user but it seems a lot of people really like YouCompleteMe.

Currently I'm spending all my limited coding time on the type inference aspect of racer - I'm kind of hoping that other people might pitch in for integration with various editors.
N.B. @valloric is a rust contributor and there's this https://github.com/Valloric/YouCompleteMe/issues/1297 so fingers cr

[2015-01-10 18:25] Valloric commented on #109
I'll be integrating racer into ycmd some time in the near future.

@phildawes For the sake of speed, it would be excellent if racer were available as a library. The current approach requires calling the racer binary for each completion, which requires constant process setup/teardown. This is wasteful.

With a library API, there's yet more opportunity for perf gains. libclang for instance will buil

[2015-01-10 18:46] Valloric commented on #109
Oh, another huge benefit of a library API is that tools that want to use racers info can skip the serialization/deserialization step. With the process approach, racer gets the completion data and then serializes it to stdout, and tools then need to parse that output back into their own data-structures. Avoiding this would be great.

[2015-01-10 18:56] Valloric commented on #109
I see there's already #94 which tracks what the feature I requested.

[2015-01-10 18:56] Valloric commented on #94
Yeah, ycmd needs a library interface as well. Relevant issue https://github.com/phildawes/racer/issues/109.

[2015-01-10 21:17] Valloric commented on #94
I've looked a bit into how the [racer.vim](https://github.com/phildawes/racer/blob/master/plugin/racer.vim) integration works and I'm afraid I can't integrate racer into ycmd until racer has a library interface. The current vim integration saves the active buffer to a temp file so that racer can see the latest state of the buffer. This is a solved problem with ycmd; the YCM client sends the curren

[2015-01-11 08:38] hastebrot opened #110 "error: rustrt-4e7c5ce5c.dll is missing"
Build https://github.com/phildawes/racer/commit/4c7297c on Windows 7 (64bit) using newest Rust nightly using `cargo build`. It throws the system error when running `bin\racer.exe`.

[2015-01-11 08:42] hastebrot commented on #110
It run without errors using `rustc -O -o bin\racer src\main.rs`.

[2015-01-11 09:53] SirVer commented on #109
The internet is a tiny space really. Funny that we both developed an interest in Rust, @Valloric. What are you doing with the language? Maybe even at work?

@phildawes I agree with Val that racer should be a library first and an executable second - not only for editor integration, but it will make using it much easier and more pleasant for most tasks. Also, if Val is doing the YCM integration hims

[2015-01-11 18:27] Valloric commented on #109
I'm guessing you do C++ dev as well, which would naturally mean you'd prefer to write Rust instead for the same use-cases. :D

Not using it at work (you know how it is), just personal stuff.

[2015-01-11 20:48] phildawes commented on #109
Hi @Valloric + @SirVer!
Thanks for the input, if I get a chance I'll split out a separate library some time this week. Racer currently only parses enough of the ast to perform the query rather than a full parse of each file (and it modifies the pieces of code to make them faster to parse - e.g. an empty function body if it only needs the return type). There might be some benefit to caching, but fo

[2015-01-12 06:17] phildawes commented on #110
Hi Hastebrot, Do you mean it now works?

[2015-01-12 06:50] phildawes commented on #94
Hi Valloric,
Multi-second latency sounds pretty awful, it sounds like something might be wrong.
I get ~200ms completions on my laptop with racer. E.g.

$ time ~/src/rust/racer/bin/racer complete 4 17 /tmp/e.rs
PREFIX 17,17,
MATCH new,163,11,/usr/local/src/rust/src/libcollections/vec.rs,Function,pub fn new() -> Vec<T> {
MATCH with_capacity,198,11,/usr/local/src/rust/src/libcollections/vec.rs,Functi

[2015-01-12 16:46] hastebrot commented on #110
It works with `rustc`. However it shows the system error when using `cargo build`.

[2015-01-13 18:06] G4143 opened #111 "Where are the sources?"
You say we have to set this environment variable here

RUST_SRC_PATH=/usr/local/src/rust/src

But I can't find any source files with my Rust 1.0.0 alpha install. I can find a bunch of .html files in /usr/local/share/doc/rust/html/src but that's it. Any help will be appreciated..

Running/trying this on a Mageia Linux box.

[2015-01-13 18:10] ebfe commented on #111
The installer doesn't come with the source code. You can check it out from git https://github.com/rust-lang/rust or download it here http://www.rust-lang.org/install.html.

[2015-01-13 18:43] G4143 commented on #111
And now it works with Sublime. Thanks for pointing where to get the sources.

[2015-01-13 18:43] #111 closed

[2015-01-13 22:14] naveensrinivasan opened #112 "Not getting any autocomplete suggesstions"
I have the latest sourcecode and when I try doing the simple autocomplete it doesn't work.
`bin git:(master) ./racer complete std::io::B`

Any suggestions?

Thanks

[2015-01-13 22:44] ebfe commented on #112
I can't reproduce this with current master (c0afd513).

Running `RUST_LOG=debug racer complete std::io::B` might provide more information on what is going wrong.

[2015-01-14 02:12] naveensrinivasan commented on #112
Here is the output
➜ bin git:(master) RUST_LOG=debug ./racer complete std::io::B
DEBUG:main::racer::nameres: do_file_search std
DEBUG:main::racer::nameres: do_file_search srcpaths ~/rust/src/
DEBUG:main::racer::nameres: do_file_search v is ["~/rust/src/", "."]

[2015-01-14 07:47] ebfe commented on #112
On Tue, Jan 13, 2015 at 06:12:06PM -0800, Naveen wrote:

I think racer doesn't expand the '~'. Replacing '~' with your home
directory might help.

[2015-01-14 11:16] naveensrinivasan commented on #112
Here is what I got

➜  bin git:(master) RUST_LOG=debug ./racer complete std::io:B
DEBUG:main::racer::nameres: do_file_search std
DEBUG:main::racer::nameres: do_file_search srcpaths /Users/naveen/rust/src/
DEBUG:main::racer::nameres: do_file_search v is ["/Users/naveen/rust/src/", "."]
DEBUG:main::racer::nameres: do_external_search path ["io:B"] Some("/Users/naveen/rust/src/libstd/lib.rs")
DEBUG:ma

[2015-01-14 11:31] ebfe commented on #112
On Wed, Jan 14, 2015 at 03:16:53AM -0800, Naveen wrote:

You are missing a colon after the `std::io`.

[2015-01-14 11:33] naveensrinivasan commented on #112
Thanks. Got it!

[2015-01-14 11:33] #112 closed

[2015-01-17 09:19] phildawes commented on #94
Hello! I published the first cut of a library earlier this week: https://crates.io/crates/racer

This has had practically no testing so treat it as a starting point for feedback.
E.g. here's a client
[code]

[2015-01-17 09:43] phildawes commented on #94
Actually, scratch that. There are some real problems with doing this without a temporary file. I'll try and fix and then comment back

[2015-01-18 05:14] Valloric commented on #94
@phildawes Thanks for working on this! It seems you have some issues to shake out in the code; feel free to give a heads-up when you have something working.

For inspiration, you may want to look at [the API that libclang provides](http://clang.llvm.org/doxygen/group__CINDEX.html). It's more low-level because of the C interface, but the logical abstractions it provides are solid. For example usage

[2015-01-21 03:33] Fredmf opened #118 "strange error on osx"
when i try to start racer i get this:

dyld: Symbol not found: __ZN3ast22Expr_...std..fmt..Show3fmt20h4c4ee2316f34ef64ojjE
  Referenced from: /usr/local/bin/racer
  Expected in: /usr/local/lib/libsyntax-4e7c5e5c.dylib
 in /usr/local/bin/racer
[1]    50911 trace trap  racer

i checked all paths, everything in place

i have no /usr/local/src folder, an i dont know where the sources for rust are, so

[2015-01-21 19:21] phildawes commented on #118
This is a link error as racer starts (rather than any logic in racer). My guess is that the libsyntax library in the error message isn't the same version as the version of rust that you built racer with. Does that make sense? Try re-installing rust, then build racer with the installed version.

[2015-01-21 19:57] ellisonch opened #119 "can't compile on nightly"
I'm currently unable to compiler racer on nightly.  This is my first time trying to compile racer.

[code]
on version
[code]

[2015-01-21 20:35] phildawes commented on #119
Thanks Chucky, I'll try to get this fixed tonight. I think at the moment it
compiles with rust alpha

On Wed, Jan 21, 2015 at 7:57 PM, Chucky Ellison <notifications@github.com>
wrote:

[2015-01-21 20:54] D-Wagner commented on #119
I think that you should just be able to make the match exhaustive by adding `ast::DefaultReturn(_) => None,`.  I have it built, compiled and working (so far as I can tell) with that change.  DefaultReturn seems to behave just like NoReturn anyway.

[2015-01-22 05:55] phildawes commented on #119
Oops, forgot to push the fix I did last night. Should be fixed now.
Thanks again

[2015-01-22 05:55] #119 closed

[2015-01-23 01:42] renato-zannon opened #122 "Racer doesn't build on current Rust master"
Error:

[code]

It seems to be fallout from rust-lang/rust#20179

[2015-01-23 22:19] phildawes commented on #122
Thanks for the report, should be fixed now

[2015-01-23 22:19] #122 closed

[2015-01-27 17:08] wizeman opened #124 "racer fails when rust is installed on a read-only filesystem"
When using `racer` on `NixOS`, which mounts system directories read-only, `racer` fails to jump to a definition with the following error:

[code]

The error happens because (as I mentioned above) `/nix/store`, which is the system directory (and also where rust gets installed), is read-only.

[2015-01-28 07:10] phildawes commented on #124
Hi Wizeman,
Thanks for the report. I am working on racer not needing to save temporary files. I'm a bit limited on time this week but hopefully will have something soon. Sorry!

[2015-01-29 19:26] Shchvova opened #126 "Build fails on Jan 28th (and later) builds"
`rustc --version`
`rustc 1.0.0-nightly (c5961ad06 2015-01-28 21:49:38 +0000)`

`cargo build --release`
fails with error:
[code]
replacing body `get_backtrace` with  `return "backtrace".to_string();` helps and autocomplete works, but it is hardly a solution.

[2015-01-29 20:32] ebfe commented on #126
The underlying problem seems to be that std::rt::backtrace is missing a stability attribute. Commenting out get_backtrace in util.rs and the single call to it in nameres.rs:756 shouldn't have any ill effects, as it its only used for debug output.

[2015-01-29 21:01] Shchvova commented on #126
Thanks. That is what I basically did :+1:

[2015-02-02 06:17] #126 closed

[2015-02-02 18:47] phildawes commented on #124
Hi Wizeman,

It's just occurred to me that in this specific case the problem isn't with the racer core but rather with the vim plugin: it doesn't need to save a temporary file if the buffer is unchanged, it could just pass the filename directly to racer. Do you have any vim script experience to try and fix this?

Cheers,

Phil

[2015-02-02 18:56] wizeman commented on #124
@phildawes Sorry, but I don't... my vim knowledge is rather basic.

[2015-02-02 19:27] ebfe commented on #124
[`:help 'modified'`](http://vimdoc.sourceforge.net/htmldoc/options.html#%27modified%27)

[2015-02-02 19:52] wizeman commented on #124
According to @ebfe's pointer, could the problem be that `fileencoding` is being set?

I'm using this as my `/etc/vimrc`, which indeed seems to set `fileencoding`: http://sources.gentoo.org/cgi-bin/viewvc.cgi/gentoo-x86/app-editors/vim-core/files/vimrc-r4?revision=1.3

I'm also using `Vundle` in my `~/.vimrc`.

[2015-02-02 19:57] wizeman commented on #124
By the way, the error only happens when I jump to a system-library definition **twice in a row**, e.g.:
* When I jump from my code to e.g. the definition of `UnixStream`, it will work fine
* If I then jump from the `io/net/pipe.rs` code (where `UnixStream` is defined) to e.g. the definition of `IoResult`, I get the mentioned error

[2015-02-02 20:14] ebfe commented on #124
Thats because your code presumably resides in a writable directory and
io/net/pipe.rs is not. The vim plugin tries to write to `%:p.racertmp`
where '%:p' is the current file.

Sorry for beeing too brief. The reference to `'modified'` was mostly
because it is an easy way to check if the current buffer has been
modified (in case anyone wants to implement the workaround suggested by
@phildawes).

[2015-02-02 22:27] krzat opened #131 "Completions not working with lifetimes"
[code]

Completion doesn't work if <'a> is present in this code.

[2015-02-03 04:26] eklavya opened #132 "<command>-. doesn't jump to definitions on OS X"
Autocompletion is working fine but jump to definition is not. I did a reset of my emacs install to make sure there were no missing/bad configs. I am new to emacs so please tell me how I can supply more information to you if you need it.

[2015-02-03 07:23] phildawes commented on #131
Hi @krzat, Thanks for the bug report
I fixed this last night but forgot to push, oops! The single-quote string masking code was getting confused with lifetimes, it should work now

[2015-02-03 07:23] #131 closed

[2015-02-03 09:09] krzat commented on #131
Cool, thanks. Completion vector takes like 5 seconds though. I will think
about caching maybe, it should be pretty easy to do per file and using last
modified date to keep it fresh.

[2015-02-03 12:19] phildawes commented on #131
Hi @krzat. Wow that sounds like a long time. Is this on a release build? (cargo build --release).

How long does this take on your machine?
[code]

Caching may be the solution, but I'd like to profile first; I suspect racer is doing some unnecessary work in the area of following glob imports.
(N.B. I don't think caching is as easy as you think because racer doesn't parse/type-infer whole files)

[2015-02-03 13:46] krzat commented on #131
Yep, I didn't notice it was debug build. On release it's not bad:

real 0m1.135s

user 0m0.501s

sys 0m0.607s

I will think about the caching, for example when you do let src =
racer::load_file(&m.filepath); it seems like a good occasion to cache
everything necessary, so you don't have to open it again (unless it
changes).

[2015-02-03 14:56] eklavya commented on #73
I did some experimentation with Cargo and was able to get source roots, however when I set RUST_SRC_PATH to concatenation of those roots, it didn't work for racer. It erred out with

```Company: Back-end racer-company-complete error "/Users/eklavya/Documents/racer/target/release/racer exited with status 101" with args (candidates )```

Maybe I did something wrong.

[2015-02-04 06:12] Centril opened #134 "Borrow errors when building"
I get:
[code]

When building on Win 8.1,

[2015-02-04 12:07] phildawes commented on #134
Hi @Centril,
Which version of rustc is this? It may be that the windows nightly isn't as up to date as the linux one
Cheers,

Phil

[2015-02-04 17:54] tristancaron opened #135 "Could not compile `racer`, error from #[derive(Debug)]"
Hello

[code]

[2015-02-04 18:28] ebfe commented on #135
Most likely your rustc is too old. Work with recent nightly:

    $ rustc --version
    rustc 1.0.0-nightly (eaf4c5c78 2015-02-02 15:04:54 +0000)

[2015-02-04 21:07] tristancaron commented on #135
Ok, I used the release distributed by brew... Thank you.

[2015-02-05 01:38] Centril commented on #134
[code]

[2015-02-05 09:02] eklavya commented on #132
no love for me? :'(

[2015-02-05 15:54] phildawes commented on #132
Hi Saurabh,
Are there any error messages when you press meta-.? Anything in *messages*
that might hint at what's going on?
Also check that the key binding is 'racer-find-definition'

Cheers,

Phil

On Thu, Feb 5, 2015 at 9:02 AM, Saurabh Rawat <notifications@github.com>
wrote:

[2015-02-05 17:51] eklavya commented on #132
Hi,

I am so sorry, I am such a noob. It was supposed to be Meta+. I was doing Cmd+.

By the way, does racer pick up all sources from RUST_SRC_PATH? Any particular dir format (src/lib.rs)?
I was experimenting and got the full path from cargo but racer didn't seem to use it.

Apologies for changing the subject. I had also commented on the relevant issue.

[2015-02-06 05:39] dlight opened #138 "Can not compile: error: the trait `core::marker::Sized` is not implemented for the type `[u8]`"
I'm not sure how useful opening this issue is: either it's broken and you already know, or the problem is on my own setup, but in the latest nightly (`ba2f13ef0 2015-02-04` - I'm not sure why the nightly from 5 February isn't available), racer fails to compile, giving a really ugly output

[code]

[2015-02-06 07:50] yohanesu opened #139 "Segfault on release build"
System is Lubuntu 14.04 on 2013 Macbook Air. I just installed rust+racer and tried the test as it says in the install instructions.

./target/release/racer complete std:io segfaults

(gdb) r complete std::io
Starting program: /home/mirama/rust/racer/target/release/racer complete std::io
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib/x86_64-linux-gnu/libthread_d

[2015-02-06 12:26] phildawes commented on #138
Hi @dlight, Thanks for the report, I think this is fixed now thanks to Renato's patch #136

Cheers,

Phil

[2015-02-06 12:26] #138 closed

[2015-02-06 12:33] phildawes commented on #139
Hi @yohanesu
Thanks for the report! Nuts,  that happens on my machine too! That sucks.
I'll look into this tonight.

[2015-02-06 13:22] #132 closed

[2015-02-06 15:24] jgillich commented on #139
On my machine, the dev build doesn't segfault, but it doesn't output anything either (it should, right? source path is correct)

[code]
Latest nightly on Fedora.

[2015-02-06 16:47] lukaszlew opened #140 "Any chance for sublime plugin ?"

[2015-02-06 17:05] Shekeen commented on #140
There is one in package control.

[2015-02-06 17:08] eklavya commented on #139
There is a whole bunch of mis-happenings with this. https://github.com/rust-lang/rust/issues/22008

[2015-02-06 19:47] krzat opened #141 "let mut x = x; causes infinite loop"
[code]

Completing s. will eat all RAM and crash (on windows).

[2015-02-07 10:10] Centril commented on #134
Fixed now, thanks.

[2015-02-07 10:10] #134 closed

[2015-02-07 21:09] phildawes commented on #139
Hi @jgillich,
I get
[code]
Does your RUST_SRC_PATH include 'src'? - e.g. /usr/local/src/rust/src

[2015-02-07 22:30] phildawes commented on #141
Hi @krzat, thanks for the report

[2015-02-07 22:31] #140 closed

[2015-02-07 22:31] #135 closed

[2015-02-07 22:32] #118 closed

[2015-02-08 17:05] leshow opened #145 "illegal hardware instruction (core dumped)"
[code]
I downloaded the rust-nightly-src and unpacked it and set my RUST_SRC_PATH to it's src dir

[code]

I've no idea why racer is failing.

[2015-02-08 17:11] ebfe commented on #145
Building without the `--release` flag might help. See #139.

[2015-02-08 17:15] leshow commented on #145
sorry i tried the rust-nightly src and i got a different error, please see edited comment

[2015-02-08 17:20] ebfe commented on #145
That error looks like you updated rust but did not recompile racer. Since  racer depends on shared libraries from the rust installation, you have to recompile it everytime you upgrade rust.

[2015-02-08 17:32] leshow commented on #145
in that case, racer seems to fail to build

[code]

[2015-02-08 17:36] ebfe commented on #145
This should be fixed with #142. But it isn't merged yet.

[2015-02-08 19:49] fitzgen opened #146 "`cargo test` fails on latest rustc nightly (rustc 1.0.0-nightly (d3732a12e 2015-02-06 23:30:17 +0000))"
$ cargo test
       Compiling racer v0.0.1 (file:///Users/fitzgen/src/racer)
    src/racer/scopes.rs:12:22: 12:30 warning: variable does not need to be mutable, #[warn(unused_mut)] on by default
    src/racer/scopes.rs:12 fn find_close<'a, A>(mut iter: A, open: u8, close: u8, level_end: u32) -> Option<usize>
                                                ^~~~~~~~
    src/racer/scopes.rs:117:42: 1

[2015-02-09 11:41] dariusc93 commented on #139
@phildawes it happens in release mode. I, too, get such an error in release mode while on Ubuntu 14.04 and 14.10 (though I know its not OS related but possibly related to rust itself)

[2015-02-09 15:45] #145 closed

[2015-02-09 15:48] phildawes commented on #139
Hi @dariusc93, I think it's os + rust related: people on osx seem to be ok. On ubuntu linux I too get the segfault on the release build but ok albeit slow on debug. (N.B. my reply to @jgillich was about the debug build, didn't make that clear sorry)

[2015-02-09 15:50] phildawes commented on #146
Hi @fitzgen, What platform/environment is this on?
-Thanks

[2015-02-09 15:52] fitzgen commented on #146
OSX Yosemite.

Can give more info when not on my phone.
On Feb 9, 2015 7:50 AM, "Phil Dawes" <notifications@github.com> wrote:

[2015-02-09 20:56] krzat commented on #146
I have the same "Sorry, I didn't understand command" on release on windows too, but it's probably Rust bug since debug build works fine. Something is wrong with the match, because
[code]
works fine.

[2015-02-10 08:27] KaiserY commented on #146
Maybe the same problem, on Linux I got this:

./target/release/racer complete std::io::B
Illegal instruction (core dumped)

Platform: Fedora 21 x86_64

[2015-02-11 10:26] monnand opened #148 "Illegal instruction when compiled with --release"
I compiled racer with ``cargo build --release`` and the generated binary will crash with error ``Illegal instruction (core dumped)``. The problem will disappear when I compile it without ``--release`` flag.

My CPU is AMD FX(tm)-4130 Quad-Core Processor. Run racer within gdb, I got the following message:

[code]

It seems that it is related to the rust's compiler. Here is the version I'm using:

[

[2015-02-11 10:29] monnand commented on #148
This is reported in #139. So I'll close this issue.

[2015-02-11 10:29] #148 closed

[2015-02-11 21:42] #139 closed

[2015-02-11 22:01] renato-zannon commented on #146
@KaiserY @krzat  the segfault and "Sorry, I didn't understand command" were fixed (actually, worked around) recently! Could you try building again?

[2015-02-11 22:04] renato-zannon commented on #146
@fitzgen I couln't reproduce the test failures with `rustc 1.0.0-nightly (74b874071 2015-02-08 00:24:03 +0000)` on linux-x86_64. Can you test again with a newer nightly and updated racer?

[2015-02-11 22:51] yohanesu opened #151 "Crashes when completing std::libc::"
Hi!

I've been having this issue since I installed racer a few days ago and today I did a git pull and rebuilt racer but still the same issue exists.

mm@JMBA-DEV:~/rust/racer$ target/release/racer complete std::libc::
bogofile:1:9: 1:14 error: file not found for module `types`
bogofile:1 pub mod types ;
                   ^~~~~
bogofile:1:9: 1:14 help: name the file either types.rs or types/mod.r

[2015-02-11 23:04] KaiserY commented on #146
@renato-zannon Well, updated your workaround and all went well, thx for the fix.

[2015-02-11 23:41] fitzgen commented on #146
@renato-zannon puled latest racer and latest rust and tests pass now, but I don't get any completions:

    $ export RUST_SRC_PATH=/Users/fitzgen/src/rust

    $ ./target/release/racer complete std::io::B

    $ ./target/release/racer complete std::old_io::B

[2015-02-12 01:35] renato-zannon commented on #146
@fitzgen You need to point `RUST_SRC_PATH` to the `src` directory inside the rust distribution, not on the root

[2015-02-12 02:05] fitzgen commented on #146
@renato-zannon ah, ok it works now! Thanks!

[2015-02-12 02:05] #146 closed

[2015-02-13 19:39] leshow commented on #145
so if i build again (https://aur.archlinux.org/packages/racer-git/) all should be well?

[2015-02-15 01:25] ReanGD opened #154 "Can't compile"
$ rustc --version
rustc 1.0.0-nightly (b9ba643b7 2015-02-13 21:15:39 +0000)

$ cargo build --release
   Compiling racer v0.0.1 (file:///home/tmp/racer/racer)
src/racer/nameres.rs:312:20: 312:40 error: unresolved name `std::env::var_string`
src/racer/nameres.rs:312     let srcpaths = std::env::var_string("RUST_SRC_PATH").unwrap_or("".to_string());
                                            ^~~~~~~

[2015-02-15 01:45] ebfe commented on #154
#152

[2015-02-15 01:58] ReanGD commented on #154
Sorry for the duplicate. Close

[2015-02-15 01:58] #154 closed

[2015-02-15 08:33] phildawes commented on #151
Hi @yohanesu ,
For the record, I get a recursive loop when I complete std::libc::
Marking as bug

[2015-02-15 08:46] yohanesu commented on #151
Yes, that was what I meant. Not crash.. It uses 100% for a long time and eventually exits.

[2015-02-15 08:57] phildawes commented on #151
cool thanks

[2015-02-15 21:07] pharno opened #156 "make Racer available as library"
after all, this is intended to be used by IDE's and such, so for developers it would help to have racer available as a crate.

[2015-02-16 07:40] tafia commented on #156
Isn't it a duplication of #94 ?

[2015-02-16 07:42] pharno commented on #156
It is. Sorry, must have missed it.

[2015-02-16 07:42] #156 closed

[2015-02-16 08:00] tafia commented on #94
@phildawes what exactly is the issue in not using temporary files ?

[2015-02-17 08:02] phildawes commented on #94
Hi @tafia,

The problem is that racer loads files from disk as it searches. In the above case even though the code text is being passed in, racer attempts to load the 'file' later if it needs to recursively resolve a path or type in the same text. This means that it fails if the code being passed as text doesn't match what's on the filesystem. Does that make sense?

I guess instead racer should be

[2015-02-17 15:08] oblitum commented on #94
@phildawes I'd like just to point out that the libclang completion interface is not ideal, in case you're going to use it for inspiration at any time. The defect I think it has is to provide a single form of obtaining completions. `clang_codeCompleteAt` currently fits well for obtaining suggestions of text that may fit a _locus_ but, for example, it's not ideal when obtaining function parameters a

[2015-02-17 23:27] Valloric commented on #94
@oblitum You make a good point, but there's nothing stopping racer from having additional API methods for getting function params etc. Also, racer is at a pretty early stage where just having an API function (instead of a command-line setup) that will provide semantic names available at a cursor location (while doing proper caching etc) would be a big jump.

"Walk before you run" sort of thing.

[2015-02-18 03:07] oblitum commented on #94
@Valloric Indeed, I'd just like to point out this to bring awareness on the issue so it's avoided.

[2015-02-18 03:09] oblitum commented on #94
@Valloric early planning this can avoid a lot of internal refactoring.

[2015-02-18 22:00] renato-zannon opened #157 "Racer spawns a large number of one-off threads... why?"
On `src/racer/ast.rs`, there are multiple methods whose implementation looks something like this:

[code]

Since this is using `Thread::scoped` (which makes the parent thread wait on the `thread.join()` call), there isn't any gain in performance here - on the contrary, there's a big performance loss. On my linux system, a call to `racer complete std::old_io::` spawns 108 threads, and spends almost

[2015-02-19 13:02] phildawes commented on #157
Hi Renato,
You are correct in thinking it was originally to catch panics. Racer has got much better at passing parsable blobs of code to libsyntax now so it's not needed and remains mainly because of my lazy copy-paste coding style! Feel free to fix if you want, or I'll repair it when rust-lang/rust#22435 hits.

BTW Thanks for pointing me at rust-lang/rust#22435 - I'll check out the discussion.

C

[2015-02-20 05:52] #157 closed

[2015-02-20 05:53] phildawes commented on #157
This is great, thanks Renato

[2015-02-22 07:06] jakerr opened #160 "Racer vim fails silently if RUST_SRC_PATH is not set"
For example when I `gd` with cursor over a symbol like
[code]

All I see is a message that says
[code]

It turns out I'd mistakenly omitted `export` before `RUST_SRC_PATH = ...` in my `.zshrc`
An error message would be nice.

[2015-02-22 07:07] jakerr commented on #160
I'm going to take a look at adding a quick error and will send a PR.

[2015-02-24 17:56] bollu opened #162 "racer crashes when an invalid file is given to it"
looks like libsyntax panics when you pass a syntactically invalid rust file to RACER. I'm trying to convert RACER in a library, so it _cannot_ crash, since the crash then propagates through FFI boundaries, tearing *everything* down with it.  Does anyone know any solution to this?

[2015-02-25 08:00] skariel opened #163 "installation problem"
hi, I didn't see any forum so opening my problem here:

I just installed Rust nightly on Ubuntu and the compiler and cargo seem to work however when when trying to compile racer with `cargo build --release` I get the error below. I'm new to Rust most probably I'm doing something wrong...

[code]

[2015-02-25 12:04] tafia commented on #163
Hi
This is due to rust changes. Racer needs an update since io has re-landed
on rust.
 On 25 Feb 2015 16:00, "Ariel Keselman" <notifications@github.com> wrote:

[2015-02-25 16:31] Stebalien opened #165 "Hide inaccessible members and functions"
Currently, racer completes private struct members and functions cross module.

[2015-02-27 21:37] balta2ar commented on #163
Same here :(

[2015-02-28 16:29] Peekmo commented on #163
With the dev version of rust, it compiles.

[2015-02-28 17:34] skariel commented on #163
yep. can confirm

[2015-02-28 17:34] #163 closed

[2015-02-28 19:59] balta2ar commented on #163
@Peekmo @skariel I'm new to rust, could you please give more details on how to compile racer with dev version of rust? I've cloned rust from github and compiled it, what next?

[2015-03-01 18:57] balta2ar commented on #163
Answering my own question, I did it as follows:
[code]

[2015-03-02 03:16] tafia commented on #165
@phildawes just to be sure, everything should be done in matchers.rs ?
With `local` variable and `pub` keyword ?

[2015-03-02 06:13] phildawes commented on #165
Hi @tafia,
I think for field the problem is in nameres::search_struct_fields() and ast::parse_struct_fields(). It should be using the 'visibility' attribute in the parsed ast 'NamedField' type.

[2015-03-02 09:51] smallb opened #167 "Compile error in Windows"
f:\OpenSource\racer>cargo build --release
   Compiling racer v0.0.1 (file:///F:/OpenSource/racer)
src\racer\scopes.rs:15:21: 15:27 error: illegal suffix `usize` for numeric literal
src\racer\scopes.rs:15     let mut count = 0usize;
                                           ^~~~~~
src\racer\scopes.rs:230:21: 230:27 error: illegal suffix `usize` for numeric literal
src\racer\scopes.rs:230     let m

[2015-03-02 12:31] phildawes commented on #167
Which version or rust is this? It looks like it might be too old to run racer

[2015-03-02 18:42] ChristophHusse commented on #167
I also had this error today on Windows. You need to update rust!

Fails on:

rustc 1.0.0-nightly (b63cee4a1 2015-02-14 17:01:11 +0000)

Succeeds on:

rustc 1.0.0-nightly (157614249 2015-03-01) (built 2015-03-02)

[2015-03-03 01:51] smallb commented on #167
;)  thanks~~~

[2015-03-08 14:41] l33tas commented on #167
Also doesn't build on linux with
rustc 1.0.0-dev (built 2015-02-23)
cargo 0.0.1-pre-nightly (dd7c7bd 2015-03-04) (built 2015-03-04)

Getting a bunch of trait not implemented errors like this:

    error: the trait `core::ops::Fn<(char,)>` is not implemented for the type `&str` [E0277]
    src/racer/scopes.rs:62                     let newstart = blob.find("{").unwrap() + 1;

and a few different er

[2015-03-09 06:59] phildawes commented on #167
Hi @l33tas, your rustc is too old I'm afraid
Cheers,
Phil

[2015-03-09 09:58] l33tas commented on #167
It works now. Thanks!

[2015-03-14 01:56] binary132 opened #170 "unresolved import `syntax::ast::Method_`"
[code]

[2015-03-14 07:29] #170 closed

[2015-03-15 13:40] jburky opened #172 "Compile Error - unresolved import `syntax::ast::ImplItem_`."
[code]
This may be related to #170.

[2015-03-15 13:45] jburky commented on #172
I will pull nightly rust and try again just to make sure.

[2015-03-15 13:48] jburky commented on #172
Ha!  Looks like it worked.

[2015-03-15 13:48] #172 closed

[2015-03-17 21:50] ismk opened #173 "3"

[2015-03-17 21:50] #173 closed

[2015-03-18 02:46] sendyhalim opened #174 "Compile error in linux ubuntu 14.04 LTS"
I'm newbie in rust and vim, I tried to
`cargo build --release --verbose`

then error showed up:

[code]

[2015-03-18 08:16] dariusc93 commented on #174
Does it happen without release? What version of rust?

[2015-03-18 08:27] sendyhalim commented on #174
@dariusc93
Yes, it happens without release `cargo build`

[code]

[2015-03-18 08:28] dariusc93 commented on #174
I do not know if it would make a difference but you may want to try the latest built.

[2015-03-18 08:34] sendyhalim commented on #174
@dariusc93 yep maybe I'll just wait till rust v1.0 stable comes out.

[2015-03-18 17:17] dariusc93 commented on #174
@sendyhalim It is an issue with the version of rust you are using. I've just compiled racer with "rustc 1.0.0-nightly (30e1f9a1c 2015-03-14) (built 2015-03-15)" and it works fine

[2015-03-19 04:53] sendyhalim commented on #174
@dariusc93 yea  it works fine on latet built. I'm closing this.

Thanks

[2015-03-19 04:53] #174 closed

[2015-03-19 14:31] kl4ng opened #175 "Fedora 21 fails to compile"
After cloning and running ```cargo build --release``` I get the following output.

My rustc version is ```rustc 1.0.0-nightly (ea8b82e90 2015-03-17) (built 2015-03-18)```

[code]

[2015-03-20 00:03] Strikingwolf opened #176 "[BUG] Fails to compile/build on Mac"
Failed to build on Rust version 1.0.0 nightly ea8b82e90 2015-03-17.

[code]

[2015-03-20 01:18] uadjet commented on #175
Exact same error on Linux Mint
Rust Version: rustc 1.0.0-nightly (ea8b82e90 2015-03-17) (built 2015-03-18)

[2015-03-20 03:13] smallb opened #178 "Is a Bug?"
![qq 20150320105719](https://cloud.githubusercontent.com/assets/3250973/6745309/633ef900-cef0-11e4-8b75-a74a09141526.png)

the crash callstack

first:
00000000`6f90a040 41b901000000    mov     r9d,1
00000000`6f90a046 4889f9          mov     rcx,rdi
00000000`6f90a049 4c89fa          mov     rdx,r15
00000000`6f90a04c 4989e8          mov     r8,rbp
00000000`6f90a04f e83ce9feff      call    syntax_4e7

[2015-03-20 18:43] bungcip commented on #175
#177 fixed this error

[2015-03-21 19:27] vincom2 commented on #176
Have you not pulled recently? That's not what [line 33](https://github.com/phildawes/racer/blob/ef93b7624ef357871884fd234b2aca04ba04405a/src/racer/ast.rs#L33) and [line 778](https://github.com/phildawes/racer/blob/ef93b7624ef357871884fd234b2aca04ba04405a/src/racer/ast.rs#L778) look like in the current code.

[2015-03-22 13:45] jeremyjh opened #179 "cannot compile on rustc 1.0.0-nightly (ecf8c64e1 2015-03-21) (built 2015-03-22)"
There are a couple of problems. We have lots of undeclared uses of Path.

[code]

If I use std::path::Path everywhere, I still get an error:

[code]

This is on Ubuntu 14.04.

[2015-03-22 20:06] Ell commented on #179
Getting this too, just pulled down nightly as of 03-22-2015.

[2015-03-22 23:26] Strikingwolf commented on #176
I'll do another pull

[2015-03-22 23:59] Strikingwolf commented on #176
Seems like it worked. Strange that it didn't work before

[2015-03-22 23:59] #176 closed

[2015-03-23 11:02] jan-hudec commented on #179
The reason for

    trait `core::marker::Sized` is not implemented for the type `[u8]`

is that `std::path::Path` is unsized type similar to `str` while analogue of `String` is `std::path::PathBuf`. Also the `join_many` function seems not to be there (documentation only shows it for `std::old_path::Path`).

[2015-03-23 11:37] jan-hudec commented on #179
The `Path` is supposed to still be `std::old_path::Path`. There are two ways to get the code to compile:

1. Add imports for `std::old_path::Path` and other `old_io` traits that are no longer imported by default: `std::old_io::Reader`, `std::old_io::BufferPrelude` and `std::old_path::GenericPath`.

2. Port the code to the now stable new io. Here it's important to note, that `std::path::Path` is un

[2015-03-23 13:08] oakes commented on #179
@jan-hudec I already ported the code to the new io, see #180.

[2015-03-23 13:16] #179 closed

[2015-03-26 05:02] johnjelinek opened #181 "unable to build racer in Linux"
[code]

[code]

[2015-03-26 14:41] Shiftlesss commented on #181
Same error on windows

[2015-03-26 17:32] jan-hudec commented on #181
[code]

makes it compile. I am not sure what to test to make sure the fix is actually correct though

[2015-03-26 19:17] johnjelinek commented on #181
I'm still new to Rust -- can you explain what's going on in that line?

[2015-03-26 19:29] jan-hudec commented on #181
@johnjelinek, it's a destructuring let. The `optional_s` is of type `Option<ast::Name>`, which can have either value of `None` or value of `Some(name)` where `name` is of type `ast::Name`. And `if let` evaluates the “then” branch if the value is of the listed form.

The type used to be `Option<(InternedString, StrStyle)>`, so it was matched as `Some(ref istr, _)` (the second item in the pair being

[2015-03-26 19:31] johnjelinek commented on #181
great explanation, thanks!

[2015-03-26 19:34] johnjelinek commented on #181
@jan-hudec: You should consider submitting a PR with that change!

[2015-03-28 10:43] #181 closed

[2015-04-03 18:16] ruabmbua opened #183 "Missing module racer::cargo"
I am trying to compile racer on beta 1.0.0, but it fails due to a missing module named `cargo`. It is imported from multiple locations and fails because of the missing module.

Maybe forgot to stage the `racer/cargo` module, and commit it?

[2015-04-03 19:40] jroblak commented on #183
Getting the same issue. The cause is:
[code]
on line 16 of mod.rs

[2015-04-03 21:10] phildawes commented on #183
Duh! I forgot to git add cargo.rs. Thanks for the heads-up; I've pushed it now
N.B. I don't think racer will work with rust-beta as it stands, because it uses unstable features and they're not allowed with the beta channel

[2015-04-03 21:10] #183 closed

[2015-04-03 21:28] Rydgel opened #184 "Could not compile racer with current rust 1.0.0-beta"
The use of unstable features has been disabled.

[code]

A short term work-around would be to keep using rust-nightly for the time being.
But I think it will be cool for racer to support stable releases too.
What do you guys think of this?

[2015-04-03 22:26] phildawes commented on #184
I agree it would be cool, but I'm not sure what's involved yet. Things like path.exists() are pretty useful to racer - hopefully path_ext will stabilize soon (or there will be a crates.io crate for it).

[2015-04-03 22:32] phildawes commented on #73
I added some support for cargo dependencies into Racer. This is only tested on my ubuntu box - I guess it should work on mac but I'm not sure about windows. If anybody tests on these OSes could they report back here please? - Thanks!

[2015-04-04 01:54] MarkSwanson opened #185 "\o/ Thanks! (and Cargo path support)"
I'm really pleased you now support 'Go to Definition' for crates pulled in by Cargo.
It's super helpful when learning new APIs.

Request: I currently work on multiple crates that I'm building locally and use 'path' instead of 'git' to point to the crate/src. Please accept my vote to support 'path' next.

Thanks!

Example:
[dependencies.mylib]
path = "../mylib/"

in addition to how you search for g

[2015-04-04 07:43] phildawes commented on #185
Hi Mark, Thanks, will do that next

[2015-04-04 10:33] phildawes commented on #185
Hi Mark,
I've made an attempt at implementing this - could you give it a try please?
Also, what platform are you running on?
N.B. My implementation doesn't normalize the file path, so e.g. the resolved crate root filename in your example would be e.g. '/path/to/project/../mylib/src/lib.rs'

Thanks!

[2015-04-04 13:12] ruabmbua commented on #183
Thanks for solving. No it should not be a problem to build it in beta. The rust compiler itself uses unstable features, and there is an environment variable, to bypass the checking even in beta.

[2015-04-04 13:12] MarkSwanson commented on #185
Platform = linux + mac; both with vim.

Your changes work perfectly.
Thanks Phil!!!

[2015-04-04 13:12] #185 closed

[2015-04-04 23:15] AndrewGaspar commented on #184
I had the same negative reaction at first (just starting Rust, so this was an unpleasant surprise!). However, it seems like a lot of pretty core functionality is being blocked as "unstable". I would expect most of this stuff will be stabilized by the final 1.0 release. I would think racer should just wait and see what the final release of 1.0 holds, which racer should absolutely support.

[2015-04-05 03:19] norcalli commented on #160
You should probably close this since the PR was merged.

[2015-04-05 06:38] #160 closed

[2015-04-05 08:14] by90 commented on #184
maybe all ide solution based on racer,that's mean...all guys should play rust without ide, until 1.0 release.

[2015-04-05 08:32] by90 commented on #184
http://doc.rust-lang.org/1.0.0-beta/std/path/struct.Path.html
for path.exists...here,it's stable.

[2015-04-05 08:34] zsiciarz commented on #184
Not really, the [PathExt](http://doc.rust-lang.org/1.0.0-beta/std/fs/trait.PathExt.html) trait is unstable.

[2015-04-06 16:10] #175 closed

[2015-04-06 16:10] #167 closed

[2015-04-06 16:13] phildawes commented on #73
I believe the new cargo support fixes this issue, closing!

[2015-04-06 16:13] #73 closed

[2015-04-07 08:09] byronyi opened #186 "Cannot compile with the latest Rust-dev"
[code]
The log of
[code]
is [here](https://gist.github.com/byronyi/bb3d3d9e9e311e16b4fe).

[code]

[2015-04-07 08:24] byronyi commented on #186
It seems the API changes and some extra enum type for error checking is added.

It seems easy to fix this, and I would rather submit a patch if I am not a newbie who just gets started on rust for a few days. I will try, though.

[2015-04-07 16:37] byronyi opened #188 "Fail to complete due to failure of `rustc -Z parse-only`"
When I turn on vim's logging, I found something lilke
[code]

But there is no output for ``rustc -Zparse-only`` whatsoever:

[code]

Therefore I see no completion with racer. Is there anything going wrong?

[2015-04-07 20:20] phildawes commented on #188
Hi @byronyi. I don't think this is Racer, it doesn't use rustc. Are you running flymake or something?

[2015-04-08 04:28] byronyi commented on #188
Oh yes, it seems to be a matter of settings.

By the way, since I am using YCM, the config I managed to skip typing ``<c-space>`` every time is like this:

[code]

[2015-04-08 04:28] #188 closed

[2015-04-08 14:09] jakerr opened #189 "Support `super` and `self` in find_definition"
[code]

The lookup should work for inner mods in the same file as well as mods other files included in their parent with
[code]

[2015-04-08 14:50] #186 closed

[2015-04-08 14:57] phildawes commented on #184
Closing because racer is unlikely to be able to be built against rust beta as it relies on libsyntax internals that aren't in rust-beta. Hopefully we can do something for rust-1.0.
N.B. For 1.0 we will probably need to fork rustc into its own crate since rustc won't be stable for 1.0. Either that or provide racer binaries.

[2015-04-08 14:57] #184 closed

[2015-04-08 14:58] phildawes commented on #178
Does this happen with the latest rust nightly + racer? - Thanks!

[2015-04-08 15:01] phildawes commented on #162
Hi @bollu, I think most of the crashyness should be cleaned up now. If you come across new crashes, could you open a bug (or re-open this one) with a stack dump please?
Thanks!

[2015-04-08 15:01] #162 closed

[2015-04-08 15:03] phildawes commented on #151
I think this is fixed now, closing

[2015-04-08 15:03] #151 closed

[2015-04-09 00:48] MarkSwanson opened #191 "include!() support"
Hello,

It would be *great* to have racer work with capn proto generated Rust code.
I *think* this is an include!() problem. You can test this for yourself like this:

- git clone https://github.com/dwrensha/capnpc-rust
- cd capnpc-rust
- cargo build   (probably requires nightly rustc)
- cd example/addressbook
- vi addressbook.rs
- try to 'gd' on line 39 address_book.init_people(2) -> not found (i

[2015-04-09 02:06] MarkSwanson opened #192 "how to enable logging?"
I'd like to take a stab at modifying racer, but I can't seem to get logging to work.

How do you configure things so debug!() writes the logs to a file somewhere?

Thanks.

[2015-04-09 02:20] yohanesu opened #193 "parse_stmt_nopanic() not found"
Hi!
Getting build error on Mac OS X with
rustc 1.0.0-beta (9854143cb 2015-04-02) (built 2015-04-02)

src/racer/ast.rs:41:17: 41:37 error: type `&mut syntax::parse::parser::Parser<'_>` does not implement any method in scope named `parse_stmt_nopanic`
src/racer/ast.rs:41         match p.parse_stmt_nopanic() {
                                    ^~~~~~~~~~~~~~~~~~~~

[2015-04-09 02:31] yohanesu commented on #193
Sorry, just downloaded nightly and it builds fine..

[2015-04-09 02:31] #193 closed

[2015-04-09 06:37] phildawes commented on #192
Hi Mark,
You have to set the environment variable RUST_LOG=debug  (or RUST_LOG=racer=debug if you only only want the logging from the racer crate).
Hmmm... Now that you mention it I can't find RUST_LOG documented in the rust docs

Cheers,

Phil

[2015-04-09 06:37] phildawes commented on #192
Oops - closed by mistake

[2015-04-09 06:47] phildawes commented on #191
Does capnpc-rust write the addressbook generated source anywhere? Racer currently needs the source code to do completions / find definitions at the moment

[2015-04-09 11:23] MarkSwanson commented on #191
It does, and this may be the tricky part because it relies on an OUT_DIR env var supplied by rustc.

For example, on my system the source file winds up here:
    target//debug/build/addressbook-20f8a45beadaa3ee/out/addressbook_capnp.rs

The include!() to find the file is:
    include!(concat!(env!("OUT_DIR"), "/addressbook_capnp.rs"));

[2015-04-10 09:20] #192 closed

[2015-04-10 13:27] JustAPerson commented on #192
@phildawes
This has been deprecated in the standard distribution, see [this comment](https://github.com/rust-lang/rust/issues/3309#issuecomment-68273049).
This functionality has moved to the [log](https://crates.io/crates/log) and [env_logger](https://crates.io/crates/env_logger) crates. To explain, the `debug!()`-esque macros have moved to the `log` crate, which provides a general logging API. Ho

[2015-04-12 04:06] arnm opened #194 "Vim neocomplete integration"
It would be nice if there were instructions on how to add the completions to popular completion engines.

I, for one, love [neocomplete](https://github.com/Shougo/neocomplete.vim), a Vim completion plugin. Here is what I have done so far to integrate racer completions as a source for neocomplete.

neocomplete calls the omnifunc, if it is available. This means that all one has to to do to provide r

[2015-04-12 06:25] phildawes commented on #189
Hi Jake, thanks for filing this. Marking as bug

[2015-04-12 07:48] phildawes commented on #189
I added a hack to support for self and super at the start of paths. I'm not sure it's the best way to do it yet but for now this fixes the bug. thanks @jakerr

[2015-04-12 07:48] #189 closed

[2015-04-12 19:17] ane opened #195 "Weird bogofile errors in the Emacs binding"
Using Rust nightly 2015-04-12 on Ubuntu 14.04 and HEAD of racer, upon completing `use std::io::B` (the only contents of the file) from Emacs it doesn't work. On the command line it works fine. Tested with a clean emacs environment in only rust-mode and company enabled.

When I debug `racer--candidates` [(racer.el:56)] (https://github.com/phildawes/racer/blob/master/editors/racer.el#L56), while eva

[2015-04-13 05:46] phildawes commented on #195
Hi @ane,
I haven't been able to reproduce this on my setup. I created a clean user on ubuntu 14.04. My emacs and rust nightly versions are:
[code]
I'm on rust-mode HEAD and racer HEAD.
I eval'd the following from .emacs file:
[code]
Pressing tab after
```use std::io::B```
works ok. I will try pulling a more recent nightly tonight after work, but if things are working on the command line then I sus

[2015-04-13 07:59] ane commented on #195
A-ha! I found what caused it!

I had rust installed in `~/rust/`, so my `racer-rust-src-path` was set to that. On the command line, the shell racer runs in does the expansion for it, but I suspect that Emacs' `(setenv "RUST_SRC_PATH" racer-rust-src-path)` does *not* expand the `~` in it.

I managed to fix it by adding `(expand-file-name racer-rust-src-path)) to the `setenv` calls. I can submit a P

[2015-04-13 08:11] ane commented on #195
Also out of curiosity: in racer.el, why is `company-idle-delay` set to `nil`? I'd like to have automatic completion after the minimum amount of chars are typed, setting the variable forces manual completion.

[2015-04-13 14:00] bruno-medeiros opened #196 "Racer basic completion example not working on Windows"
I tried to install and racer run the basic example:
`./target/release/racer complete std::io::B`
on windows, but it just outputs an empty line. On Linux it worked fine.

I downloaded: rust-nightly-x86_64-pc-windows-gnu and rustc-nightly-src.tar (for the src/ folder), ran this on Cygwin:
`export RUST_SRC_PATH="D:/devel/tools.Rust/rustc-nightly/src" ; ./target/release/racer.exe complete std:io::` bu

[2015-04-13 14:40] max6cn commented on #195
same here, after adding expand-file-name tab works fine (maybe specify this on example configuration?)

[2015-04-14 06:31] GBGamer opened #198 "Issue with `#![no_std]`"
I'm not sure if this is an actual bug, or I set something up wrong, but whenever I attempt to complete, I get the following message:

[code]

[2015-04-14 11:52] #195 closed

[2015-04-14 11:53] phildawes commented on #198
Hi @GBGamer. Does the racer binary run ok on the command line?
If so, post your emacs settings here

[2015-04-14 11:57] phildawes commented on #196
Hi Bruno,
I'm afraid I don't have a windows box to try this on.
Can anybody else help Bruno? Is racer working on windows at the moment?

Cheers,

Phil

[2015-04-14 15:12] GBGamer commented on #198
I've figured it out; racer (I guess), currently doesn't work with `#![no_std]`, as it works when I use it on another project, but not on my `#![no_std]` game. In the command line, it says:

[code]

[2015-04-14 15:15] GBGamer commented on #198
In order to test this, run `racer complete 9 21` on this file: [gist][error].

[error]: https://gist.github.com/GBGamer/0bdbe9c8cc039798f11f

[2015-04-14 15:23] bruno-medeiros opened #199 "Questions about Racer integration input and output."
This is not a bug report, but rather I have some questions about the usage of Racer for IDE integration. Some of it I couldn't figure out just by experimenting.
`usage: D:\devel\tools.Rust\racer\target\release\racer.exe complete linenum charnum fname`
What is charnum in here? Is it the column number? Is this a zero-based or one-based index?

On the output of complete:
`PREFIX 1,1,`
What does this

[2015-04-14 15:27] bruno-medeiros commented on #196
Ha, I need to clarify something that I misunderstood at first: I can get completion to work for symbols defined in my source file (didn't realize this at first).

What is definitely not showing up are completions for standard library elements.

Perhaps it's something related to how RUST_SRC_PATH is read? If I put a bogus path there, I get the same behavior as the valid RUST_SRC_PATH, Racer won't c

[2015-04-14 15:42] axeoth commented on #196
I think the PATH should be passed as: RUST_SRC_PATH='/cygdrive/d/devel/tools.Rust/rustc-nightly/src'. See: http://stackoverflow.com/a/15994344

[2015-04-14 17:18] bruno-medeiros commented on #196
The fact that I ran Racer from Cygwin is irrelevant, as Racer is not a Cygwin app. If I run it from the windows shell, the result is the same.

[2015-04-14 17:20] bruno-medeiros commented on #196
But maybe Racer is tripping up with the "D:" in the path variable though? Just a guess...

[2015-04-15 05:49] phildawes commented on #198
Thanks @GBGamer - I'll check this out tonight

[2015-04-15 05:55] phildawes commented on #199
Hi Bruno,
Charnum is 0 indexed column, linenum is 1 indexed line.  This is how emacs works and I started with that. The PREFIX output tells the editor how many characters before the complete are part of the completed term.
Hope that helps

[2015-04-15 05:57] phildawes commented on #178
closing. Please re-open if still an issue. Thanks!

[2015-04-15 05:57] #178 closed

[2015-04-15 10:35] bruno-medeiros commented on #199
Another question, in the MATCH output, for example:
`MATCH other;other(${1:foo: i32});19;3;D:\devel\DDT\_runtime\RustProj\src\main.rs;Function;fn other(foo: i32) {`
The 6th field ("Function" in example above), which I guess denotes the kind of element, what are all the possible values for that field?

[2015-04-15 12:27] drewcrawford opened #200 "RUST_SRC_PATH does not like tilde"
[code]

I claim tilde paths should "just work", but if not that, then at least something exciting should happen that suggests there's something wrong with the path, rather than silent exit with return code 0.

[2015-04-16 03:09] GBGamer commented on #200
Try typing `echo ~` and tell me what happens. Make sure not to quote the tilde.

[2015-04-16 03:18] drewcrawford commented on #200
[code]

[2015-04-16 03:19] GBGamer commented on #200
Okay, now try doing the RUST_SRC_PATH without the quotes. That should temporarily fix it as I try to figure out what's wrong.

[2015-04-16 03:54] GBGamer commented on #198
Okay, this bug is invalid. I figured out what is actually wrong: I used a tilde in `RUST_SRC_PATH`.

[2015-04-16 03:54] GBGamer commented on #198
I'm really sorry...

[2015-04-16 03:54] #198 closed

[2015-04-16 03:56] GBGamer commented on #200
Well, this seems to be due to `std::path` not expanding the tilde, and in fact was the cause of an issue I filed earlier. Just use the full path from now on, I guess, is my advice.

[2015-04-16 07:00] phildawes commented on #198
No worries, glad you sorted it

[2015-04-16 18:18] jaxx opened #201 "Racer fails with certain completion - using std::io module"
Hello,

I have a problem with Racer in Windows. After I type this line
`let stdin = std::io::stdin().` and insert dot, then Racer stops working. If this helps I see in Sublime console following line: `failed: exit_code: 255 b'PREFIX 28,28,\n'`. But I don't have problem with other modules and completion works ok. I used old_io so far, but it was removed from Rust and now I must use correct io modul

[2015-04-16 22:11] rohitjoshi opened #202 "Racer build fails"
OS: OSX 10.10.3
    cargo 0.0.1-pre-nightly (84d6d2c 2015-03-31) (built 2015-03-31)
    rustc 1.0.0-beta (9854143cb 2015-04-02) (built 2015-04-02)
    git branch: master , checked out today

$cargo build
   Compiling rustc-serialize v0.3.12
   Compiling toml v0.1.20
   Compiling racer v0.0.1 (file:///projects/rust/racer)
src/racer/ast.rs:41:17: 41:37 error: type `&mut syntax::parse::parser::Parser

[2015-04-17 12:34] contradictioned commented on #202
+1

[2015-04-17 15:25] rillian commented on #202
Yesterday's rustc-1.0.0-beta.2 gets further, building except for unstable feature errors.

[code]

[2015-04-17 19:32] #201 closed

[2015-04-17 19:33] phildawes commented on #201
Hi @jaxx. Thanks for filing this, your test case helped me isolate the problem to the handling of 'super::"

[2015-04-17 19:39] phildawes commented on #202
Oh that's interesting, I didn't realise there was a beta 2 out. It may be feasible to make racer work with this beta (and therefore 1.0!) by depending on https://github.com/erickt/rust-syntex instead of libsyntax.

[2015-04-18 06:36] jaxx commented on #201
Now it works great, thanks!

[2015-04-18 08:37] jakerr commented on #189
Awesome thanks for that quick fix! I verified that it's working after 264288383adabffc2469cfebd1ece842627bd561 for all the cases I reported.

[2015-04-18 09:04] phildawes commented on #199
Hi Bruno,
These come from the enum in
https://github.com/phildawes/racer/blob/master/src/racer/mod.rs#L22

[2015-04-18 09:04] #199 closed

[2015-04-18 09:28] phildawes commented on #200
Hi @drewcrawford, @GBGamer
I think '~' is something that the shell expands, it's not a valid path. By putting the env var quotes the shell doesn't expand it.
A better error message is a good idea, thanks, I'll add it.

[2015-04-18 09:40] phildawes commented on #200
done

[2015-04-18 09:40] #200 closed

[2015-04-18 11:14] ane opened #203 "Emacs: annotations don't appear on the first completion"
When completing, the annotations don't appear initially, you have to browse through the candidates to get them to appear. Specifically:
1. Type `std::io::` and then <kbd>TAB</kbd>
2. No annotations appear
3. Press <kbd>M-n</kbd> to select next
4. Annotations appear

I fiddled with the completion function in racer.el and I found out that if you remove the `(when (looking-back "[a-zA-Z <..>")` bit a

[2015-04-18 11:33] ane commented on #203
There seems to be an alternative way to implement the prefix position lookup: https://github.com/company-mode/company-mode/wiki/Writing-backends#advanced-example but I don't know exactly how that differns from `racer--prefix`.

[2015-04-20 03:41] daboross opened #204 "Racer only completes use statements without `{}`"
Just reporting this because it seems like it would be a fairly simple difference, not sure if it's a bug or just a feature that hasn't been built yet.

Terminal output:
[code]

It'd make sense for racer to offer the same completions inside the `{}` in an import statement that offers without the `{}`.

[2015-04-21 19:57] bruno-medeiros commented on #196
Ok, nevermind, it's actually working now. I must have made some mistake originally, perhaps first putting the wrong path, and on later tries, having that typo in `complete std:io::`. My bad.

[2015-04-21 19:57] #196 closed

[2015-04-22 18:45] bruno-medeiros commented on #199
Some follow up questions:
In what code/situation does one get a `Crate` match?
Why does Racer `complete` command show no completions if there is no prefix? (one would imagine it would show all available symbols in the scope)

BTW, I've essentially finished the Racer integration into Eclipse (https://raw.githubusercontent.com/RustDT/RustDT/master/documentation/screenshots/Feature_ContentAssist.png)

[2015-04-24 03:11] robertmeta opened #206 "Add loaded_racer variable for selective loading / avoiding reloading and feature testing in racer.vim"
A pattern a lot of vim plugins follow is having a loaded variable that halts processing of the script if it has already been loaded, or if under some conditions the user wants it not to be loaded they can set the variable prior to script init.

[code]

It is common enough for required feature checks to also go on the if line:

[code]

[2015-04-24 21:31] Backman opened #207 "Error when compiling - Unresolved import"
[code]
I'm getting these errors when compiling racer.
Rust version: rustc 1.1.0-nightly (21f278a68 2015-04-23) (built 2015-04-24)
Cargo version: cargo 0.2.0-nightly (dac600c 2015-04-22) (built 2015-04-24)

[2015-04-24 23:47] pataroose commented on #207
These seem to be issues with racer's `rustc-serialize` dependency, which is strange, because it seems to be building independently. Maybe it's a version issue?

[2015-04-25 02:16] pataroose commented on #207
That works, thanks.

[2015-04-25 08:28] chessnokov opened #209 "Error when compiling - unstable feature"
Downloading rustc-serialize v0.3.13
   Compiling rustc-serialize v0.3.13
   Compiling toml v0.1.20
   Compiling racer v0.0.1 (file:///home/chessnokov/workspace/src/github.com/phildawes/racer)
src/main.rs:1:1: 1:66 error: unstable feature
src/main.rs:1 #![feature(collections, core, rustc_private, str_char, path_ext)]
              ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
no

[2015-04-25 10:48] jaxx commented on #209
Racer does not work yet with beta version of Rust.

[2015-04-25 11:52] nyx commented on #207
TIL `cargo update` :+1:

[2015-04-27 13:23] Survivor99 opened #213 "Can't compile with nightly (27.04.2015) [syntax ToSource]"
Well, it doesn't compile anymore with the newest nightly build, did they remove syntax::ext::quote::rt::ToSource?
![capture](https://cloud.githubusercontent.com/assets/9151604/7348374/51227566-ecf1-11e4-9edc-589160146de7.PNG)

[2015-04-27 14:30] zsiciarz commented on #213
Yes, here's the relevant commit: https://github.com/rust-lang/rust/commit/6365080c5cd27b74ec87420c351a3e7bdcff988e

[2015-04-27 20:36] #213 closed

[2015-04-28 19:49] #207 closed

[2015-04-29 06:48] phildawes opened #218 "Can't locate crates referenced by crates under the .cargo directory"
Once a crate has been found under .cargo, if that crate references any others then racer can't find them. This is because racer's cargo handling currently relies on a Cargo.lock, and projects under the cargo directory don't have this file

[2015-04-29 20:03] #218 closed

[2015-05-02 03:56] unaxfromsibiria commented on #209
when expect the update for build on rust-beta? Use rustc 1.0.0-beta.4 (850151a75 2015-04-30) (built 2015-04-30).
[code]

[2015-05-02 08:08] phildawes commented on #209
Hi @unaxfromsibiria,
I'm working on this, so hopefully soon (few days maybe?). Currently I'm removing dependency on collections.

[2015-05-02 13:10] phildawes commented on #209
My estimate was a bit long. This is now done!

[2015-05-02 13:10] #209 closed

[2015-05-02 13:10] phildawes commented on #202
Closing - racer now builds with beta

[2015-05-02 13:10] #202 closed

[2015-05-03 01:05] caspark commented on #204
Is this a duplicate of #96 ?

[2015-05-03 03:14] yacoder commented on #110
I've seen `cargo` crashing on Windows too, with the latest builds/sources, though not sure it was the same issue as the OP had, but everything seems to work if I run `cargo` from the msys2/mingw64 shell, as described on the Rust official page in the "Building on Windows" section: https://github.com/rust-lang/rust

[2015-05-03 05:29] pvginkel opened #223 "RUST_SRC_PATH reported as not existing on Windows"
With the latest version on beta, Racer reports ``RUST_SRC_PATH`` as not existing while it is. The following change in ``util.rs`` fixed this:

[code]

[2015-05-03 10:15] #223 closed

[2015-05-03 10:24] phildawes commented on #223
Thanks @pvginkel, have pushed this change. I don't have a windows machine at home to work with so am relying on others to tell me what doesn't work.

[2015-05-03 10:42] pvginkel commented on #223
You're welcome. Thanks for the fast response.

On Sun, May 3, 2015, 12:24 Phil Dawes <notifications@github.com> wrote:

[2015-05-03 12:03] Izzeri opened #226 "Racer doesn't seem to find sources for crates with hyphens in their name"
Running Racer in RustDT (http://rustdt.github.io/), it seems Racer doesn't give suggestions for "rustc-serialize", which is linked as `extern crate rustc_serialize` even though the crate name itself is `rustc-serialize`.

[2015-05-04 16:35] daboross commented on #204
Yep

[2015-05-04 16:35] #204 closed

[2015-05-05 18:34] donaldpipowitch opened #231 "Cannot compile with rustc 1.0.0-beta on Master"
[code]

[2015-05-05 19:49] CarlColglazier commented on #231
I am running into the same problem.

This is the line that is throwing the error: https://github.com/erickt/rust-syntex/blob/master/syntex_syntax/src/ptr.rs#L110

[2015-05-05 21:09] damienrg commented on #231
What version of rustc do you use? It should work with  'rustc 1.0.0-beta.4 (850151a75 2015-04-30) (built 2015-04-30)'.

[2015-05-05 23:32] CarlColglazier commented on #231
@daboross I was running `rustc 1.0.0-beta.3`. It works on `rustc 1.0.0-beta.4`.

[2015-05-06 06:48] donaldpipowitch commented on #231
I had `rustc 1.0.0-beta (9854143cb 2015-04-02) (built 2015-04-02)`. Will try a new one.

[2015-05-06 07:04] donaldpipowitch commented on #231
`rustc 1.0.0-beta.4` works.

[2015-05-06 07:04] #231 closed

[2015-05-06 07:16] donaldpipowitch commented on #231
It seems I can't find `/usr/local/src/rust/src` on Mac with installing Rust from the official installers. Any help?

[2015-05-06 07:46] tafia commented on #231
You should not install it but clone the rust git repo I think
On 6 May 2015 15:16, "Donald Pipowitch" <notifications@github.com> wrote:

[2015-05-06 08:14] donaldpipowitch commented on #231
Thanj you, I'll try it

[2015-05-16 20:47] andersforsgren opened #238 "Enum type matched twice"
Input:

    enum Zzz {
       X,
       Y,
    }

    fn main() {
        Z
    }

Input is with \r\n linebreaks, so literally `enum Zzz {\r\n   X,\r\n   Y,\r\n}\r\n\r\nfn main() {\r\n    Z\r\n}`.

Command line

   complete 7 5 C:\temp\test.rs

Output:

    PREFIX 4,5,Z
    MATCH Zzz,1,5,C:\temp\test.rs,Enum,enum Zzz {
    MATCH Zzz,1,5,C:\temp\test.rs,Enum,enum Zzz {

I suspect (but I'm not sure)

[2015-05-18 07:07] jaxx opened #240 "Racer fails completion with Rust 1.0.0"
Hi,
I have a problem again with Racer compiled in Rust version 1.0.0 in Windows. After I type `let mut data = data.lo` (want to type `let mut data = data.lock().unwrap();`) Racer stops working. Maybe again console output can help you. Error code 3221225725 is buffer overflow?

Image for the problem
![capture](https://cloud.githubusercontent.com/assets/723258/7675815/9c8655e0-fd45-11e4-8361-45ddde1

[2015-05-18 17:06] untitaker commented on #90
`/tmp` should be in RAM on most systems, FWIW:

[2015-05-18 17:07] untitaker opened #241 "Vim: Option to just disable plugin if rust src can't be found"
I deploy my vimconfig automatically on many machines, not all of those have Rust installed (e.g. my laptop). It'd be nice if I could configure the vim plugin so that it keeps quiet if initialization fails.

[2015-05-18 17:09] untitaker commented on #241
Nevermind, this can be done by setting RUST_SRC_PATH explicitly.

[2015-05-18 17:09] #241 closed

[2015-05-19 05:52] phildawes commented on #226
Thanks for the issue @Izzeri. Marked as bug, I'll will try to fix soon

[2015-05-19 06:14] phildawes commented on #238
Hi @andersforsgren. Sorry I haven't got to look at this yet, will try and take a look tonight.
Cheers, Phil

[2015-05-21 08:05] ErwinJunge opened #243 "pri doesn't complete to println!"
I'm rather new to Rust, so not sure if this is an actual issue with racer, but from my limited experience I'd expect the result of
[code]
to include stuff like `println!`. Instead, I'm getting no results at all. For completeness, the example in de docs works correctly:
[code]

I've searched through the issues and this seems related to #45, but that was marked as solved.

[2015-05-21 15:30] mbrt opened #244 "Docker image"
I have setup a Docker image containing rust 1.0.0, vim and racer [here](https://registry.hub.docker.com/u/mbrt/vim-rust/). If it is useful, feel free to post a link to it.

[2015-05-21 21:05] aaronkavlie-wf opened #245 "Screenshot example out of date"
The hashmap import path [has changed](https://doc.rust-lang.org/std/collections/hash_map/struct.HashMap.html#examples) since the example screenshot was taken.

[2015-05-21 21:06] aaronkavlie-wf opened #246 "HashMap completion"
Racer can't complete `std::collections::HashMap`

[2015-05-22 14:54] CXDamian opened #247 "Build failed after changes to syntex_syntax"
new_parse_sess -> ParseSess::new
removal of string_to_filemap fn
[Relevant Commit](https://github.com/erickt/rust-syntex/commit/b369fdd5d60820dc7d063d033015c44ae1d58919)

[code]

I applied the following changes to build successfully, but have not compiled it previously so no knowledge if there is missing functionality.

[code]

[2015-05-22 15:09] phildawes commented on #243
Hi @ErwinJunge, I'm afraid Racer doesn't support completion of macros yet, sorry.

[2015-05-22 15:09] #243 closed

[2015-05-22 15:11] CXDamian commented on #247
Overlooked the pull request :/
https://github.com/jaxx/racer/commit/2c4eeb1eb9dac77569d3348447bd39b12bf0d6b4

[2015-05-22 15:11] #247 closed

[2015-05-22 15:29] rkfg commented on #243
Then why to close the issue? Isn't it better to leave it open and label as an enhancement? I'm interested in Rust but without a proper completion it's a pain to write anything complex enough. I'd rather look into suggestions than search the documentation and sources (which is the last resort for me).

[2015-05-23 07:03] phildawes commented on #110
I'm closing this for now as an issue with rust/cargo. Please reopen if I've got this assessment wrong. Thanks

[2015-05-23 07:03] #110 closed

[2015-05-23 07:13] phildawes commented on #246
Wow, you're right. When did that stop working?!
Thanks for the report, will look into this

[2015-05-23 07:17] phildawes commented on #244
Nice! Have you posted this to rust reddit?
http://www.reddit.com/r/rust/

[2015-05-23 07:17] #244 closed

[2015-05-23 07:18] phildawes commented on #240
My guess is racer is getting confused by the 'let data = data' recursiveness. This is definitely a bug, thanks.

[2015-05-23 07:22] phildawes commented on #245
Thanks @aaronkavlie-wf. I think it changed a while ago but for a while rust apis were changing every few days so I didn't fix. I'll change this at some point, but it's not top priority for me at the moment.

[2015-05-23 07:31] phildawes commented on #246
I think I see what's going on. Racer is completing std::collections to libcollections rather than the module in libstd/collections/. I guess
```extern crate collections as core_collections;``` is the line that's confusing it.

[2015-05-23 08:27] #246 closed

[2015-05-23 08:28] phildawes commented on #246
Fixed now. Thanks for the report @aaronkavlie-wf

[2015-05-23 11:28] mbrt commented on #244
Thanks! I've followed your suggestion:
http://redd.it/36z5mr

[2015-05-23 16:03] jaxx commented on #240
Maybe it's same as #141 then

[2015-05-24 00:22] danielkza commented on #90
A workaround on Unix platforms is passing `/dev/sdtin` as an input file.

[2015-05-24 01:14] tomjakubowski opened #249 "having trouble completing from cargo crates"
Hi, first of all thanks so much for creating racer!

I'm trying to use racer from Emacs with a Cargo project. My understanding is that Cargo dependencies are now supported. However, I've been having trouble with it. As an example, I edited `src/main.rs` in the racer project itself, added `use toml::` to the top level scope of the file and asked Company for a completion. I got this:

[code]

If I r

[2015-05-24 12:39] MarkSwanson opened #250 "off by one bug"
Given this snippet of code:

    let message = parser.errors.iter().map(|parser_error| {

$ ~/.vim/bundle/racer/target/debug/racer complete 192 63 src/lib.rs

PREFIX 52,63,parser_erro
CompletePath: contextstr is ||, searchstr is |parser_erro|
* Note the missing 'r' in 'parser_error'.

Patch to get the 'r' back:
[code]
I now get:

PREFIX 52,63,parser_error
CompletePath: contextstr is ||, searchstr

[2015-05-24 17:40] aminb opened #251 "Prepare for MELPA"
We should be applying the suggestions in https://github.com/milkypostman/melpa/pull/2701#issuecomment-94887495 to have racer included in MELPA.

[2015-05-24 18:57] phildawes commented on #249
Hi @tomjakubowski, What does your Cargo.toml look like?

[2015-05-24 21:39] tomjakubowski commented on #249
Cargo.toml

[code]

Cargo.lock
[code]

[2015-05-25 04:14] 4xrsJCr9 commented on #249
Are you using `multirust` by any chance? If so, you'll need to symlink `~/.cargo` to `~/.multirust/toolchains/stable/cargo` or the like.

@phildawes: Perhaps the location of the cargo registry could be passed as an environment variable till https://github.com/rust-lang/cargo/issues/1098 is sorted out?

[2015-05-25 06:34] phildawes commented on #249
@4xrsJCr9 yes that might be the easiest way. Or maybe racer should interrogate the .multirust directory to back out the directory. (i.e. look in .multirust/overrides and .multirust/default).

(n.b. I'm not sure this is something a cargo lib can support easily without help from multirust)

[2015-05-25 22:48] jonhoo opened #253 "Explicit check for "src" in RUST_SRC_PATH breaks indirection"
racer currently checks that `RUST_SRC_PATH` [ends with "src"](https://github.com/phildawes/racer/blob/849b08788a32abff3e2591ed62d5dc8435de9f9d/src/main.rs#L158). Unfortunately, this means that indirection (like symlinks) cannot be used to maintain a version-independent link to the Rust sourcer. For example, I have the Rust sources in `~/src/rust/src/rustc-1.0.0/src`, but would prefer not to hard-c

[2015-05-25 22:51] jonhoo commented on #253
FWIW, a workaround is to do

    mkdir ~/.rust
    ln -s ~/src/rust/src/rustc-1.0.0/src ~/.rust/src

[2015-05-26 00:02] jonhoo opened #254 "No method signatures in vim"
With `completeopt=menu,preview`, the completion popup does not show method signatures that can be seen in the screenshots you've [posted elsewhere](http://phildawes.net/blog/2014/08/21/racer-update3/). AFAICT, you're using emacs, so presumably this is a vim-specific issue... Is this expected behaviour, or is it a bug?

![vim screenshot showing no method signatures in completion dialog](https://jon

[2015-05-26 05:24] phildawes commented on #250
Hi Mark,

Thanks for the issue. Just so I understand: In your example the column 63 isn't in the snippet you posted. (the snippet is only 55 chars long). Is your cursor over the 'r' character when you complete? (char 51)

Regardless, I'm afraid racer cannot currently derive the types of lambda parameters. I am working on a version of racer that uses rustc internals to derive the types of expressio

[2015-05-26 05:25] phildawes commented on #253
Hi @jonhoo. I like the libstd idea, I'll change racer to do that one tonight

[2015-05-26 05:36] phildawes commented on #249
@tomjakubowski Is @4xrsJCr9 correct about multirust? (Completing toml::<tab> in the racer source works for me.) Thanks!

[2015-05-26 09:28] tomjakubowski commented on #249
Yep, I've got multirust installed and that seems like a probable explanation. I'll give it a try with a workaround soon.

[2015-05-27 05:51] phildawes commented on #254
Hi @jonhoo. I think your vim plugin is behaving as expected. IIRC there is a way to turn on the extra completions - I think by setting the flag  g:racer_experimental_completer. I didn't write this feature though, so your best bet is to look at the vim plugin code.
Cheers,
Phil

[2015-05-27 05:51] #254 closed

[2015-05-27 06:04] #253 closed

[2015-05-27 06:05] phildawes commented on #249
I added some multirust support last night. It currently doesn't do overrides, but it should look in the current multirust 'default' cargo directory now. You have to delete your ~/.cargo dir for the new functionality to kick in. Hope this helps!

[2015-05-27 06:05] #249 closed

[2015-05-27 11:37] gaveen opened #255 "Racer not working within Vim"
**Env**
Vim: 7.4 (with Vundle)
OS: Fedora 20 (x86_64) Linux
Racer: git head (f2f890990cae6b4f051cb69c0bd18bb256579e61)
Rust: 1.0.0

**Config snippets**
[.vimrc]
let g:racer_cmd = "bundle/plugin-racer/target/release/racer"
let $RUST_SRC_PATH="/home/xxxxxx/Software/builds/rust/rust-1.0.0/src"

[.bash_profile]
export RUST_SRC_PATH=$HOME/Software/builds/rust/rust-1.0.0/src

**Description**
I have ever

[2015-05-27 12:19] MarkSwanson commented on #250
Hmm... I can't find my test code...
I'm sure my cursor was over one of the characters in "parser_error".

Wrt deriving types: ok, waiting patiently.

[2015-05-27 12:19] #250 closed

[2015-05-28 19:57] jonhoo commented on #254
Well, `let g:racer_experimental_completer = 1` shows a single-letter suffix (`s` for structs, `f` for function, etc.), but won't give full method signatures (which vim is capable of showing). In fact, that current vim code shortens the extra information on purpose, though I have no idea why.

I might take a look at this myself at some point, but for the moment, I don't think this ticket should be

[2015-05-29 13:31] aminb commented on #255
I think [rust-lang/rust.vim](https://github.com/rust-lang/rust.vim) is required (for actually detecting rust files).

IIRC I had this exact problem and I installed rust.vim and it's been working since.

[2015-05-29 13:59] yeahnoob commented on #255
@gaveen As you said `let g:racer_cmd = "bundle/plugin-racer/target/release/racer"`, did you try to replace it with `let g:racer_cmd = "/home/xxxx/.vim/bundle/xxx/xxx/target/release/racer"` ??
And check that the ex-file racer is in the right path.
PS. The Racer Plugin works fine in my Vim.(including neocomplete.vim)

[2015-05-29 14:53] gaveen commented on #255
@aminb I already had rust.vim in place.

@yeahnoob the executable racer was in the right place all right. Changing
`let g:racer_cmd = "bundle/plugin-racer/target/release/racer"` into
`let g:racer_cmd = "/home/xxxxxx/.vim/bundle/plugin-racer/target/release/racer"` fixes this.

So the completion works now, but I'm not overjoyed about having to hardcode the path in my vimrc. Something I failed to men

[2015-05-29 18:22] jonhoo commented on #254
Hum, the problem just magically resolved itself for me after a plugin update. Can't see anything that would cause this. I now get full method signatures in the dropdown :/

[2015-05-31 17:45] phildawes commented on #255
Hi @gaveen. If I understand correctly it sounds like this is working correctly as documented.
Is the issue that you want the vim plugin to be able to run the racer binary using a relative path, but you don't know how that works in vim?

[2015-05-31 20:36] phildawes commented on #238
Wow, this turned out to be a tricky bug to track down. Racer does two passes when searching a scope, one backwards from point and one forwards (so that it can track let expressions in the right order). It uses a rust statement iterator to do the passes, but I had marked StmtIndicesIter 'Copy', which meant in the for-loops racer was getting a fresh copied statement iterator each time, causing it to

[2015-05-31 20:38] #238 closed

[2015-05-31 21:13] #141 closed

[2015-05-31 21:15] phildawes commented on #240
I fixed the infinite recursion bug. Unfortunately racer still doesn't find the 'lock' method on Mutex because it doesn't have the smarts to follow the deref logic when doing type inference.
The longer term fix for that issue is to use rustc for type inference.

[2015-05-31 21:15] #240 closed

[2015-06-01 18:03] gaveen commented on #255
@phildawes Well, it's working when I use the absolute path. But I couldn't get it working with a relative path (perhaps owing to my symlinked vim files). It would be much nicer to be able to use a relative path. If the absolute path is always assumed, perhaps it's better to have the README updated as well?

[2015-06-02 19:36] dirvine commented on #109
Has there been any move on this in YCM yet. It would be very cool for sure.

[2015-06-03 05:42] phildawes commented on #109
Hi @dirvine
No move yet as far as I know. I am currently working on getting racer to work more closely with the rust compiler for type inference, which is a big job. As part of that I suspect racer will need to operate as a long lived process which is more inline with what @Valloric wants.

[2015-06-03 07:27] moonlite opened #261 "Sensible default values for racer.el defvars"
It would make sense to me to let `racer-cmd` default to whatever `racer` command is available in the `PATH` if not set and to make `racer-rust-src-path` default to the env variable `RUST_SRC_PATH` if not set.

Thanks for a great project all in all! :)

[2015-06-03 17:49] 0X1A commented on #194
:+1: Instructions on how to integrate racer with neocomplete should be included

[2015-06-04 00:16] lilydjwg commented on #194
But I did nothing except specifying `let g:racer_cmd = 'racer'` and I can see results in the neocomplete popup menu from racer :-)

[2015-06-05 07:16] voltagex opened #263 "Support for Rust source code inside .gz?"
This is a strange one but:
I've stored racer and the Rust source in a synced folder. The large number of small files in the Rust source directory are causing problems for my sync application. Would it be possible to support having the source in a gz or similar? I understand if the answer is a definitive no.

[2015-06-05 07:42] marvelm commented on #263
Maybe mount it as a filesystem with archivemount in the meantime
On Jun 5, 2015 2:16 AM, "Adam Baxter" <notifications@github.com> wrote:

[2015-06-05 10:36] voltagex commented on #263
That's a great idea, thanks

[2015-06-06 09:06] phildawes commented on #261
Hi @moonlite ! I think it already does the latter (RUST_SRC_PATH), but it doesn't do the former and that does seem like a good idea. Patches welcome!

[2015-06-06 09:10] phildawes commented on #263
Hi @voltagex. I'm unlikely to get round to coding gz support myself, but if you or somebody else fancies it I'd be happy to take a patch

[2015-06-06 09:14] phildawes commented on #255
Hi @gaveen. I'm afraid I'm going to close this because I'm not going to work on it myself and it seems like it might be a vim issue (maybe with symlinked files) rather than a racer bug. Feel free to open a more specific issue if you still think it's a racer bug, Thanks!

[2015-06-06 09:14] #255 closed

[2015-06-06 18:50] olsonjeffery opened #264 "docs: how to get completion for non-mozilla/rust crates?"
I would like completion for types/modules outside of the rust distribution src tree (completion for which is covered in the README and works for me, in emacs). Is there a way to easily achieve this and what does it entail?

If so, it would be useful to add to the README docs (eg if it involves downloading the src of the project you want completion and adding it to an env var.. what's the delimiter

[2015-06-06 19:26] phildawes commented on #264
Hi @olsonjeffery.
Racer should be able to perform completion/find-definition for other cargo crates by inspecting your Cargo.toml and Cargo.lock, so it sounds like there might be a more specific problem here. Do you have a test-case I can try?
Thanks!

[2015-06-06 19:44] olsonjeffery commented on #264
@phildawes

here's some screens of different things im seeing.. this is all in a main.rs for `gfx-rs/gfx_examples`

![screen shot 2015-06-06 at 2 41 36 pm](https://cloud.githubusercontent.com/assets/10408/8021170/7105e6b4-0c5a-11e5-9151-94b40afe9d84.png)
![screen shot 2015-06-06 at 2 41 52 pm](https://cloud.githubusercontent.com/assets/10408/8021171/7107240c-0c5a-11e5-8739-3c5cabf85004.png)
![scre

[2015-06-07 06:52] phildawes commented on #264
Hi @olsenjeffery. I took a look at gfx-examples/src/terrain/main.rs. If the genmesh crate is resolving then it sounds like racer is setup ok.

I suspect the other problems might be either specific bugs in racer or more likely areas where racer doesn't have the skills yet to resolve the completion (macros, non-trivial generics). I am working on interfacing racer with rustc to get better at type res

[2015-06-07 18:26] olsonjeffery commented on #264
No worries. Apologies for leaving out system info.. I'm on OSX Mavericks.
Racer was built on rust stable. Thanks for the investigation. I will be
patient.
On Sun, Jun 7, 2015 at 1:52 AM Phil Dawes <notifications@github.com> wrote:

[2015-06-09 15:17] bruno-medeiros opened #266 "Possible issue: newline in last MATCH field"
With the source:
[code]
If you invoke racer after "cmd." you get:
[code]
[... snipped the rest of output]

Is this as expected, can one have newlines in one of the MATCH fields? if so, how to safely parse them? Assume that if a line doesn't start with `MATCH ` it belongs to the previous field?

[2015-06-11 00:08] murarth opened #267 "unsafe functions are not present in completion match lists"
The clearest example of this is `racer complete std::str::from`, which should list `from_utf8` and `from_utf8_unchecked`. However, the latter is omitted. Public unsafe functions from other modules are similarly omitted from completion matches.

[2015-06-12 07:27] phildawes commented on #267
Thanks @murarth, marking as bug

[2015-06-12 07:34] phildawes commented on #266
Hi @bruno-medeiros
The best thing is to read single lines, and ignore anything that doesn't start with a 'MATCH'. That's what emacs and vim do.
Hope that's ok

[2015-06-12 07:34] #266 closed

[2015-06-12 09:42] bluss opened #268 "Panic on non-UTF-8 filenames"
This occurs if there's a non-UTF-8 filename in the local directory and I use `racer`.

[code]

rustc: rustc 1.2.0-nightly (2228ce10c 2015-06-09)

racer: 68829343ba4afdbb20be624cd1ab9f25cdbb3a42

[2015-06-12 15:00] phildawes commented on #268
Thanks @bluss, Marking as a bug

[2015-06-13 07:47] #267 closed

[2015-06-13 08:42] tafia commented on #267
you can probably close this issue now

[2015-06-14 08:29] tafia commented on #226
@Izzeri, I think #271 fixes your issue.
Can you give it a try ? (the more tests, the better)

[2015-06-14 08:36] Izzeri commented on #226
@tafia, I'll see if I can later today. Thanks for the fix! <3

[2015-06-14 11:21] EReeves opened #272 "Strange resolution error."
-snip- sorry ignore this.

[2015-06-14 12:52] #272 closed

[2015-06-14 22:38] nstoddard opened #273 "Racer uses a ridiculous amount of resources in some situations"
I use Sublime Text with Racer, on Windows 7, and I had started typing the following line when Racer started using a ton of resources:

[code]

Racer started using the hard drive a lot (and possibly using other resources, I couldn't tell), and it froze my computer (I couldn't do anything but move the mouse cursor). I had to hold the power button to reboot. This happened while I was typing the word

[2015-06-15 05:43] #226 closed

[2015-06-15 05:54] phildawes commented on #273
Hi @nstoddard,
Thanks for the report. I suspect racer got itself into some sort of loop. I can't reproduce this with just the line 'panic!("trying', what else was in the file?

Thanks,

Phil

[2015-06-15 06:53] nstoddard commented on #273
I was working on a multiset data structure. I didn't save an exact copy of the code, but it looked something like this (I took the finished file and tried to remove stuff that I wrote after I encountered the problem):

[code]
I was writing the line containing the `panic` near the bottom. This code was in 'main.rs' (I also had an empty main() function for testing) and I wasn't using Cargo.

I'm rel

[2015-06-15 19:55] phildawes commented on #273
Hi @nstodard,
I'm not 100% sure if this reproduces your freezing problem, but it certainly reproduces an issue:
On linux when compiling in debug I get an 'arithmetic operation overflowed'[1] in racer::scopes line 253. It seems that 'pos' is less than 'start' in the following:

[code]
I suspect in release mode this isn't getting caught and the result is a massive 'result' vec. I haven't got time to

[2015-06-16 16:06] tafia commented on #273
I couldn't reproduce on my side but I found another issue (#275)
Perhaps it is linked somehow ...

[2015-06-17 00:59] arnm commented on #194
@lilydjwg do you get the popup menu on `.` and on `::`?

[2015-06-17 14:57] lilydjwg commented on #194
@arnm yes. In fact I get a popup menu while I'm typing all the time. I've checked items from racer completion do appear on `.` and `::`.

[2015-06-18 05:11] kenshinji opened #276 "Can't build the source on my Debian box"
After I issuing 'cargo build --release', I got this error information

Could not compile `syntex_syntax`.

Caused by:
  Process didn't exit successfully: `rustc /home/kenshinji/.cargo/registry/src/github.com-1285ae84e5963aae/syntex_syntax-0.7.0/src/lib.rs --crate-name syntex_syntax --crate-type lib -C opt-level=3 -g -C metadata=1313b583a9caa89d -C extra-filename=-1313b583a9caa89d --out-dir /home/k

[2015-06-20 04:12] arnm opened #279 "Vim Plugin Go To Definition Only Works On First Line of Statement"
If I enter `gd` on any of the symbols in the following statement, the plugin works properly:

[code]

However, if I split the statement into multiple lines the `gd` command will not work on any of the symbols not in the first line of the statement:

[code]

[2015-06-20 04:23] arnm opened #280 "Vim Plugin Feature Request: 'K' on a keyword should display that keyword's documentation"
I have noticed that in many language oriented vim plugins the `K` (capital k) binding when in normal mode provides the documentation for the keyword under the cursor.

This would be a very neat feature to have.

Currently, `gd` takes you to the source code where you could also look at the documentation but sometimes I don't care about the implementation of something and just want to know how to us

[2015-06-20 06:28] phildawes commented on #279
Hi @arnm, Thanks for the bug report. I'm not sure I'll get to fixing it for a little bit because I'm working on the new type inference stuff with rustc. It might be that whatever comes out of that fixes this anyway

[2015-06-20 14:37] arnm commented on #279
@phildawes sounds good

[2015-06-20 15:23] phildawes commented on #276
Hi @kenshinji
Which version of rust are you using?

[2015-06-21 02:25] kenshinji commented on #276
I installed rust runtime on my VPS via the following command:
`$ curl -sf -L https://static.rust-lang.org/rustup.sh | sh`
So I think it should be version 1.0, I don't know how to check the rust runtime from console though.
And I compiled it successfully on my laptop, which is running Ubuntu 14. Is this because of less memory on my VPS? It only has 512 MB memory.
PS: racer runs perfectly on my Macb

[2015-06-21 10:36] andoriyu commented on #276
@kenshinji just run into the same issue. If you look at `top` during `cargo build` you would see that you running out of memory and majority of time spent in swap.

[2015-06-21 14:35] rrandom opened #282 "Which is faster?"
I see there are two usages for 'racer complete', one works on a file and the other works on command line string. But the 'racer.el' and 'racer.vim' both chose the first option. Does this mean that 'racer complete linenum charnum fname' is faster?

[2015-06-21 14:55] #282 closed

[2015-06-21 18:58] alkama commented on #90
Hum, It's probably not doable, since racer seems to use that temp files location (path) to search for cargo declared dependancies and have a project context too.
Lets close the issue :)

[2015-06-21 18:58] #90 closed

[2015-06-21 19:09] danielkza commented on #90
It's absolutely doable, it would just take a bit of refactoring so the file name is passed as a parameter to the relevant functions.

[2015-06-22 02:46] kenshinji commented on #276
@andoriyu yup, I see, the rustc process was eating more and more memory, then it got killed by system.
I guess this is the root cause of this issue, is there a way that we can avoid it being killed by system? Or saying, can we specify a total memory usage of rustc?

[2015-06-22 03:03] andoriyu commented on #276
@kenshinji you can try adding more swap space, but this will make compilation process slow af and still might fail. When I had to compile gcc5 on my VPS I had to temporally use bigger instance, that be the easiest way besides asking someone for compiled binary. I only have binary for freebsd which won't work on linux.

[2015-06-24 06:03] nelsonjchen commented on #272
What was your original issue? Please don't edit it out. It might really be a documentation issue. I'm fighting a "Strange resolution error" myself and anything that's already "closed" in the issue tracker could help.

[2015-06-25 23:50] gozes opened #285 "update racer in crates.io"
is there any particular reason why racer hasn't been updated in crates.io so that it can be installed by cargo?

[2015-06-27 08:11] Yamakaky opened #287 "Default racer command"
The default value for `racer_cmd` is relative to the vim plugin. You should also check for `racer` alone, if it is in the PATH. You could also add the target/ dir to the PATH.

[2015-06-27 08:14] Yamakaky commented on #206
Good idea

[2015-06-27 18:02] franleplant opened #288 "Problems installing on OSX"
Hi!
    I've built the source without a problem but I don't have `rust/src` anywhere. I installed rust via the OS official installer.

Any clues?

Thanks!
Fran

[2015-06-28 03:49] rrandom opened #289 "Brackets extension integrated racer"
Hi, I am a brackets user and I write a extension that integrated racer, the project is here: https://github.com/rrandom/Brackets-Rust-IDE . I think it might be nice to let you know it

[2015-06-29 17:56] phildawes commented on #288
Hi @franleplant
I'm afraid the rust installers don't come with source, you must download it separately. E.g. here: http://www.rust-lang.org/install.html

[2015-06-29 18:00] phildawes commented on #285
Hi Gozes,
Racer only added a working library interface in the last week or so (thanks @Victor-Savu!), and it's pretty early support so I haven't released a cargo package yet. Are you planning to build against the library?

[2015-06-30 02:02] #289 closed

[2015-06-30 06:31] leonardinius commented on #194
+1 on instructions

[2015-06-30 11:47] Yamakaky opened #292 "Changelog"
Did you consider implementing [this](http://keepachangelog.com/) ?

[2015-06-30 14:37] Shougo commented on #194
I added default omni func pattern in neocomplete.  Thanks.

[2015-07-01 05:22] phildawes commented on #292
Yeah, that's a good idea. Racer hasn't really had any releases and so I've been documenting news and changes in my blog: http://phildawes.net/blog/tag/racer/

But you're right, racer would probably benefit from a changelog

[2015-07-01 05:27] phildawes commented on #287
Sounds reasonable - patches gratefully accepted!

[2015-07-01 05:32] #276 closed

[2015-07-01 06:44] Yamakaky commented on #292
It seems to work pretty well, so maybe you should tag it 0.1 or 1.0 ?

[2015-07-03 19:28] gsingh93 opened #296 "Racer breaks emacs region indentation"
I'm not 100% sure this is an issue with racer, but ever since enabling it, when I hit tab after selecting a region, nothing happens. I have to indent each line individually.

[2015-07-03 22:10] phildawes commented on #296
Thanks for the bug report: Yep, this sounds like racer's fault for overriding tab. I wonder what the best fix for it is...?

[2015-07-03 22:17] gsingh93 commented on #296
I don't know much about emacs dev, but it looks like you're currently using `indent-according-to-mode` to indent. The documentation for this only refers to indenting lines, not regions.

When I check what my tab does by default, it runs `indent-tab-for-command` (although I don't know if that's the default or one my many configurations changed it). The documentation for this command refers to inden

[2015-07-04 02:51] moonlite commented on #261
Fixed by #294.

[2015-07-04 02:51] #261 closed

[2015-07-04 10:56] abbychau opened #297 "unable to compile kernel32-sys on windows7 64-bit"
![screenshot](https://cloud.githubusercontent.com/assets/350283/8507647/4e9bad72-227e-11e5-98a3-73892fe2ecac.png)

D:\DEVELOPMENT\racer-master>D:\Rust1.1\bin\cargo.exe build --release
   Compiling kernel32-sys v0.1.2
failed to run custom build command for `kernel32-sys v0.1.2`
Process didn't exit successfully: `D:\DEVELOPMENT\racer-master\target\release\bu
ild\kernel32-sys-4b26f914b467c779\build-s

[2015-07-09 00:21] synkarius opened #302 "Unable to build on Windows 64-bit"
I downloaded source, checked "add to path", then ran "cargo build --release". No idea what's wrong here.

	C:\Users\dave\Desktop\racer-master>C:\Program Files\Rust beta 1.0\bin\cargo buil
	d --release
	'C:\Program' is not recognized as an internal or external command,
	operable program or batch file.

	C:\Users\dave\Desktop\racer-master>"C:\Program Files\Rust beta 1.0\bin\cargo" bu
	ild --release

[2015-07-13 10:52] llogiq commented on #268
The solution would be to make Match take an OsString instead of String, right?

[2015-07-13 14:36] bruno-medeiros opened #304 "Feature Request: Determine Inferred Types Operation"
Feature Request: Rust operation to infer and display the type of a variable or expression. Example
`let foo = "blah";`
Run this racer operation with source location at `foo`, or `"blah"`, Racer displays the name of the inferred type: `&str`

[2015-07-14 09:56] llogiq commented on #165
But this would require getting the Visibility from the Item in case the field visibility is inherited. How would one do that?

[2015-07-14 19:50] phildawes commented on #302
It looks like rust-serialize is failing to build. Which rust version are you running against?

You could try deleting Cargo.lock and seeing if it will build without locked versions

[2015-07-14 19:52] phildawes commented on #297
@jaxx just upgraded the version info. Could you give it another go?
Which version of rust are you using?

[2015-07-14 19:53] #288 closed

[2015-07-15 21:16] c-cube commented on #41
This would be very nice to have. A similar project (in OCaml) binds this feature to `<Leader> t`, and it is extremely useful in presence of type inference. Almost as useful as completion imho.

[2015-07-16 12:46] llogiq commented on #41
What about `where` and generics?

Something like
[code]
perhaps?

[2015-07-16 14:42] Furyhunter commented on #304
If I'm not mistaken, racer doesn't infer types except in the simplest cases (types evaluated from macros or pattern matching don't work, for example), so that needs to be improved in order to make this happen.

[2015-07-17 02:23] SoniEx2 opened #306 "Is source-based completion really needed?"
Can't you do rlib-based completion or something instead?

[2015-07-19 14:44] fkaa opened #308 "Crashes on super:: type completions"
Crashes when trying to complete said types. Test case:

[code]

[code]

[2015-07-20 02:02] synkarius commented on #302
At first, I tried running with 1.1.0. Then I read somewhere that I shouldn't be using that version. So I uninstalled, and installed 1.0.0. I tried deleting Cargo.lock, but it didn't help. The file was re-created, and I got the same error. Should I be in the src/racer folder or the folder that contains Cargo.lock? I tried from both.

[2015-07-20 02:26] kornholi commented on #306
You need source completion for the current crate but the rlib metadata should have everything you need for library code. Hopefully more areas of rustc become reusable soon.

[2015-07-20 05:09] phildawes commented on #306
Hi @SoniEx2, yes rlib based completion is possible. I am working on getting completion with rustc fast enough to use in racer.

[2015-07-20 05:09] #306 closed

[2015-07-20 05:11] phildawes commented on #302
Oh that sucks. Sorry you're having so much trouble. Are you on the latest racer master?
I'm afraid I don't have a windows box to try to reproduce this on at the moment. I will try to get access to one.

[2015-07-20 05:12] SoniEx2 commented on #306
Well can you make it take a RUST_LIB_DIR or something instead of the rust sources? Would make my life easier.

For the current crate on the other hand, do w/e you want, I don't mind.

[2015-07-20 05:14] phildawes commented on #292
Yes, I think maybe you're right. Will think about tagging it some time this week

[2015-07-20 05:14] #292 closed

[2015-07-20 05:50] phildawes commented on #308
Thanks @fkaa. It looks like you don't even need the lib.rs, the mod.rs file on it's own is enough to send it into infinite recursion. Will try and look at fixing this tonight

[2015-07-20 08:04] phildawes commented on #306
Yes, will do RUST_LIB_DIR at some point, but this is a way off at the
moment.

On Mon, Jul 20, 2015 at 6:12 AM, Soni L. <notifications@github.com> wrote:

[2015-07-20 08:06] phildawes commented on #41
Sounds reasonable to me

[2015-07-20 10:40] fkaa commented on #308
@phildawes just came across another similar behavior, `::` inside parens seem to crash:
[code]

[2015-07-20 18:21] phildawes commented on #308
Hi @fkaa
I think this is fixed in master now. Reopen if not.
Thanks again for raising this!
-Phil

[2015-07-20 18:21] #308 closed

[2015-07-20 18:26] phildawes commented on #273
I think this might be fixed now (at least I can't reproduce the problem where I used to be able to).
Thanks again @nstoddard

[2015-07-20 18:26] #273 closed

[2015-07-20 18:27] phildawes commented on #297
Closing. Please reopen if this is still an issue.
-Thanks!

[2015-07-20 18:27] #297 closed

[2015-07-22 02:45] synkarius commented on #302
Yes, latest master as of time of writing this. (I tried it again from scratch.) Here are my exact steps:

1. Install rust-1.0.0-beta-x86_64-pc-windows-gnu.msi, selecting "add to path" from options
2. Download racer by clicking "download zip" from racer Github
3. Extract and navigate to racer-master/src/racer
4. Type "cargo build --release" sans quotes

[2015-07-22 02:49] synkarius commented on #302
Also possibly worth mentioning, if I keep running "cargo build --release", it gets to a different error:

    Could not compile 'aho-corasick'.

[2015-07-23 15:53] franleplant commented on #288
Sorry for the late response, I was out of the country.

So I did download the rust src manually and did all the configuration steps, but when I try to use it with VIM it tells me `"-- Omni completion (^O^N^P) Pattern not found"`

I found this other issue https://github.com/phildawes/racer/issues/255 which seems related, I tried the things suggested there and I couldnt make it work.

I wont have mu

[2015-07-24 20:16] colin-kiegel opened #310 "autocomplete std macros?"
A new feature idea :-)
- support for autocompletion of (std) macros http://doc.rust-lang.org/std/#macros
- support for find-definition of (std) macros?

[2015-07-26 13:54] Congee opened #311 "cannot complete at alias' dot subscript"
Just came across this when trying completing at the dot.
Would you guys tell me if racer just doesn't funciton well or racer inherently cannot implement this kind of completion?
:D

[code]
[code]

[2015-07-27 03:57] Congee opened #312 "racer gets stuck"
This piece of code coms from [rust by example](http://rustbyexample.com/custom_types/enum/testcase_linked_list.html)
[code]
As you can see. Is this caused by recursive parsing?
[code]

[2015-07-28 04:54] phildawes commented on #302
Hi @synkarius,
rust-1.0.0-beta-x86_64-pc-windows-gnu.msi sounds very old (was pre-1.0). Do you get any joy with e.g. 1.1 stable from here: http://www.rust-lang.org/install.html ?

[2015-07-28 05:03] phildawes commented on #311
Thanks for the report @Congee, you're right, racer isn't matching this. Looks like an easy fix, I'll try and get to it tonight.

[2015-07-29 09:42] #311 closed

[2015-07-29 09:42] #312 closed

[2015-07-29 10:45] Congee commented on #311
It works greatly. Thanks for your fi. ;D

[2015-07-29 17:17] dleslie opened #313 "No support for auto-complete-mode"
I've made this issue as this question is likely to arise.

Those wishing to use auto-complete-mode can probably make it work with ac-company.

https://raw.githubusercontent.com/buzztaiki/auto-complete/master/ac-company.el

[2015-07-30 00:26] razvan-panda commented on #302
I got a similar error on first build. After deleting the lock file and building again it worked without any errors. Also using rustc 1.1.0.

[2015-07-30 02:36] synkarius commented on #302
It compiles! I could have sworn I tried with 1.1.0 before. I had the installer downloaded. Could I have uninstalled 1.0.0 and reinstalled it, thinking it was 1.1.0? Whatever.

Thank you for your help.

[2015-07-30 02:36] #302 closed

[2015-07-30 12:15] liamoc opened #315 "Racer crashes when referencing an external package in emacs"
I made a simple example crate using the sdl2 library from crates.io. I think I set up racer correctly, and completion works when I type "std::io::B" inside the emacs buffer, but if I try and use an external package, (e.g, type "sdl2::I") I get the following error message in the emacs message buffer:

    deferred error : (error "Process [/Users/liamoc/.rust/racer] exited abnormally : PREFIX 9,9,

[2015-07-30 13:13] liamoc commented on #315
Hm, I explicitly installed the racer package, and it works now except the message still shows.

[2015-07-30 14:03] gozes commented on #315
@liamoc  the racer package is really out of date and I think it has ever been updated. why it is that way  I don't know

[2015-07-30 14:04] liamoc commented on #315
Right, the completion (and the error) I'm getting is coming from the company-racer package.

[2015-07-30 16:30] gozes commented on #285
@phildawes not really I am just trying to figure out how to setup racer properly. for example, for RUST_SRC_PATH do I need clone the rust src from github and set the path to it or can I use the path where libstd-rust-dev(/usr/lib/rustlib) was install on  debia or where it gets install on arch linux?

[2015-07-31 07:08] alexb5 opened #316 "Racer not build with last version of syntex_syntax crate."
I try to build racer on Win7 64bit with rust v1.1.0 and get errors.

[code]

[2015-07-31 12:36] diaphore commented on #316
Same on Windows 8.1 64bits :
[code]
[code]

[2015-07-31 14:45] jaxx commented on #316
#317 fixes this

[2015-07-31 17:46] gsingh93 commented on #296
@phildawes I just tested this and making the change described above fixes the problem. Will you accept a PR with this change (or you can make it yourself if you have the time, doesn't matter to me)?

[2015-08-01 09:35] phildawes commented on #296
Hi @gsingh93.
I tried substituting 'indent-tab-for-command', but I get: ```Symbol's definition is void: indent-tab-for-command```
Do you know if this works on a vanilla emacs with no modifications?

[2015-08-01 09:38] phildawes commented on #285
Hi @gozes
You need to clone the rust src for github, or download it from here: http://www.rust-lang.org/install.html

[2015-08-01 09:45] phildawes commented on #285
btw, I think you've got the wrong idea about crates.io: Packages there aren't binaries for install, rather they are rust libraries for other rust programs to use. Racer is currently a binary package (editors/ides invoke it by running the process) which is why the version there isn't up to date. Hope that makes sense

[2015-08-01 09:49] phildawes commented on #315
(I think @gozes is referring to the crates.io package racer package being out of date. This isn't used by emacs)

[2015-08-01 10:39] phildawes commented on #316
Have merged #317. Thanks @jaxx

[2015-08-01 10:39] #316 closed

[2015-08-01 13:02] gsingh93 commented on #296
Strange, it should be built in:
http://www.gnu.org/software/emacs/manual/html_node/elisp/Mode_002dSpecific-Indent.html

On Sat, Aug 1, 2015, 5:35 AM Phil Dawes <notifications@github.com> wrote:

[2015-08-01 15:25] hgabe opened #318 "windows : After compiling"
After compiling how do I know if racer is installed do I copy files compiled from the racer folder into the rust installation folder?

[2015-08-02 07:38] tafia commented on #318
I think everything is explained in the readme.
On 1 Aug 2015 17:25, "hgabe" <notifications@github.com> wrote:

[2015-08-02 23:42] ximyu opened #320 "Completion fail for std::collections::HashMap"
Below is my attempt using the commandline completor:
[code]

Inside `rust/src/libstd/collections/mod.rs`, the wiring seems to be a little bit complicated:
[code]

I tried to browse through all opening issues and didn't see anyone reporting this issue.  Please let me know if this is a known issue.  Thanks!

[2015-08-03 01:21] Furyhunter opened #321 "File-based completions match nothing on Windows with LF-ended files."
Completions by providing a prefix directly work fine:

[code]

However, completions from a file (on Windows), produce nothing:

[code]

The file in question:

[code]

**Specifically, this file is LF-ended. Atom editor produces LF ended files by default. This means that racer does not properly handle non-system line ended files.**

The completion prefix, as shown, is `str`. We should be getting the

[2015-08-03 04:03] Furyhunter commented on #321
This is a non-issue. Turns out my editor's plugin has been (silently) discarding non-zero exit codes related to missing dynamic libraries. I'm going to fix that plugin so it gives more useful error messages.

It is worth noting that file columns are handled differently based on line endings, though.

[2015-08-03 04:03] #321 closed

[2015-08-03 07:16] phildawes commented on #296
Maybe a recent addition? I'm on emacs 24.3.1

On Sat, Aug 1, 2015 at 2:02 PM, Gulshan Singh <notifications@github.com>
wrote:

[2015-08-03 13:43] gsingh93 commented on #296
Oops, I typed it wrong. It's `indent-for-tab-command`, not `indent-tab-for-command`.

[2015-08-03 17:14] bruno-medeiros opened #322 "Question about deamon mode."
I just noticed by chance the new Racer has a new deamon mode.

Is this mode recommended over the previous modes? For example, are there possible performance enhancements (AST caching, etc.) ? If so, is there anything special I'd need to know to integrate this mode into an IDE. I tried it out and it seems to accept the same commands as the command-line

[2015-08-03 17:35] bruno-medeiros opened #323 ""- Could not match expr node type""
Racer outputs this error:

[code]

With the following source:
[code]

When  `racer complete-with-snippet 24 46` is invoked in such file (the point right after `Vec<_> = philosephers.`)

[2015-08-04 12:54] phildawes commented on #296
Oh cool. Will try this out tonight and make the change if it works.
Thanks v much

On Mon, Aug 3, 2015 at 2:44 PM, Gulshan Singh <notifications@github.com>
wrote:

[2015-08-04 19:59] #296 closed

[2015-08-04 20:00] phildawes commented on #296
Done. Thanks again @gsingh93 !

[2015-08-04 20:02] phildawes commented on #322
Currently there's no real advantage to using this mode. I added it because I plan to work on tighter support with the rust compiler, and for that racer will likely need to hold and cache state.

[2015-08-05 15:22] bruno-medeiros commented on #322
Yeah, such evolution would require a resident process.

Well, now that you have a Changelog, it would be most suitable if any future protocol changes be documented there.

[2015-08-05 15:22] #322 closed

[2015-08-06 01:19] yohanesu opened #324 "Auto-completion without source code?"
It seems like it is taken for granted that source code is always availble. What if we have a proprietary dynamic library (with API documentation) but no source code, is there anyway we can use racer to gives us auto completion based on this?

[2015-08-06 04:56] phildawes commented on #324
Not currently, maybe in the future racer will do this somehow.
On 6 Aug 2015 2:19 am, "yohanesu" <notifications@github.com> wrote:

[2015-08-06 04:58] phildawes commented on #320
Thanks for filing this issue. I'm pretty sure this used to work so will
check it out this evening
On 3 Aug 2015 12:42 am, "Ximing Yu" <notifications@github.com> wrote:

[2015-08-06 11:29] vasily-kirichenko opened #325 "Cannot compile on Windows"
[code]

[code]

[2015-08-06 13:40] jaxx commented on #325
Well, you have very old source of racer. This line was removed from source code in 27th of April. Try to update your source code.

[2015-08-06 13:45] phildawes commented on #325
Hi @vasily-kirichenko,
Which version of racer is this?   Both racer-1.0.0 and master build ok on
my linux box with the same rustc + cargo versions, and this error doesn't
look like a windows problem.

Thanks,

Phil

On Thu, Aug 6, 2015 at 12:29 PM, Vasily Kirichenko <notifications@github.com

[2015-08-06 14:35] vasily-kirichenko commented on #325
Thanks, everything is OK now :)

[2015-08-06 14:35] #325 closed

[2015-08-06 20:32] #320 closed

[2015-08-06 20:32] #324 closed

[2015-08-06 20:33] #318 closed

[2015-08-06 20:50] ximyu commented on #320
It's working great now.  Thanks for the quick turnaround!

[2015-08-06 20:59] PeterBocan commented on #285
Hello guys, I do wonder, if you talk about this strange error:

    Downloading term v0.2.11
    Unable to get packages from source

    Caused by:
    Failed to download package `term v0.2.11` from https://crates.io/api/v1/crates/term/0.2.11/download

    Caused by:
            SSL peer certificate or SSH remote key was not OK

I tried to install/build Racer for Vim (`cargo build --release`) ...

[2015-08-07 00:18] marvelm opened #326 "Use an argument parsing library"
Would you be opposed to me adding another dependency (https://github.com/tailhook/rust-argparse) and cleaning up the argument handling in main.rs ?

[2015-08-07 06:27] phildawes commented on #326
Sounds good. Is it the code you want to clean up, or were you thinking of
changing the arguments? If the latter we will need to make sure plugins
remain compatible

On Fri, Aug 7, 2015 at 1:18 AM, marvelm <notifications@github.com> wrote:

[2015-08-07 06:30] phildawes commented on #320
No worries, thanks for noticing it was broken - it revealed a bug in the
import handling

On Thu, Aug 6, 2015 at 9:50 PM, Ximing Yu <notifications@github.com> wrote:

[2015-08-07 06:38] phildawes commented on #323
Hi Bruno, I'm afraid this is because racer isn't currently able to handle
macros.

On Mon, Aug 3, 2015 at 6:35 PM, Bruno Medeiros <notifications@github.com>
wrote:

[2015-08-07 10:31] bruno-medeiros commented on #323
Fair enough, any chance Racer could get a cleaner error output syntax though? It would make it easier for the IDE to know if it is just a Racer limitation, or an actual bug.

[2015-08-07 18:37] JoshBlake opened #327 "Panic on colon :"
I'm using Atom and atom-racer on Windows 8.1 x64, which recently has been telling me that racer exited with code 101. This is with racer tag v1.0.0. I have narrowed down this issue to racer itself (outside of atom/atom-racer) with this file:

[code]
Save that as main.rs, then call racer. Both of these lines cause a racer panic:
[code]
Output:
[code]

The 2:11 and 5:13 are both on the colon separat

[2015-08-08 14:55] phildawes commented on #327
Thanks for filing the issue Joshua, I'll take a look

[2015-08-08 15:13] #327 closed

[2015-08-08 15:20] phildawes commented on #285
Hi Peter,

I just cleared my cargo registry and tried to compile and this is working
fine for me. (Cargo downloads term v0.2.11 fine).
Is this still broken for you? Are you behind a firewall or something?

Cheers,

Phil

On Thu, Aug 6, 2015 at 9:59 PM, Peter Bocan <notifications@github.com>
wrote:

[2015-08-08 15:25] PeterBocan commented on #285
I'm just behind my router's firewall. I'm running on OS X and trying to build Racer for Neovim support.

[2015-08-08 15:43] phildawes commented on #285
Which version of rust/cargo are you using?

On Sat, Aug 8, 2015 at 4:25 PM, Peter Bocan <notifications@github.com>
wrote:

[2015-08-08 15:49] PeterBocan commented on #285
cargo 0.2.0-nightly (a483581 2015-05-14) (built 2015-05-15)
    rustc 1.1.0 (35ceea399 2015-06-19)

[2015-08-08 16:41] marvelm commented on #326
Sorry for not responding sooner.
I tried to use rust-argparse, but it didn't seem to improve the code quality. I think we should use Docopt (https://github.com/docopt/docopt.rs) instead. It takes a usage string, a struct, and decodes args into the struct. I have an example of this at https://github.com/marvelm/racer/blob/effe804/src/bin/main.rs#L188
I don't think the commands/arguments will change

[2015-08-08 19:15] JoshBlake commented on #327
Great, thanks!

[2015-08-09 09:41] varding opened #328 "Can't show methods of String in "libcollections\str.rs""
Race only show methods of String in "libcollections\string.rs" but none in "libcollections\str.rs"

The code below only show "truncate" but not include the method "trim" of &str

let mut s = String::new();
s.tr

platform:win7 x64
rust 1.2.0 stable

[2015-08-10 19:09] stratact opened #330 "Make a Vim variable that allows users to set the path of the tmp file"
I would like to be able to override the path of where the racertmp files get written.

E.g. Instead of the current directory, a user could point to `/tmp` as the default

[2015-08-11 01:57] varding commented on #328
![image](https://cloud.githubusercontent.com/assets/4688041/9188469/0671f6f6-400f-11e5-96ce-90907cdda811.png)

The method "trim" of str that I want to display was not there.

[2015-08-11 06:17] phildawes commented on #328
Hi Varding,

Thanks for the issue, I'll take a look, possibly this evening

On Tue, Aug 11, 2015 at 2:57 AM, varding <notifications@github.com> wrote:

[2015-08-11 17:55] Rodney-Gabriel commented on #328
@phildawes is there anywhere online is there tutorials to show a newbie how to install racer? Im not familiar with the terminal and I really like what racer is purported to do. As a newbie any feature that can cut time can give me more time to study and learn the Rust language. Im trying to install it for use in ATOM and have no clue what i'm doing. Im on mac OS X 10.10.3

[2015-08-11 23:14] JoshBlake opened #331 "Panic on file with 1 character, or out of range line:column"
Tested with 7ae984f5f
[code]
Interestingly, if I do:
[code]
then complete with 1 1, 1 2, or 1 3, it is ok (but no results). But 1 4 panics.

Same panic if the line number is past the end of the file.

Not sure if line and column are supposed to be 0 or 1 based. I think 1 based, but providing 0 for line or column produce interesting results:
| File  | Line | Column | Results |
|-------|--------|---

[2015-08-12 00:33] JoshBlake opened #332 "Panic on referencing mod with empty file"
Possibly related to #331.
Tested with 7ae984f.

[code]

Seems that "mod f" (in the process of typing "mod foo;") will cause racer to load foo.rs, which is an empty file, and then it unwraps something it shouldn't.

[2015-08-12 12:54] torpak commented on #324
If it is not a rust library you would build a rust wrapper for convenience anyway. Racer could work on that.

[2015-08-13 03:25] yohanesu commented on #324
Hmm, well it's a rust shared library, which is mine and proprietary... Would it be difficult to have racer scan the documentation generated by Cargo instead of source code?

[2015-08-13 04:37] tomjakubowski commented on #324
Yes. It's more feasible to reconstruct the information racer needs for completion from the metadata in rustc places in the shared library, in a way similar to how rustdoc provides documentation for items defined in crates external to the one it's operating on.

[2015-08-13 04:38] tomjakubowski commented on #324
It might be possible to use the JSON output file Rustdoc can create, although I'm not sure how usable or stable that file is.

[2015-08-13 04:40] tomjakubowski commented on #324
Come to think of it, the only way to reliably do this would be to depend on various rustc crates which aren't likely to be stabilized anytime soon (as rustdoc does). So that's not very feasible either.

[2015-08-13 04:41] torpak commented on #324
If it's your own proprietary rust library it seems a little paranoid if you don't let racer scan the code.If it's a dynamic library you can allways load it at runtime and use it like a C library. And yes it would needlessly complicate racer to support scanning documentation instead of code, i am sure of that even though i have not yet looked at the racer code.

-------- Ursprüngliche Nachricht ---

[2015-08-13 04:50] yohanesu commented on #324
Well of course I can let racer scan my code but I don't want to have to share the code. Can I let racer scan the code and save the result in some kind of database that racer can read from later?

[2015-08-13 05:18] torpak commented on #324
then don't share your code.Make a dynamic loader wrapper for it and racer can scan that.Your secret sauce stays secret an your customers can have racer code completion on the interface of the wrapper.And no one else has to work so your code can stay secret.it's a win-win situation.

-------- Ursprüngliche Nachricht --------
Von: yohanesu <notifications@github.com>
Datum: 13.08.2015  06:50  (GMT+01

[2015-08-13 05:26] yohanesu commented on #324
Yeah that would work but it's gonna be a lot of work writing and maintaining those wrappers. I'd rather see some general solution for code-completion in rust instead of having developers spending extra time writing wrappers for something that should have a solution in the design of the language / compiler. Don't get me wrong, I am so grateful for racer as it makes using Rust a much better experien

[2015-08-13 05:36] torpak commented on #324
so its ok if there is a pain of maintaining unnecessary code, as long as it isn't your pain.

-------- Ursprüngliche Nachricht --------
Von: yohanesu <notifications@github.com>
Datum: 13.08.2015  07:26  (GMT+01:00)
An: phildawes/racer <racer@noreply.github.com>
Cc: torpak <arne@gtnw.de>
Betreff: Re: [racer] Auto-completion without source code? (#324)

Yeah that would work but it's gonna be a lot o

[2015-08-13 05:41] yohanesu commented on #324
So it is unnecessary to be able to do code completion without access to source code? Talk about making it troublesome to use Rust in proprietary projects...

[2015-08-13 05:45] torpak commented on #324
Or let me phrase that a bit more precisely: why should people who share their code do more work, to make it easier for you to not share your code?

[2015-08-13 06:01] torpak commented on #324
Noone is making it troublesome they are just not making your problem their highest priority. And i am Sure the author of racer would even accept a patch if you want that feature bad enough to be willing to do something.But that would again be you doing work you can not charge anyone for.

-------- Ursprüngliche Nachricht --------
Von: yohanesu <notifications@github.com>
Datum: 13.08.2015  07:41  (

[2015-08-13 06:02] yohanesu commented on #324
What is wrong with not sharing code? The world is full of proprietary code and personally I would love to see Rust flourish and become an realistic alternative to C/C++/Swift etc in both open source and proprietary projects. While maybe it is not the main goal of Rust or Racer it is important to provide functionality that is convenient for the developers. What other languages forces developers to

[2015-08-13 06:09] yohanesu commented on #324
Seems like you assume I don't want to do work I can not charge for just because I have a proprietary product.. If I could easily do it myself I would patch racer or rustc but it is beyond the scope of my expertise so that is why I am asking for advice here. I hardly think I am the only one who could benefit from this functionality. Anyway, no point in furthering discussing here. I will post the sa

[2015-08-13 06:15] torpak commented on #324
Rust doesn't force you to do anything. And racer isn't even an official part of mozillas rust efforts. It's the work of a single Volunteer who work on it in their sparetime. I understand there are Reasons to keep code under wraps.But why is a volunteer obligated to help you doing it, before they even have implemented all the features interesting to them selves?

[2015-08-13 06:21] yohanesu commented on #324
I have never requested anyone to implement this for me. No one is obligated to do it. How did you come to this conclusion and why do you get so offensive? I was merely asking if there was any way to get code completion without source code using racer while stating that I think this is an important feature of a new language. Of course, this is not the responsibility of anyone in particular but I am

[2015-08-13 06:44] torpak commented on #324
I was just trying to help you solve your problem, and you kept demanding a different solution. Maybe it was a misunderstanding.I never wanted to offend.If i did, i am truely sorry.

[2015-08-13 06:51] yohanesu commented on #324
And I'm grateful for your suggestion. Maybe I'll adopt it for the time being (currently my API is really unstable so it's gonna be a lot of double work though when API changes...). I apologize if I came on strong but I was trying to make a point that I don't think it is a feasible solution in the long run if Rust is going to become one of the big mainstream languages (which I really hope it will).

[2015-08-13 06:52] torpak commented on #324
I just had another idea why not write a generator for the wrapper/loader?That way you wouldn't have to maintain it and you could share the generator. that should be easy and solve the problem.

[2015-08-13 07:08] yohanesu commented on #324
Actually I wrote that in my last comment but erased :)  For functions I guess it would be easy but maybe not so easy to deal with structs that has both public and private field variables...

[2015-08-13 23:01] cburgdorf commented on #326
I suggest using github.com/kbknapp/clap-rs. It has the best API I've seen so far and is very well maintained by @kbknapp

[2015-08-14 01:38] kbknapp commented on #326
Thanks for the kind words! I've put together a gist of what `main.rs` would look like using `clap` at https://gist.github.com/kbknapp/f71a574d89abbe966d8d

This is truly a one-for-one port, all functionality should be exactly the same, plus all the extras added by `clap` for free, so to speak (Noted below).

A few things to note about this:

* There are some oddities when using the first argument

[2015-08-14 02:20] tafia commented on #326
:+1:

[2015-08-14 18:08] marvelm commented on #326
I took a look at `clap` and .

The one obvious disadvantage of `Docopt` is that code using an invalid usage can be compiled with no error. The author has a compiler plugin and macro to check the usage string and generate a config struct at compile time, but it only works on a nightly compiler. This can be mitigated by writing a test to create an instance of `Docopt` with the usage string and catch

[2015-08-15 04:38] kbknapp commented on #326
@marvelm thanks! Also, to be fair, it's somewhat possible to do the same with `clap`. Although it's trivial to test against. With `clap` if you have a test that builds the valid command line arguments in the same way, and you call `App::get_matches()` with no `panic!` you're good. But this still won't fix a user typo, only verifies a working `App` struct with valid arguments.

While testing I beca

[2015-08-15 15:07] Wilfred commented on #40
Working on a patch :)

[2015-08-15 15:07] Wilfred commented on #251
Racer is now in MELPA, so this cna be closed.

[2015-08-16 10:08] phildawes commented on #251
Thanks @Wilfred

[2015-08-16 10:08] #251 closed

[2015-08-16 10:15] #40 closed

[2015-08-16 11:34] phildawes commented on #328
@Rodney-Gabriel. I'm afraid being familiar with your environment (e.g. the terminal, your editor) is pretty-much a prerequisite for using rust/racer, as I don't have the available time/manpower to orient instructions to an absolute beginner, sorry.

[2015-08-16 11:35] phildawes opened #334 "Add support for deref() coercions"
#328 requires support for deref() coercions in order to be able to resolve &str methods in String

[2015-08-16 11:37] phildawes commented on #328
Hi @varding, Thanks for the issue. I'm afraid resolving &str methods for String requires racer being able to follow deref-coercions. I've opened #334 for this enhancement.

[2015-08-16 11:37] #328 closed

[2015-08-16 11:43] phildawes commented on #330
The racer binary can support this (thanks to #278, thanks @damienrg), so all that is needed is to have .vim send the temporary filename as an additional argument to racer. Does anybody with vim experience fancy adding this?

[2015-08-16 12:57] phildawes commented on #332
Hi @JoshBlake,

I'm not getting this error. E.g.
[code]
Maybe it is fixed by a subsequent patch. Can you re-open this if not.
Thanks!

[2015-08-16 12:57] #332 closed

[2015-08-16 12:58] phildawes commented on #331
Thanks for the issue, I'll check it out (hopefully today)

[2015-08-16 13:03] #331 closed

[2015-08-16 13:04] phildawes commented on #331
This turned out to be an out of bounds error when testing for the BOF unicode header (present in some windows text files). Thanks for reporting the issue @JoshBlake

[2015-08-16 14:07] varding commented on #328
@phildawes
Great! Thank you for your hard work on Racer!!

[2015-08-16 15:10] #315 closed

[2015-08-17 09:17] grigio commented on #58
I've installed `rust 1.2.0` via `brew` but i don't think I have RUST_SRC_PATH

[2015-08-17 09:33] grigio commented on #58
ok it seems rust via brew doesn't have `src` directory so you need to download it from rust source

[2015-08-17 11:02] tafia commented on #58
Is there any reason you're not updating rust ? 0.12 is very old in rust
terms. Try 1.0 at least.
On 17 Aug 2015 17:33, "Luigi Maselli" <notifications@github.com> wrote:

[2015-08-17 15:50] phildawes opened #336 "racer can't find core::* stuff"
https://github.com/rust-lang/rust/commit/5cccf3cd256420d9f32c265e83036dea1d5f94d8  removes 'extern core' from libstd, so now racer can't find core::* stuff from libstd, which means it can't resolve a bunch of modules (e.g. std::mem)

[2015-08-17 16:17] ville-h opened #337 "racer can't complete sdl2 0.8.0 renderer functions"
Upgraded from sdl2 0.6.1 to 0.8.0 and noticed racer now fails to complete functions for renderer under emacs at least:

[code]

[2015-08-17 16:38] phildawes opened #338 "tmp file loading doesn't work properly (in emacs)"
Emacs uses the new 'pass the temporary filename as an additional cmdline arg' functionality. Unfortunately it doesn't seem to work all the time.

To fix I need to make all the file loading go via the session, so that it can do the correct temporary file substitution

[2015-08-17 17:06] dleslie commented on #337
Can confirm, I was running into this issue myself.

[2015-08-17 19:05] #336 closed

[2015-08-18 03:02] gsingh93 opened #339 "Don't remove other company modes"
The emacs mode sets the `company-backends` variable to be just `(racer-company-complete)`:
[code]

It should instead add this function to the list, so the other modes aren't overwritten. I find `company-dabbrev-code` to be a useful backend, and it's annoying to have to renable it with racer installed.

[2015-08-18 03:07] gsingh93 opened #340 "Only complete if at end of symbol"
In the emacs mode, `racer-complete-or-indent` starts completion regardless of the position of point. This causes problems, because if point is before the first character of a line, most users would expect tab to indent, not trigger auto completion. However, if at least one candidate is found, auto completion is triggered.

It makes more sense to check if the user is at the end of a symbol boundary

[2015-08-18 03:58] dleslie commented on #339
It's my understanding that the general convention for company backends is to instruct the user to install them by:

[code]

Even the name ```racer-company-complete``` is out of step with the general naming convention for new company backends.

[2015-08-18 03:59] dleslie commented on #339
Likewise, there's no need to make ```'company-backends``` into a local variable.

[2015-08-18 04:36] gsingh93 commented on #339
@dleslie Agreed on all points. I think the automatic installation of the company mode backend should be removed, `racer-company-complete` should be renamed to `company-racer`, and a description of how to add this backend added to the README.

Once this is done, if all the functionality from [company-racer](https://github.com/emacs-pe/company-racer) mode is implemented in `racer-mode`, we also migh

[2015-08-18 20:04] #338 closed

[2015-08-18 20:48] softinio commented on #194
Thanks to the instructions here I have got it working, but when ever I use it creates a temporary file with an extension of .rs.racertmp. How do I stop it doing this or what do I need to do for it to removed automatically and merged into original file I am editing?

[2015-08-19 01:44] marcianx opened #342 "vim: Allow opening definition in new split-window"
It would be nice to have, eg, gD open the definition in a new split-window, after which one could use gd to explore further within that window.

[2015-08-20 07:07] phildawes commented on #342
I don't use vim personally, but I'd be open to merging such a patch unless somebody else disagrees.

[2015-08-20 07:18] phildawes commented on #194
The vim plugin should be removing these files, but I guess it probably
doesn't if racer fails to complete or something.
The emacs support currently puts the temporary files in the /tmp dir, so
vim support could do the same. There is an issue for this: #330

On Tue, Aug 18, 2015 at 9:48 PM, Salar Rahmanian <notifications@github.com>
wrote:

[2015-08-20 07:35] phildawes opened #343 "Racer Emacs support needs a better maintainer(s)"
@Wilfred, @freebroccolo, @tomjakubowski, @moonlite, @marvelm, @ane
(sorry if I missed anybody)

It's pretty obvious that I'm not the best equipped to maintain the racer emacs stuff, most of the code is from other contributors. Does anybody(s) fancy taking over maintenance of the emacs bindings?

Also now that racer-emacs support is in melba the code could be moved to a separate github project. I a

[2015-08-20 08:58] lilydjwg commented on #330
It's great that racer now supports this., but recently I might not have the time to do it...

[2015-08-20 11:00] Shougo commented on #194
I think it should be closed.

[2015-08-20 11:00] Shougo commented on #330
OK.  I can do it.

[2015-08-20 11:03] Shougo commented on #343
I think Vim support maintainers are also needed....

[2015-08-20 12:16] Shougo commented on #330
Fixed the problem.

[2015-08-20 12:17] Shougo commented on #194
@softinio I fixed the problem in https://github.com/phildawes/racer/issues/344.

[2015-08-20 16:17] damienrg commented on #343
It may also be good to have a racer package with no dependency on completion system (auto-complete, company, ...) as mentioned by @marsam in https://github.com/phildawes/racer/pull/252#issuecomment-109821276.

[2015-08-20 18:16] marvelm commented on #343
If `racer` is going to be spun out into a repository, I think we should consider using an IRC channel to cut down on the number of support-related issues. I've been sitting in #racer on moznet for a while. I've just registered the channel today, and I can transfer ownership.

[2015-08-20 20:17] Wilfred commented on #343
On the contrary, I think you're doing a great job @phildawes! You've created a successful project with contributions from lots of different people. If you'd like others to review/merge Emacs related pull requests, you could give some Emacs folks commit access to this repo? I'd be happy to help.

As for splitting out racer.el, I don't feel strongly. Separate repos allow separate READMEs with approp

[2015-08-21 04:07] DontPanic345 opened #345 "Question: Do I need have to the rust source to get racer to work?"
Because I just downloaded and ran the Windows installer available from https://www.rust-lang.org/

[2015-08-21 04:16] DontPanic345 commented on #345
I found that you have already said yes in other some other issues that have since been closed, but how  about explicitly saying that you do need the source in the readme

[2015-08-21 15:02] phildawes commented on #345
That's a fair point, thanks, I'll do that.

(Back when I originally wrote the README the only way to get rust was from
the source, so it was kindof assumed that you had the source on your
machine)

On Fri, Aug 21, 2015 at 5:16 AM, Alan Falloon <notifications@github.com>
wrote:

[2015-08-21 15:11] bruno-medeiros commented on #345
Note that there is this Rust issue for having the source included in the main Rust distribution: https://github.com/rust-lang/rust/issues/19535

[2015-08-21 16:06] phildawes commented on #343
@shougo: I agree, maybe even more so with vim than emacs.
The reason I brought it up for emacs is that there seem to be multiple people who are active in contributing so a good likelihood that somebody will be interested in maintaining emacs support.

@marvelm: #racer irc sounds awesome! (and something I hadn't considered). Unfortunately I wouldn't have the spare time to man it, provide support et

[2015-08-21 18:09] Shougo commented on #343
OK.  I will check Vim issues in racer.

[2015-08-21 23:46] Wilfred commented on #339
All that `racer-activate` does is set `company-backends` for the current buffer. It provides a simple way of getting up and running, but it's optional.

Agreed that `company-racer` would be a better name, sadly that project already exists. racer.el also provides eldoc and jumping to definition, so perhaps the current name is better -- it's not just company integration.

[2015-08-21 23:53] Wilfred opened #346 "racer doesn't discover variables inside llvm_sys files"
Completion works in this case:

[code]

However, it doesn't work here:

[code]

[2015-08-22 00:03] gsingh93 commented on #339
@Wilfred The README should specify that `(racer-activate)` is optional then. And regardless of whether it is or isn't optional, it should add a backend rather then set a single backend.

Racer provides features other than company integration, but we're saying the company backend function is improperly named, not the project itself. We may not be able to take `company-racer` (but we should seriousl

[2015-08-22 00:03] tomjakubowski commented on #339
FWIW CIDER, which is analogous in some ways to Racer, includes support for company-mode out of the box, and auto-complete-mode through a companion library. https://github.com/clojure-emacs/cider

Of interest is the section of their README on integrating with Company. https://github.com/clojure-emacs/cider#auto-completion

[2015-08-22 04:08] varding opened #347 "The extern declaration functions can't be show by racer"
1. The functions without a body only shows it's name but does't show it's parameters
2. Function name inside the extern "system" scope can't be show in racer

pub fn bar(i:i32);

extern "system" {
	pub fn foo(i:i32){

	}
}

[2015-08-22 20:20] marvelm opened #348 "IRC channel"
I suggested this solution in https://github.com/phildawes/racer/issues/343#issuecomment-133105777. For the channel to be effective, a few things are needed:
- [ ] Volunteers to help out in certain time zones
- [ ] A code of conduct to prevent abuse
- [x] A logger like [BotBot.me](https://botbot.me) to allow newcomers to search through previous discussions.

[2015-08-22 21:06] Shougo commented on #348
Hmmm....
I think gitter room is better.

[2015-08-22 21:21] marvelm commented on #348
Rust has a channel on moznet with 967 people at this time. I think we might benefit from some of those users helping out.

[2015-08-23 08:42] phildawes commented on #346
Hi @Wilfred. I think this is because all the functions in llvm_sys::core:: are extern "C", and racer doesn't support extern yet.
@varding opened #347 with the same problem. I will try and get this functionality added soon

[2015-08-23 08:46] phildawes commented on #347
Hi @varding.

Thanks for filing this issue.

1. I don't think functions without a body are valid in rust.
2. You're right, racer doesn't support extern yet. I suspect it should be pretty easy to add so will have a go soon

Cheers!

[2015-08-23 10:10] Wilfred opened #349 "Racer doesn't discover String::from"
It discovers the other `String::from_...` methods, so I'm not sure what's different about `String::from`.

[2015-08-23 10:20] Wilfred commented on #346
Aha, that looks like the issue. Should I close this issue in favour of #347?

[2015-08-23 10:28] phildawes commented on #346
Yeah, that would be good thanks. If after I've fixed that this still
doesn't work then reopen.

Thanks!

On Sun, Aug 23, 2015 at 11:20 AM, Wilfred Hughes <notifications@github.com>
wrote:

[2015-08-23 10:34] phildawes commented on #349
String::from is an implementation of the 'From' trait, whereas from_* are
just std impl functions on String. It might be something to do with
applying generic traits to non-objects. Will take a look

On Sun, Aug 23, 2015 at 11:10 AM, Wilfred Hughes <notifications@github.com>
wrote:

[2015-08-23 11:27] varding commented on #347
@phildawes
I means the extern function declarations in rust ,they don't have function bodys.So if you only add supports for extern ,they can't be show either

[2015-08-23 13:03] phildawes commented on #347
Ah, I see what you mean, thanks

On Sun, Aug 23, 2015 at 12:27 PM, varding <notifications@github.com> wrote:

[2015-08-23 13:20] #346 closed

[2015-08-24 05:40] #339 closed

[2015-08-24 17:38] birkenfeld opened #353 "company: duplicated information in completion menu"
Since the merge of #350, when `company-tooltip-align-annotations` is nil, the element names and annotations are smashed against each other without any spacing. Also, the old annotation of "Type : Signature" was better than the new "Signature : Type".

Finally, this is not new, but the whole function signature is *very* long to display in the menu. I would suggest to

* remove the element name from

[2015-08-24 17:59] fbergroth commented on #353
I agree, it's ugly with `company-tooltip-align-annotations` set to `nil`.

Trimming off the name is a good idea. With trimming, wouldn't it look better to have the completions outlined as "Signature : Type", like:
[code]
Then it almost matches the actual signatures.

I'm just starting out with rust, so I might be missing some case.

[2015-08-24 18:00] bluss opened #354 "Stack overflow on completion (when function and mod are named the same)"
I have a project using itertools. Completing for example `itertools::I` works as expected, but `itertools::` completes to nothing. Further research shows it stack overflows when given this completion. [RUST_LOG=debug output is here](https://gist.github.com/bluss/2973167c5cd022dcf6ca).

It was me that replaced $HOME into the logfile.

[2015-08-24 18:14] birkenfeld commented on #353
I agree.

[2015-08-24 19:37] bluss commented on #354
A closer look at the log reveals that it looks like the completion for `itertools::times` that runs in an infinite loop. It's just a function. There's a type of the same name but titlecase (`Times`).

[2015-08-24 19:40] bluss commented on #354
Oh and itertools::times is both a private module and a function... that must be it

Here's a minimal testcase:

`testcase.rs`
[code]

stack overflow with completion command to complete at `self::`.
[code]

[2015-08-24 20:03] eriksvedang opened #355 "Runtime error"
Racer compiles fine on my system (OSX 10.10.5) but fails when I run it:

[code]

[2015-08-25 05:11] #330 closed

[2015-08-25 05:21] #268 closed

[2015-08-25 07:38] birkenfeld commented on #353
BTW, I also wondered why in the second screenshot some enum variants don't have a signature. I traced that to a bug in `s.el`:

https://github.com/magnars/s.el/pull/75

If that doesn't get fixed in due time, you might want to consider a workaround.

[2015-08-25 07:56] birkenfeld commented on #353
ok nvm ;)

[2015-08-25 07:59] fbergroth commented on #353
Nice catch :)

[2015-08-25 08:05] birkenfeld opened #359 "inner functions are suggested with prefix"
When calling `complete` on `struct.` with a prefix, inner functions are suggested that aren't suggested when there is no prefix.

Example file:
[code]

Calling racer:
[code]

[2015-08-25 11:00] Shougo commented on #124
It is fixed by https://github.com/phildawes/racer/pull/344.
It should be closed.

[2015-08-25 11:01] Shougo commented on #194
@phildawes I think it should be closed.

[2015-08-25 11:17] Shougo commented on #287
I think it should be closed.
It is already implemented.

[2015-08-25 11:20] Shougo commented on #206
Implemented.

[2015-08-25 12:49] bruno-medeiros commented on #343
That might be welcome for other reasons as well: I subscribe to Racer issues, and I hope that in the future I might contribute to Racer itself as well, when I have more time for that. However, I have no interest in Emacs integration (or Vim), so if that aspect is moved to a separate repository, it will cleanup up things a bit and reduce noise.

[2015-08-25 13:08] #287 closed

[2015-08-25 14:04] bluss commented on #264
@olsonjeffery To get debug info, run racer manually like this  `RUST_LOG=debug racer complete ROW COL FILENAME`  where you put in the exact line number and column number manually. The column number is what vim specifies when you have the cursor over the last character in normal mode.

[2015-08-26 04:21] porglezomp commented on #304
Is there a way to ask the rust compiler or one of its component libraries to do the type inference for us, that could be leveraged by racer?

[2015-08-26 05:15] #359 closed

[2015-08-26 05:30] #206 closed

[2015-08-26 05:36] phildawes commented on #354
Thanks very much for the concise testcase @bluss, I'll take a look

[2015-08-26 06:03] phildawes commented on #354
I took a quick look, it looks like even
[code]
with `racer find-definition 1 17 testcase.rs` is enough to trip this issue. The problem is that racer searches for `times::times`, decomposes the search into 'find(find("times"), "times")', and then immediately finds the statement again when searching for the outer 'times' module, which triggers a search for `times::times`....

I'm going to have to th

[2015-08-26 10:08] eriksvedang commented on #355
Turns out that ```cargo run``` works fine, it's just when I run it with ```racer``` that it fails. Any idea how I can work around this?

[2015-08-26 10:44] ebfe commented on #355
Are you sure you are not running an old binary? `cargo build` produces target/{debug,release}/racer.

[2015-08-26 11:20] eriksvedang commented on #355
Thanks, that was it! That executable must have been there from a much earlier build.

[2015-08-26 13:01] birkenfeld commented on #203
This is fixed since the merge of #350.

[2015-08-26 13:04] birkenfeld opened #365 "Feature: use path assistance"
It would be interesting to have a way to ask Racer "what module/submodule do I have to `use` to get HashMap"?

The next step, actually inserting the use statement in a file, is probably not within Racer's mission statement, but it can be added to the editor specific code.

[2015-08-26 14:44] JohnSmithX commented on #58
@grigio With me, so sad

[2015-08-26 21:15] birkenfeld opened #367 "Problems with blank-masking"
The code chunking iterator works in terms of byte offsets. But the `mask_comments` function (and ´mask_sub_scopes` too, probably) construct a new string based on differences of byte offsets.

That means that if a comment or string contains non-ASCII characters, the "masked-out" string will have more characters than the original source, since multi-byte characters got replaced by multiple single-by

[2015-08-26 21:16] birkenfeld opened #368 "Minor code-chunk lexing bugs"
The code-chunk lexer has two minor bugs:

* raw strings with `#` delimiters are not recognized as raw
* character literals with multi-char escapes (e.g. `'\x00'`) are not recognized as chars

[2015-08-28 06:51] #194 closed

[2015-08-28 06:52] #124 closed

[2015-08-28 14:56] #353 closed

[2015-08-28 17:44] birkenfeld commented on #340
`racer-complete-or-indent` is now gone. `company-indent-or-complete-common`, which I use for binding TAB now, seems to do what you (and I) want.

[2015-08-28 23:41] JoshBlake opened #374 "Can't find end of struct header"
Tested with on OS X, Rustc version 1.3.0-beta.3
[code]

Looks like related to this line, which assumes the struct is completely typed:
https://github.com/phildawes/racer/blob/130516cac3e38c4845c8fc30006d61eeea8f2ff2/src/racer/matchers.rs#L298

[2015-08-29 07:44] globin commented on #297
Have this issue with Windows 10 64-bit:

[code]

[2015-08-29 12:27] birkenfeld commented on #326
I updated the branch in [my fork](https://github.com/birkenfeld/racer/tree/clap). The timings and allocations are now
[code]

[2015-08-29 13:57] FuGangqiang opened #375 "emacs racer-mode: need `racer-pop-mark`"
same to `cscope-pop-mark`

[2015-08-29 14:48] kbknapp commented on #326
@birkenfeld That prompted me to update to the latest master here (since there have been massive performance improvments) and update `clap` as well. The gist posted above has been updated, but here's the relevant data:

[code]

Because `clap` came out faster using python, that prompted me to up the iterations. When using `-r 1000` (1,000 iterations instead of 100) the results are:

[code]

Which ma

[2015-08-29 14:59] birkenfeld commented on #326
Yeah, 9.36 vs 9.42 is basically noise. As for docopt, I think it proved to have a nontrivial cost that should be avoided for this use case.

@kbknapp a few observations:

* is it possible to print the entire help text when no subcommand is given? It only tells me
[code]
which is not so helpful (sure, `--help` is advertised so no big problem, but it it seems like this should be in the message alrea

[2015-08-29 15:33] kbknapp commented on #326
@birkenfeld

Yes. Just change [these lines](https://github.com/kbknapp/racer/blob/744313c512514d82bbf736c57d0aa8fbffe99fab/src/bin/main.rs#L183-L184) to:

[code]
OR use the new syntax which is a little prettier (but does the same thing)

[code]

I agree. But I think after making the change described above to give the full help on lack of a command it's almost a non-issue. Since at the bottom it sa

[2015-08-30 01:02] moonlite commented on #375
This already works fine with the regular `pop-tag-mark` function which by default is bound to `M-*`.

[2015-08-30 04:03] kbknapp commented on #326
@birkenfeld I've made some of those changes so you can see what it looks like. See [clap-update#6b4ff42f](https://github.com/kbknapp/racer/commit/6b4ff42f264fd81c13848fa48a53d1369e485b00) to test. This is using the second method described above.

[2015-08-30 09:53] #349 closed

[2015-08-30 09:57] #375 closed

[2015-08-30 12:48] mdedetrich opened #379 "Homebrew Package"
Not sure about other OS environments, but we should provide a homebrew distribution, especially for editors (such as Atom) that don't provide their own package management system and rely on external binaries

[2015-08-30 15:54] phildawes commented on #367
Good catch.
I think internally it makes sense if we hold the byte offset in the file, so replacing a multibyte char with the same number of spaces is the right thing to do from the perspective of masking.

I'm not sure what is best to do about character literals with an escape sequence - I assume the parser balks at multi space char literals (I haven't tested). Maybe we should replace with a 1 spa

[2015-08-30 16:13] #355 closed

[2015-08-30 16:13] #345 closed

[2015-08-31 01:52] tomjakubowski opened #381 "racer completes some static functions weirdly"
[code]

That `"fn new(value"` gets inserted literally into the completion in Emacs:

<img width="684" alt="screen shot 2015-08-30 at 6 49 06 pm" src="https://cloud.githubusercontent.com/assets/667901/9570787/044ee6f2-4f48-11e5-81e8-69160596df23.png">
<img width="684" alt="screen shot 2015-08-30 at 6 49 09 pm" src="https://cloud.githubusercontent.com/assets/667901/9570789/092306b8-4f48-11e5-9308-a8

[2015-08-31 02:03] tomjakubowski commented on #379
In general there seem to be many unanswered questions about how best to package Rust applications like racer for distribution by package managers like Homebrew and apt.  I'd like to see racer leading the charge to answer them!

I thought Atom had its own package manager, at least it did when I installed it. What do you mean?

[2015-08-31 04:23] mdedetrich commented on #379
Awesome! In modern times I just have a real distaste for manual package management

Atom does have its own package manager, but they act more like interfaces/bridges. You will see that many language implementations for things like autocomplete refer to an already installed binary that provides that autocompletion (rather than packaging it with the Atom Package)

Current examples are Scala (ensime)

[2015-08-31 13:04] Freyskeyd opened #382 "Neovim support"
Hi,

I'm currently trying to make this plugin works with Neovim.

When i'm calling Omni complete after a `.`:

![](https://infinit.io/_/3pJRM8v.png)

but if i'm trying to do the same thing with: `vec.as`
![](https://infinit.io/_/3e8wDnw.png)

any idea?

[2015-08-31 13:34] Shougo commented on #382
I think it is not problem.
This is just not found candidates from completion window.
"as" does not be matched in the candidates.

What's the problem?

[2015-09-01 16:56] phildawes commented on #343
I've setup an emacs-racer project here: https://github.com/racer-rust/emacs-racer and linked to it from the Racer README.md. How does melpa get updated? Does it just require a PR to https://github.com/milkypostman/melpa/tree/master/recipes ?

[2015-09-01 17:06] ane commented on #343
Yes, that's how it works. There's a racer module there now (
https://github.com/milkypostman/melpa/blob/master/recipes/racer) so you
just need to change the address of that via a PR.

On Tue, Sep 1, 2015 at 7:57 PM Phil Dawes <notifications@github.com> wrote:

[2015-09-01 17:28] fbergroth commented on #343
@phildawes yes, update the recipe to
[code]
and update the URL header in `racer.el`.

[2015-09-01 18:38] Furyhunter commented on #337
The subsystem types are generated by a macro, so racer has issues evaluating the type of `video()`. A workaround is to explicitly declare the type of `renderer`,

[code]

[2015-09-02 07:39] #381 closed

[2015-09-02 08:00] phildawes commented on #297
Hi Robin,
I'm not sure. Maybe delete the Cargo.lock file and retry (this will make it
download the latest version of kernel32-sys).
What version of rust and racer are you using?

On Sat, Aug 29, 2015 at 8:44 AM, Robin Gloster <notifications@github.com>
wrote:

[2015-09-02 08:07] phildawes commented on #304
It is the goal to eventually use rustc for type inference, and the rust
tools team are working in the direction of making rustc more amenable for
tools use, but it is a way off.
I've been experimenting with using rustc for type inference, but it is an
uphill battle with the current rustc design

On Wed, Aug 26, 2015 at 5:21 AM, Caleb Jones <notifications@github.com>
wrote:

[2015-09-02 08:11] phildawes commented on #365
Hi @birkenfeld. I agree, this would be a cool feature.

BTW, I think inserting the use statement is absolutely in Racer's mission - one of the reasons I'm interested in getting better rustc based type and lifetime inference is to be able to perform accurate code transformations like adding imports, renaming items, extracting functions etc..

[2015-09-02 12:39] gaveen opened #386 "Racer stopped working on Vim with git head build"
**Env**
Vim: 7.4 (Included patches: 1-207, 209-801, 803-808, 810-827) with vim-plug
OS: Fedora 22 (x86_64) Linux
Racer: git head (d0c9a10fe4605ad3b1f5931f01409616e84fc9d2)
Rust: 1.2.0

**Config snippets**
_[.vimrc]_
" Plugin definitions for [junegunn/vim-plug](https://github.com/junegunn/vim-plug). Also tried without lazy loading rust.vim
Plug 'rust-lang/rust.vim',            {'for': 'rust'}
Plug

[2015-09-03 00:55] jerrystarfield commented on #382
Same problem in vim.

The `.as` should complete to `.as_slice`, `.as_mut_slice` ... etc.

[2015-09-03 01:17] fitzgen opened #387 "racer-find-definition does not work with macros"
### Steps to reproduce:

* Open a rust source file in emacs with racer mode
* Position the cursor over `try` in a `try!(...)` macro invocation
* Do `M-.` (aka `racer-find-definition`)

### Expected results:

Jump to the definition of the `try!` macro in the rust checkout that racer was configured with

### Actual results:

Nothing happens

[2015-09-03 04:21] mikeyjcat opened #388 "Could not compile `syntex_syntax`"
Am trying to build racer, got the message above. I have absolutely no clue how to resolve this, some pointers would be really appreciated.

Using a fresh rust 1.2 compiler, on Ubuntu 14.04, messages as follows:

mikehewitson1@ubuntu:~/racer$ cargo build --release --verbose
       Fresh typed-arena v1.0.1
       Fresh libc v0.1.10
       Fresh bitflags v0.3.2
       Fresh regex-syntax v0.2.1

[2015-09-03 14:40] phildawes commented on #387
Hi @fitzgen , I'm afraid racer doesn't support macros yet, sorry

[2015-09-03 14:41] phildawes commented on #388
Hi Mike. Is this with racer 1.0 or with git master?

On Thu, Sep 3, 2015 at 5:21 AM, Mike Hewitson <notifications@github.com>
wrote:

[2015-09-03 16:01] mikeyjcat commented on #388
H Phil

cloned git repo

Oddly enough, i repeated the process on a  VM on my work laptop, and it worked.

[2015-09-03 19:12] denis631 commented on #285
Hi Phil,
I'm experiencing the same problem as Peter. I've turned off the Firewall, but it didn't work out.

cargo 0.4.0-nightly (15b497b 2015-07-08) (built 2015-07-09)
rustc 1.2.0 (082e47636 2015-08-03)

Any suggestions ?

[2015-09-03 19:15] PeterBocan commented on #285
I've solved it somehow. I had to reinstall rust with cargo.

[2015-09-03 19:54] denis631 commented on #285
I guess the problem is in cargo, since it points to the invalid links...
I've installed openssl from brew. Installed nighty version of rustc. Didn't work out.

[2015-09-03 21:32] Wilfred opened #389 "Detect Vec methods when using vec![]"
I've seen issues discussing autocomplete on macros and jumping to definitions, but I've also noticed that racer can't tell `vec![]` is of type `Vec`.

As a result, racer can't offer any completions here:

[code]

even though using an explicit `Vec` creation is fine:

[code]

[2015-09-04 01:17] dirkraft commented on #388
I had the same problem. I am on mac and installed rust via `brew install rust` so I did a `brew update ; brew upgrade rust`. Then the `cargo build --release` completed without error after a few minutes.

It is day one with rust for me so I have no insight on why.

[2015-09-04 01:29] dirkraft commented on #388
But then I had to `brew switch rust 1.1.0` backwards because bad cargo is in the homebrew rust 1.2.0 package: https://github.com/Homebrew/homebrew/issues/42992

[2015-09-04 07:32] mikeyjcat commented on #388
I will try an update of rust tonight as well as another version and provide feedback.

[2015-09-04 10:27] ernestrc commented on #264
+1

[2015-09-04 10:44] evgenymarkov opened #392 "Non-zero exit status appear when i write symbols before placeholder in string"
I compiled racer yesterday and today i found small bug. Sorry if this bug associated with Atom racer plugin. Bug appears when i write some symbols("Bingo") before {}.
![screenshot_2015-09-04_15-39-52](https://cloud.githubusercontent.com/assets/6116627/9681950/76adc52a-531b-11e5-91b5-e5c7d54c44e9.png)

[2015-09-04 23:02] CscLambda opened #394 "racer returned a non-zero exit code: 101 16: 0x778859cd - BaseThreadInitThunk"
Received this error when using Racer with edubkendo's Atom editor plugin on Windows 7. However, "racer complete std::" in cmd works fine.

[2015-09-04 23:08] CscLambda commented on #394
I'm not sure if this is an issue with racer or the plugin, so I've opened an issue there as well.

[2015-09-05 19:31] nxnfufunezn commented on #389
It works for me..
![racer vim](https://cloud.githubusercontent.com/assets/9052031/9700898/8e5d3530-5432-11e5-96be-811c09ad98f9.png)

rustc 1.2.0 (082e47636)
cargo 0.4.0-nightly (15b497b)
NeoVIM 0.0.0-alpha+201509041956

[2015-09-05 19:33] jonas-schievink commented on #389
Does it work when leaving out the type annotation of the let binding?

[2015-09-05 19:35] nxnfufunezn commented on #382
It works on neovim..
![racer vim](https://cloud.githubusercontent.com/assets/9052031/9700898/8e5d3530-5432-11e5-96be-811c09ad98f9.png)

rustc 1.2.0 (082e47636)
cargo 0.4.0-nightly (15b497b)
NeoVIM 0.0.0-alpha+201509041956

[2015-09-06 10:29] nxnfufunezn commented on #389
nope! :disappointed:

[2015-09-07 04:57] phildawes commented on #389
Hi @Wilfred: Yes, I'm afraid this is because racer doesn't support macros yet.
(I guess vec![] could be added as a special case, but personally I'm more interested in working on getting better compiler support to handle this)

[2015-09-07 05:00] #285 closed

[2015-09-07 05:13] #374 closed

[2015-09-07 05:14] phildawes commented on #374
Thanks @JoshBlake for reporting this

[2015-09-07 05:54] JohnSmithX opened #395 "Some crates under .cargo directory can't be located"
But not all, such as &nbsp;&nbsp;[hyper](https://github.com/hyperium/hyper)
I use racer with sublime and [RustAutoComplete](https://github.com/glennw/RustAutoComplete).
How to debug with it.

[2015-09-07 06:21] JohnSmithX commented on #395
Sry, I use it with a wrong way!

[2015-09-07 06:21] #395 closed

[2015-09-09 15:48] BonsaiDen commented on #386
This is an issue with omnicomplete (?) removing the current word from the buffer before the auto complete function is run (racer copies for the current buffer contents from insert mode into a tmpfile in order to perform completion)

If you buffer contains:

[code]

Then racer will only see:

[code]
once you try to complete `some_`, this will cause a out of bounds panic when running the `racer` com

[2015-09-10 07:14] #386 closed

[2015-09-10 21:31] netvl commented on #394
I have lots of these errors when typing doc comments in Atom. The notification area in it is literally overflown by error messages from the plugin.

[2015-09-11 05:29] phildawes commented on #394
Hi @netvl
Ah, it sounds like the plugin is calling into racer on every keypress, even when typing doc comments. I hadn't anticipated that.
It sounds like racer should handle this because I bet other plugins do this too. I'll have a think about how best to handle this situation. Thanks for the issue report

[2015-09-12 15:46] oblitum commented on #41
I'm seeing at the ReadMe that function signature is being shown. How is that happening? I don't have the same in Vim, any tip how to get it?

[2015-09-12 15:52] oblitum commented on #41
I see completion from command line is indeed returning more data than just identifier, so I guess the vim plugin was not updated to mirror that but the emacs part was?

[2015-09-15 05:49] phildawes commented on #394
Hi @netvl
I tried wrapping the completion function in a thread in order to catch panics. Could you try again and see if this helps please?

[2015-09-15 13:12] netvl commented on #394
@phildawes, sure, I'll try it when I get to my home computer.

[2015-09-15 21:15] Wilfred commented on #343
I think this issue can now be closed -- do you agree @phildawes?

[2015-09-15 21:39] Wilfred opened #398 "Racer doesn't discover Vec::contains"
[code]

Racer doesn't discover the `.contains` method here.

[2015-09-15 21:48] Wilfred commented on #340
I think this can be closed. Please open new Emacs-related issues on https://github.com/racer-rust/emacs-racer :)

[2015-09-16 06:29] phildawes commented on #343
Yes, thanks v much everyone

[2015-09-16 06:29] #343 closed

[2015-09-17 01:47] CscLambda commented on #394
This fixed the problem on my setup!

[2015-09-17 10:06] syhkiller opened #400 "show function signature in vim"
<img width="326" alt="qq20150917-1 2x" src="https://cloud.githubusercontent.com/assets/2383723/9930491/a13b76ac-5d66-11e5-96de-8f2fcbebbf46.png">
how can i show the function signature in vim like the emacs. need some config in vimrc or should be a new enhance

[2015-09-17 10:36] syhkiller commented on #400
i found it by myself!

[2015-09-17 10:36] #400 closed

[2015-09-17 10:58] syhkiller opened #401 "add completion for basic type like i32 f32 str"
[code]
if racer can complete the powf,  and to_string is better

[2015-09-18 13:43] ElfDecker opened #402 "Cannot build Racer under Windows 10"
I am trying to build Racer for using it with eMacs, but when Cargo tries build kernel32-sys crate it finishes with an error:
![image](https://cloud.githubusercontent.com/assets/5684686/9960599/14d69dc2-5e24-11e5-8197-a85979249526.png)(Unable to run program due to absence of std-198068b3.dll. Try to reinstall program)
![image](https://cloud.githubusercontent.com/assets/5684686/9960621/4c5aba80-5e24

[2015-09-18 17:25] phildawes commented on #402
Hi @ElfDecker
I don't have windows, so I'm not sure. You could try deleting the Cargo.lock file and then doing a cargo clean, then rebuilding. This will cause the latest versions of packages to be loaded.

Which version of rust are you using?

[2015-09-18 18:40] jaxx commented on #402
I have Win10 and I don't have any problems with building racer. If deleting Cargo.lock file doesn't help, then try do delete cargo crates cache. I had some problems with that too.

[2015-09-18 19:54] netvl commented on #394
Indeed, I haven't seen this flood of messages for some time with the latest maser, looks like it was fixed.

[2015-09-19 06:35] rhoot commented on #402
This is happening to me as well. Using the stable 1.3 version of Rust, and current master of racer (b9750c373a).

[2015-09-19 08:27] scyptnex commented on #398
#334 ?

From libcollections/vec.rs
[code]

[2015-09-19 18:44] ElfDecker commented on #402
@phildawes, I tried to delete Cargo.lock file but it didn't help. I am using last stable version of Rust.
@jaxx, I tried to delete also .cargo folder, but it didn't help.

[2015-09-19 20:14] rhoot commented on #402
Oh, simple fix. For some reason, the rust `bin` folder was not in my `PATH` until after I rebooted my computer. Having that folder in the `PATH` fixes this.

Sorry for the false alarm.

[2015-09-19 21:34] ElfDecker commented on #402
@rhoot It was also reason of my problem. Rust installer didn't add it. Thank you for help!
@phildawes you can close this issue, I think

[2015-09-20 07:01] ElfDecker opened #403 "Completion in CMD doesn't work on Win10"
When I am trying to test Racer in CMD I have an error:
"RUST_SRC_PATH environment variable must be set to point to the src directory of a Rust checkout."
My RUST_SRC_PATH variable is setted to "C:\Coding\Rust-src\rustc-1.3.0-src\rustc-1.3.0\src", but it isn't working. What I need to do?

[2015-09-20 08:34] fubar-coder commented on #403
Did you set the environment variable after opening your command shell? If that's the case, then closing and re-opening should help.

[2015-09-20 10:52] ElfDecker commented on #403
@fubar-coder thank you! I forgot about it, but you helped me!

[2015-09-20 18:34] deterok opened #404 "Eldoc does not work"
Config:
[code]

Tested on an empty main function

Result:
[code]

Debug output:
[code]

[2015-09-21 02:50] syohex commented on #404
You should update [dash.el](https://github.com/magnars/dash.el).
`-some>>` was introduced at https://github.com/magnars/dash.el/commit/c3cf98d692e20be2ba02e198decc22c2f7f5fe84

And I suppose you should report emacs racer issue to https://github.com/racer-rust/emacs-racer/issues/ instead of here.

[2015-09-21 04:56] phildawes commented on #402
Thanks @ElfDecker, glad you resolved the problem

[2015-09-21 04:56] #402 closed

[2015-09-21 07:11] deterok commented on #404
Thank you!

[2015-09-21 07:11] #404 closed

[2015-09-21 08:43] tomjakubowski commented on #404
@deterok If you happen to be using Cask, I noticed that no matter what I did I'd always get the (old) version of dash.el that Cask ships with for bootstrapping when I called `(require 'dash)`.  I ended up just removing Cask and switching to using [`package-selected-packages`](http://endlessparentheses.com/new-in-package-el-in-emacs-25-1-user-selected-packages.html), which requires a nightly/HEAD v

[2015-09-21 13:29] mikeyjcat commented on #388
The problem is resolved. Re-downloaded everything and rebuilt and its all working fine.

[2015-09-21 13:29] #388 closed

[2015-09-22 04:59] #403 closed

[2015-09-24 02:50] varding opened #405 "Parameters of closue can't be complete"
[code]

Here f.i can't be complete

[2015-09-24 06:02] phildawes commented on #405
Hi @varding. I'm afraid racer doesn't support this yet

[2015-09-24 08:04] torpak commented on #400
how did you do it?

[2015-09-24 08:09] deterok opened #406 "Completion does not work on glium"
Code example:

[code]

I tried to complete the target from the example:

[code]

Why do I get such the result?

**_upd 1:**_
Cargo.toml

[code]

[2015-09-24 09:08] KevinDetry commented on #400
let g:racer_experimental_completer = 1 in .vimrc

[2015-09-24 17:01] jwilm commented on #94
What work is needed to get the racer library ready? I see that the racer lib PR was merged, but this issue is still outstanding.

[2015-09-25 02:12] echochamber commented on #389
@phildawes how difficult would it be to get autocompletion for external libraries that define types using macros (or impls traits  using macros). This is the feature I've missed most and it seems that if we could expand the macros and save the result somewhere, then we could just do autocompletion using the generated code.

I have very little knowledge of programming language design, parsing, comp

[2015-09-25 15:47] phildawes commented on #389
Hi @echochamber. I think your intuition is correct about expanding macros, this was how I was originally planning to handle them in racer. There are a couple of thorns:

 - often the generated code is too complex for racer's type inference to work on, This might not be the case for vec![] though
 - I'm working on levering rustc to get better (perfect) type inference, and macros should just fall ou

[2015-09-25 15:54] phildawes commented on #406
I'm not super clear on how this works, but looking at the glium crate it could be that glium::glutin is feature-flagged

[2015-09-26 22:01] echochamber commented on #389
@phildawes That makes sense. In that case, I'd rather focus my effort elsewhere.

Is this something that would benefit from the assistance of someone like myself, with no experience in language design and language tools development, or is there somewhere else I'd be more suited to contribute? My reasons for wanting to contribute are that I use racer and would like to help see it improved but also

[2015-09-27 07:59] yaskhan opened #407 "Use rustc's macro expansion flag called --pretty=expanded"
http://stackoverflow.com/questions/28580386/how-do-i-see-the-expanded-macro-code-thats-causing-my-compile-error

Useful for modules and extern crates. But, i think this not work for current editing file.

[2015-10-01 01:56] petevine commented on #160
Is there documentation on which parts of rust source are absolutely necessary for RUST_SRC_PATH?

Thx

[2015-10-05 00:49] apthorpe commented on #297
I had a similar problem with kernel32-sys v0.1.4 not building, failing with a "std-198068b3.dll is missing" message on Windows 8.1 (screenshot attached). On a hunch, I reviewed my PATH setting, and removed the entry for "C:\TDM-GCC-64\bin", cleaned and rebuilt. Once the conflicting installation of gcc was out of the way, kernel32-sys built. Check for stray installations of gcc, ld, cygwin and the

[2015-10-05 04:39] ernestrc opened #408 "non-compatible racer binary with RUST_SRC_PATH"
I've started using multirust and suddently racer stopped working for non std completions or go to definitions. I think we should add a warning in the installation instructions about racer-binary/rust-src-path and potentially get racer to throw a warning as well.  When invoked from the CLI, it would exit with status 0 in any case.

Any ideas how can we make this incompatibility issue more transpare

[2015-10-05 05:10] phildawes commented on #408
racer should work with multirust (that's how I use it). Which versions of everything are you using?
(thanks!)

[2015-10-05 05:25] phildawes commented on #160
Hi @petevine. I'm not sure what you mean by this question, do you need to
trim down your rust source directory because of space?

On Thu, Oct 1, 2015 at 2:56 AM, petevine <notifications@github.com> wrote:

[2015-10-05 05:39] ernestrc commented on #408
multirust 0.7.0 (b222fcd27 2015-09-24 10:53:38 -0700)
rustc 1.5.0-nightly (130851e03 2015-10-03)
cargo 0.6.0-nightly (7f21e73 2015-10-01)
racer compiled with cargo in las commit (b9750c373adf75fc28700bce382761ad85a8a2bd)
vim-racer in last commit (dde0d9b557a75858099fd4b873d4a1ed2dfc3111)
arch-linux (also tried on my OSX, same results)

So what I do is use this [gist](https://gist.github.com/timcha

[2015-10-05 12:53] petevine commented on #160
Yes, running a little low on an SD card system.

[2015-10-05 15:19] phildawes commented on #389
Hi @echochamber,

Sorry for the delay in replying. Things are a bit up in the air at the moment with regard to racer because there's the opportunity of using the rustc compiler. There are changes to make the rust compiler more incremental, and also the tools subteam are interested in rust IDE tooling.

I'm currently building prototypes trying to work out how to solve the problems of interfacing ra

[2015-10-05 15:33] phildawes commented on #408
I think it's because racer doesn't support the cargo '[[bin]]' field yet, so it is not finding src/lbdd.rs as the crate root. I'll add an enhancement issue for this

[2015-10-05 15:35] phildawes opened #409 "Racer should parse the '[[bin]]' directive in cargo.toml to find the crate root"
Currently `find_possible_crate_root_modules()` just hunts for 'main.rs' and 'lib.rs' files. It also needs to use the `[[bin]]` directive in the Cargo.toml

[2015-10-05 15:37] phildawes commented on #408
created #409

[2015-10-05 15:40] phildawes commented on #160
Basically you need enough source so that racer can track down the
completions for the thing you are trying to complete. This depends on the
query, so there is no hard/fast rule.

On Mon, Oct 5, 2015 at 1:53 PM, petevine <notifications@github.com> wrote:

[2015-10-05 16:04] jonas-schievink commented on #160
@petevine I'll take a wild guess and say that you'll need at least `libcore`, `libcollections`, `libstd` (obviously), maybe the `liballoc*` crates, and `libtest` if you're doing benchmarks. Things like `libterm` aren't supposed to be used from your code (the crates.io version should be used instead), so you can probably remove them.

I also don't think racer needs anything outside the `src` direct

[2015-10-05 16:13] petevine commented on #160
Thanks, that's exactly what I meant - the minimum needed to do all completions.

[2015-10-05 16:22] jonas-schievink commented on #160
I just noticed that this won't allow "all" completions: If you write compiler plugins, the `rustc_*` crates are necessary. But since they're probably the largest crates, you might want to remove them if you don't write plugins.

I also haven't tested this configuration, but it looks like a good starting point at least. You'll have to experiment a bit ;)

[2015-10-06 00:51] echochamber commented on #389
@phildawes Sounds good, in that case I'll look forward to seeing your work later on.

[2015-10-06 04:54] ernestrc commented on #408
Brilliant! Thanks for all the work you've done with Racer, it's going to be important piece in the future of Rust. Do you think #409 it's doable for a newcomer to the code base?

[2015-10-06 05:18] phildawes commented on #408
Yes, I think it might be. Is quite an isolated piece of work
 - add function to cargo.rs to locate the root modules from the cargo.toml
 - hook it up to find_possible_crate_root_modules() in nameres.rs

Unfortunately that second function assumes there's only one root in a crate. It might work returning both roots though.

[2015-10-06 12:22] ville-h opened #410 "racer can't find completion for array defined with [0u8; 4]"
The following completion fails but is able to be completed if one switches the definition to the commented out one:

[code]

[2015-10-06 18:56] phildawes commented on #410
Racer doesn't support array definitions yet, sorry!

[2015-10-07 00:09] kbknapp commented on #326
@birkenfeld based off some of the changes in `clap` I updated the gist and branch in my fork (based off the latest master here). Results are somewhat strange as the `clap` version comes out faster than vanilla and shows way fewer allocations...I'm not really sure why that would be.

For the interested the [branch update](https://github.com/kbknapp/racer/tree/65dd81611c762d2d27a44868275c926f2b5b23c

[2015-10-07 05:54] birkenfeld commented on #326
Hm, I could not reproduce this exactly; for me both master and clap-update show the same number of allocs as your clap-update measurement (13 allocs, 67k bytes). Timing goes from 2.56 to 2.63 ms with clap, which is fine.

At this point, I would recommend opening a pull request!

[2015-10-07 16:06] kbknapp commented on #326
May have been a typo or mis-test on my part...because I'm getting the same now :confounded: Oh well! Gist is updated :smile:

[2015-10-08 19:48] o01eg opened #412 "Arguments in function can be placed on new line."
Some functions can have arguments placed on different lines so racer returns such output:

[code]

In the vim plugin which chooses lines by MATCH it cause incomplete list of the arguments.

[2015-10-09 10:35] bruno-medeiros commented on #412
Yeah, this caused some issues for RustDT too.

[2015-10-11 13:54] ville-h opened #413 "Completion inside a comment performance issue"
Completion inside a comment performance varies quite significantly (from 0.01s to ~0.3s)[0] seemingly depending on the context of the comment.  Here is test for scenario that I noticed while using emacs+racer:
[code]
Completion in "// writing in this comment is broken" takes significantly longer than in the other two comments. Removing "let x = 0;" makes it comparably fast.

[0] https://github.com

[2015-10-19 15:35] phildawes commented on #412
Am currently working on using rustc for perfect completions, so I'm not likely to work on this super soon. Somebody else might pick it up though

[2015-10-19 15:38] phildawes commented on #413
This can probably be fixed by either:
 - the editor realising it's in a comment, and not invoking racer
 - racer quickly returning if the coordinates are in a comment

Doing the latter might be a lot easier than changing each plugin. Does anybody else fancy having a go at this?

[2015-10-21 08:44] ville-h commented on #413
It seems that opening the comment with /* doesn't trigger the behaviour. The comment doesn't even have to be terminated with */.

[2015-10-22 19:27] int010h commented on #264
Still not working, tried with termbox crate, completion was available just for standard rust source distribution. Do I need some special setup to get this working?

[2015-10-22 20:39] bluss commented on #264
Which editor config and which version of it are you using?

[2015-10-22 21:01] int010h commented on #264
I'm trying to use racer from command-line at the moment, here is completion for standard module:
[code]

[2015-10-24 10:37] rubdos commented on #94
I basically have the same question as @jwilm had a month ago ; what work needs to be done to get the library ready? It's a blocker for https://github.com/Valloric/YouCompleteMe/issues/1297 and I'd *love* to get that running!

[2015-10-24 14:11] dbrgn commented on #94
Same here.

[2015-10-26 05:54] sga001 opened #414 "Returning type of struct fields"
Would it be possible for racer to instead (or in addition to) returning "StructField", to return the actual type (e.g., u8) when outputting the field of a struct?

[2015-10-26 20:56] 7sharp9 opened #415 "Would it be possible for racer to integrate with rustdoc?"

[2015-10-27 08:19] wsdjeg commented on #109
does it support java complete

[2015-10-27 10:09] fenhl opened #416 "Support cargo install"
It would be nice if the first two steps of the installation guide could be replaced by a simple `cargo install racer`. As far as I can tell, the only preparation that needs to be made for this is uploading a new version of racer to [crates.io](https://crates.io/).

[2015-10-27 11:01] bruno-medeiros commented on #415
+1 , would be a great feature.

[2015-10-28 19:21] c-cube opened #418 "complete enum constructors"
I have the impression racer does not complete constructor names.
For instance, `racer complete core::option::Opt` finds the type `Option` correctly, but `racer complete core::option::Option::Som` does not find the constructor Some (nor does `racer complete Option::Som` in a file in which option is implicitely in scope).

[2015-11-02 17:22] hunterboerner commented on #416
`cargo install --git https://github.com/phildawes/racer.git` worked for me.

[2015-11-03 06:06] phildawes commented on #416
I should really get round to doing a cargo racer release now that install is available. Time is a bit tight at the moment, I'll try and get to this over the next couple of days.

[2015-11-03 06:09] phildawes commented on #415
Agreed. Currently all my spare time is going into figuring out how to use rustc to get perfect completions so I probably won't get to this for a while I'm afraid.

[2015-11-03 06:11] phildawes commented on #414
Hi @sga001. That sounds like a straightforward update and a good idea.
I'm afraid I'm a bit busy working on rustc integration at the moment so am unlikely to get to this soon. If you fancy having a go at this feel free!

[2015-11-03 06:23] phildawes commented on #94
Hello,

Racer should be the right shape to be used as a library now in theory, although in practice none of the plugins do this at the moment. You can also run racer in daemon mode where it will run as a longer running process.

I am currently working on integration with rustc, so my spare time is elsewhere at the moment but if somebody fancies picking this up then that would be cool.

[2015-11-03 06:30] phildawes commented on #418
Doing an `Option::Som` completion in an editor works. I'm not sure why command line doesn't
E.g. /tmp/file.rs
[code]
[code]