[2017-08-08 02:54] xianghx commented on #783
1. just  rust by  example  hava if x ==|   ,  let  x ==|
2. racer directly.
3: lastest elpa update
4. os : lxde linux 14.04 Linux sky 3.13.0-117-generic #164-Ubuntu SMP Fri Apr 7 11:06:36 UTC 2017 i686 i686 i686 GNU/Linux
5: rust lastest stable etc..

[2017-08-08 02:56] xianghx commented on #783
my config here:
[code]

[2017-08-08 11:28] xianghx commented on #783
Ok, may be I find a reason.

[code]

like this :    n%4==0   , no space.

[2017-08-08 16:36] TedDriggs opened #785 "Racer shouldn't need type annotations to understand enum variants"
Repro code:

[code]

**Expected:** Completion at the cursor should find `unwrap_or_default`
**Observed:** Completion finds nothing, because it "can't find the type of an EnumVariant"

The least invasive fix seems to be identifying the call to the enum variant and resolving its parent enum type.

[2017-08-08 16:44] TedDriggs commented on #783
I'm unable to repro this when using racer via vscode-rust. The Emacs integration for racer is located [here](https://github.com/racer-rust/emacs-racer); please file an issue there.

[2017-08-08 16:44] #783 closed

[2017-08-12 14:03] Dushistov opened #786 "syntex_syntax-0.58.1 crash"
[code]

[2017-08-13 02:39] deikatsuo opened #787 "Fail to install on pre-1.18 stable due to use of pub(crate)"
![screenshot from 2017-08-13 09-37-39](https://user-images.githubusercontent.com/8337409/29245653-4c506da4-800b-11e7-8f71-978705ce513c.png)

[2017-08-13 03:34] deikatsuo commented on #787
#solved

[2017-08-14 15:08] EdouardParis commented on #787
I have the same error with rustc 1.16.0
This issue should not be labeled as solved

[2017-08-14 16:26] TedDriggs commented on #787
The usage of `pub(restricted)` reached stable in rustc 1.18. You can work around this on older compiler versions by running `cargo +nightly install racer`

[2017-08-16 15:24] Ploppz opened #790 "No completions after StructName:: from library"
This is code from a WIP module in a library crate:

[code]
Trying to auto-complete on the `Ctl::` line (line 20) the are no results.

[code]

[2017-08-16 16:59] TedDriggs commented on #790
Please run this again setting `RUST_LOG=racer=trace`. Also, what version of rustc is this, and what version of racer?

[2017-08-16 17:40] Ploppz commented on #790
This is rather puzzling... I have `racer 1.2.10`. It's admittedly a long time since I updated it, so I just did `git fetch origin`. After that, racer works just as expected, although `HEAD` didn't move at all, only `origin/HEAD`, and the version is still `1.2.10`. Well, as there is no problem anymore I will close it.

[2017-08-16 17:40] #790 closed

[2017-08-16 17:41] Ploppz commented on #790
Actually.. the `origin` remote isn't even this repository.. it's git@github.com:phildawes/racer.git. I will use this repo.

[2017-08-21 00:19] prasannavl opened #791 "Extern functions not recognized"
Any mod that exposes extern functions don't seem to be recognized. For example, winapi-rs has a functions filled with extern, and none of them are recognized.

[2017-08-21 16:33] TedDriggs commented on #791
Duplicate of #347

[2017-08-21 16:33] #791 closed

[2017-08-29 12:09] C-Bouthoorn commented on #595
Bump?

[2017-08-29 15:58] jwilm commented on #595
@C-Bouthoorn bump what? Racer should use `rustc --print sysroot` today if you don't set an environment variable.

[2017-08-30 10:00] dlukes commented on #410
Is this particularly technically hard for some reason? Or is it just not a priority? I'd love to help, but figuring out a new codebase is always a little bit daunting, so if you know of a reason why it's not even worth trying, please let me know @phildawes :)

[2017-08-30 14:22] bkchr commented on #755
@TedDriggs could you assign me this issue? I already have a working prototype for type inference on matches.

[2017-08-30 17:07] #787 closed

[2017-08-30 17:08] TedDriggs commented on #755
@bkchr I can't, but I'll self-assign so that people know it's assigned to someone. Look forward to the PR!

[2017-08-30 17:10] TedDriggs commented on #410
@dlukes I suspect this is failing due to the semicolon, which our code iterator likely interprets as the end of the outer statement. Phil isn't actively working on racer anymore, but if you submit a PR for it we'd be happy to review it.

[2017-08-31 07:05] dlukes commented on #410
OK, thanks, I'll see what I can do :)

[2017-09-03 11:55] C-Bouthoorn commented on #595
Then I guess the problem is in `atom-racer`. Excuse me for bumping this.

[2017-09-07 09:49] asymmetric opened #796 "Completion not working in terminal on fish shell"
[code]

If I try completing from the shell, what happens is that the shell completes files in the current directory, instead of rust code:

[code]

[2017-09-07 13:40] TedDriggs commented on #796
Is what you pasted the actual output you're seeing?

[2017-09-07 13:43] asymmetric commented on #796
Yes, and those are two files in that directory. Changing directory changes the completion, always matching local files/directories.

[2017-09-08 02:25] TedDriggs commented on #796
I don't think that racer is actually running in that case; it never produces output like that on its own. For reference, here is what `racer complete std::io` produces on my machine:

[code]

This may be a silly request, but could you try running `RUST_LOG=racer=trace racer complete std::io::BUILD` and paste the entire output here?

[2017-09-08 10:30] asymmetric commented on #796
[code]

IIUC, it seems no matches are found, so is this an installation error?

[code]

I should mention that I had a previous installation of `multirust` fail to uninstall cleanly, which I solved by just removing `~/.multirust` and `/usr/local/lib/rustlib`. Not sure if that's related.

[2017-09-08 16:26] TedDriggs commented on #796
There isn't anything called `std::io::BUILD` in rust source. The only items that match `std::io::B` are `BufRead`, `Bytes`, `BufReader`, and `BufWriter`.

[2017-09-08 16:26] #796 closed

[2017-09-08 16:26] #687 closed

[2017-09-11 17:21] #755 closed

[2017-09-11 22:51] JayKickliter commented on #387
I see #463 laded a while ago, but this still doesn't work in emacs. Is it just an emacs problem?

[2017-09-12 14:19] freedaun commented on #595
Hello.. I'd like to alert that setting a PATH is not a user responsibility. The Rust ecosystem (cargo) knows everything about its install, the user definitely does not.

https://github.com/racer-rust/racer#configuration has lots of instructions a computer is very able of following. Heck, why should there be additional commands after running `cargo install racer`? Makes no sense.

Paths are conside

[2017-09-12 16:18] TedDriggs commented on #595
@freedaun we'd welcome a PR that interacted with cargo to get that information automatically. For compat reasons, we'd need to honor user-specified values when they exist, but your PR could reduce setup complexity for newcomers.

[2017-09-13 00:32] TedDriggs commented on #387
That fix appears limited to macros in the same file. As far as I know, this remains unsupported by racer.

[2017-10-03 18:17] cmteodoro opened #800 "Racer panics with 'byte index 19610 is out of bounds' on autocompleting RgbImage type alias on image crate"
On the image crate, there's this following type alias:

[code]

Code that triggers the crash:

[code]

When trying to autocomplete the variable `img` which uses the full type name, code completion works perfectly.

But when trying to autocomplete the variable `img2` which uses a type alias, as soon I hit the `.` button, Racer crashes.

Debug log and stacktrace:

[code]

rls-preview 0.122.0-nightly

[2017-10-06 05:40] zjhmale opened #801 "Why racer can not complete print functions?"
Hi, I think the `println!` function is somewhere in the rust source, and my `RUST_SRC_PATH` variable is set up correctly I believe, so why can't racer complete it for me?

![image](https://user-images.githubusercontent.com/6234553/31264438-a2c990b0-aa9b-11e7-8bc5-faa4f0829cea.png)

Thanks in advance :)

[2017-10-08 19:52] janus opened #802 "Can't get racer install via code or console"
I tried install racer using github repo but it usually fails. I figured out that some of the dependencies might be out of versions. I therefore changed their version. with that I was able to download and compile the dependencies, however a different problem appeared . When is below. Here is my  Cargo.toml::

[code]

[code]

When I follow vscode missing tools , I got the below:

[code]

[2017-10-08 21:46] janus commented on #802
I later managed to get vscode to start of compiling but I still got error message:

`    Updating registry `https://github.com/rust-lang/crates.io-index`
  Installing racer v2.0.10
 Downloading regex v0.1.80
 Downloading regex-syntax v0.3.9
 Downloading thread_local v0.2.7
 Downloading utf8-ranges v0.1.3
 Downloading aho-corasick v0.5.3
 Downloading memchr v0.1.11
 Downloading thread-id v2.0.0
 Do

[2017-10-08 22:16] janus commented on #802
When I included --verbose  I found that it runs racer to times, first as lib and as main.rs.. and it is when it runs main.rs that it spits out error message

` Running `rustc --crate-name racer /home/emeka/.cargo/registry/src/github.com-1ecc6299db9ec823/racer-2.0.10/src/racer/lib.rs --crate-type lib --emit=dep-info,link -C opt-level=3 -C debuginfo=2 -C metadata=b774193352aaa202 -C extra-filename=-

[2017-10-20 11:55] not-fl3 opened #803 "Racer hangs after 2.0.5"
Hello!

I tried racer both as a lib from rls and as a binary - and it hangs forever after completion request.
I used "git bisect" and found specific commit which introduced that bug: https://github.com/racer-rust/racer/commit/e1d9a242ffedcc3d18766036f141eee86d150c47

By "hang" I mean that behaviour:
[code]
and no more output

Unfortunately, it happens only on my closed project and I can't reproduc

[2017-10-21 17:34] TatriX opened #804 "Bug when searching for git package"
I have a file `main.rs`
[code]
and in `Cargo.toml`
[code]
I call `racer find-definition 1 13 src/main.rs`
and get:
[code]
I found that `racer` tries to load the file
[code]
which is wrong.
So I deleted that directory, because I don't need `ggez-goodies` crate, and now `racer` works fine. But it's a bug anyway.

[2017-10-23 15:03] cideM commented on #801
I am a complete rust noob who hasn't even read past the first page of The Book yet, but `println!` appears to be a macro and macro support is still in its infancy, according to this [pull request](https://github.com/racer-rust/racer/pull/463)

[2017-10-30 19:11] mqudsi opened #805 "index out of bounds panic in visit_item"
This is on Mac so I don't have line numbers in the stack trace, unfortunately. Racer was invoked via rls nightly (latest).

Please let me know if there's anything further I can provide to shed light on the situation.

[code]

[2017-10-31 05:21] YaLTeR opened #806 "racer 2.0.11 does not complete anything"
Updated *working* racer from 2.0.10 to 2.0.11. Now `racer complete std::` or any other complete request returns an empty response. A clean install of 2.0.11 on another PC also returns an empty response.

[2017-10-31 06:29] golddranks commented on #806
It has to be because of the recent changes introduced in `RUST_SRC_PATHS` resolution.

I'm trying to diagnose the problem. Say do you have `RUST_SRC_PATHS` set? What is it set to?

Do you have `rustup` installed? What components does `rustup component list` mention as installed (or default)?

[2017-10-31 06:32] golddranks commented on #806
Also: in what environment you use racer? (IDE? Plugins?)

[2017-10-31 07:25] YaLTeR commented on #806
My `RUST_SRC_PATH` (not `PATHS`) is set to `/home/YaLTeR/.rustup/toolchains/nightly-x86_64-unknown-linux-gnu/lib/rustlib/src/rust/src` (on the other PC it's set to the stable source).

`rustup component list` shows (skipping not installed/default)
[code]
and for nightly:
[code]

I usually use racer with RLS and [LanguageClient-neovim](https://github.com/autozimu/LanguageClient-neovim) plugin.

[2017-10-31 07:44] golddranks commented on #806
Oh shit, I think I found the bug. It was entirely a blunder of mine. I thought it would be fine, since the tests ran, but apparently there weren't any integration-like test cases that would have caught this! Writing a fix ATM.

[2017-10-31 08:47] golddranks commented on #806
A fix is here: https://github.com/racer-rust/racer/pull/807

[2017-11-01 06:45] #806 closed

[2017-11-03 16:43] zjhmale commented on #801
@cideM Thanks :)

[2017-11-03 16:43] #801 closed

[2017-11-09 20:06] bluss opened #809 "Local variable shadows `::name`"
In the following code:

[code]

Go to definition on `::name` jumps to the local variable `name`, but it should jump to the function outside.

[2017-12-01 14:46] nbro opened #811 "Error while installing racer: expected identifier, found keyword in"
I am getting the following error after having tried to install `racer` via `cargo` (as explained in the README file of this project):

[code]

---

System info:

[code]

[2017-12-02 10:24] marmistrz opened #812 "Racer doesn't find completions for `reqwest::Url::parse`"
I created the following snippet

[code]
Then `racer complete-with-snippet 5 10 src/main.rs` returns nothing:
[code]
If I extend the snippet to the semi-intended code

[code]
everything compiles fine.

When autocompleting `use reqwest::`, the `Url` struct is not suggested either. RLS used from within VS Code suffers from the same problem since it uses Racer for completions.

Racer 2.0.12

[2017-12-05 08:16] HeroicKatora commented on #812
This also seems to be the case in my current setup (and not only limited to reqwest but all completions for external creates):

[2017-12-11 14:47] Vurich commented on #757
I get this behaviour on [lunarity](https://github.com/maciejhirsz/lunarity/).

[2017-12-16 05:52] elferia commented on #811
@nbro `pub (...)` syntax was introduced in version 1.18.0

[2017-12-26 15:48] cboddy opened #814 "Error on ``cargo install racer``"
Hello, when installing via cargo as recommended in the README I see the following

[code]

Any suggestion?

[2017-12-26 16:36] cboddy commented on #814
It turns out binflags  requites rust version 1.20.0, updating to rust 1.22.0 fixes this issue. I'd suggest adding a  minumum version to the  README.

[2017-12-26 16:36] #814 closed

[2017-12-31 18:54] BigBeautifulBro commented on #551
I had an issue where racer did not work at all for nightly for crates from within emacs until I set an environment variable. Racer did work for me on stable in emacs without having to do anything special.

To fix the issue, I set the CARGO_HOME environment variable to something like C:\users\David\\.cargo

I found the fix by googling for the issue and came across people with similar issues and sol

[2018-01-15 05:34] juchiast opened #815 "Racer handles raw string incorrectly"
Racer version: 2.0.12

Code snippet:
[code]

Run racer on line 4 charnum 6 gives wrong completion results. This is because the `"` character in the raw string.

PS: This bug is very destructive because Racer cannot complete anything after that raw string.

[2018-01-16 05:54] kngwyu opened #816 "Racer fails to complete with a multibyte comment in a match statement"
When a comment with multibyte chars is inserted where match expressions should be placed, racer fails to complete in the area between that comment and the end of the match statement.
See below.
[code]
In this example,  racer fails to complete ```let b = long_name_variable```, but succeeds ```let c = long_name_variable```.
I'm using racer 2.0.12.

[2018-01-16 08:29] kngwyu opened #818 "Racer can't recognize the variable binded by pattern matching if C-style comment is inserted"
See below.
[code]
Racer can't complete ```let b = variable```.

[2018-01-16 14:22] kngwyu commented on #815
I have no idea how I can write a test case...

[code]
Is there any good way?

[2018-01-17 15:40] kngwyu commented on #812
```request::Url``` is imported from ```url::Url``` crate.
It seems that Racer can't find definitions in "sub imported" crate like ```request:::Url``` if there's no "Cargo.lock" file.
I checked after "Cargo.lock" is generated, racer becomes to be able to complete ```request::Url```.

[2018-01-18 00:51] TedDriggs commented on #815
The number of `#` characters you use controls the pattern termination (if you start with 4 `#`, it takes four of them to end the pattern). That'll make it testable; also be sure to test the case where someone uses that pattern in their own code though.

[2018-01-18 00:55] kngwyu commented on #815
Thanks.

[2018-01-29 21:32] Starz0r opened #821 "Racer doesn't autocomplete unsafe functions"
Racer doesn't seem to catch unsafe functions for any crates, specifically the one I tested with was the winapi one. If you download a crate while writing the project, if you try to use any unsafe functions, it will not appear while typing (even though docs.rs says these functions exist). Structs appear within then namespace, showing that it can autocomplete the crate, but nothing else appears beca

[2018-01-30 01:55] Starz0r commented on #821
@kngwyu In my tests, anything under winapi::um::shellapi::, but specifically, the function I tried to use was winapi::um::shellapi::SHELLEXECUTEINFOA

[2018-01-30 02:02] kngwyu commented on #821
Racer  can't complete that function **not** because it's undafe,  but **it's declared in macro**.
See https://github.com/retep998/winapi-rs/blob/0.3/src/um/shellapi.rs#L309-325.
Completion of names declared in macro is not supported now(sorry).

[2018-01-30 02:18] Starz0r commented on #821
@kngwyu Thanks for clarifying.

I'm going to close the issue then, if someone can label it afterwards, that would be nice.

[2018-01-30 02:18] #821 closed

[2018-02-02 18:33] kristate commented on #757
+1

[2018-02-07 06:47] Lokathor opened #824 "Racer doesn't support types output by a macro"
There seems to be a few other issues with macros floating about, but this seems different enough to bring up. If not you can delete it.

Basically, If there's a macro that generates a struct (presumably an enum or union as well) then the type and it's fields won't be available for racer completion.

[2018-02-07 07:54] kngwyu commented on #824
Thanks for opening an issue.
Now, racer don't expand macros at all, so completion of  any names declared in macros is unsupported.
Though I want to solve this issue, it doesn't seem to be so easy.

[2018-02-07 08:08] Lokathor commented on #824
Can't you run racer on the results of `rustc --pretty=expanded`? One of the other issue threads said that it'd be "slower", but I'm wondering how much slower, and also if it could be available as a flag we could put and then have in the rls-vscode plugin somewhere. I'd probably take slightly laggy types over no types.

[2018-02-07 08:22] kngwyu commented on #824
I think just calling ```syntax::noop_fold_mac``` is enough.
I'll try prototyping.

[2018-02-07 23:16] TedDriggs commented on #824
@kngwyu is correct. @Lokathor we've looked at various approaches for macros, but they were all pretty ugly. I don't anticipate racer ever solving the macro question; that'll be something that comes from RLS.

[2018-02-07 23:16] #824 closed

[2018-02-07 23:19] TedDriggs commented on #818
Fixed in #819

[2018-02-07 23:19] #818 closed

[2018-02-07 23:19] TedDriggs commented on #816
Fixed in #819

[2018-02-07 23:19] #816 closed

[2018-02-07 23:21] TedDriggs commented on #803
Thanks for the report. Unfortunately, I don't think there are any maintainers available to try and repro the issue. If you're able to provide a targeted repro then we may be able to help, and we're of course happy to review any PRs that get submitted.

[2018-02-16 11:36] lbolla commented on #566
This is true also, e.g. `env_logger`, whose docstring lives in `lib.rs`.
https://github.com/sebasmagri/env_logger/blob/master/src/lib.rs#L11

[2018-02-16 11:51] kngwyu commented on #566
@lbolla
I couldn't reproduce.
Could you please note the identifier racer couldn't complete?

[2018-02-16 11:53] lbolla commented on #566
It's the `env_logger` module name. As in:
[code]
Try to call `complete-with-snippet` pointing at line/col within the "env_logger" string.
I can create a minimal example file if necessary.

[2018-02-16 12:14] kngwyu commented on #566
How about just ```complete```?

[2018-02-16 12:28] lbolla commented on #566
To be clear, I do get a MATCH, but no "snippet". So `complete-with-snippet`:
[code]

and `complete`:

[code]

[2018-02-16 12:32] kngwyu commented on #566
It looks racer works normally.
What's the problem?

[2018-02-16 12:37] lbolla commented on #566
Maybe so. I am using `emacs-racer`'s `racer-describe` that uses `complete-with-snippet` to get the description of the thing at point. For crates like `env_logger`, whose module-level documentation lives in `lib.rs` instead than `mod.rs`, `emacs-racer` has nothing to show because `racer` returns no snippet for the match.
Makes sense?

[2018-02-16 12:44] kngwyu commented on #566
Yeah, I understand.
I think it's good to post a new issue like `Support \\! style comment as docstring`.

[2018-02-16 13:14] lbolla opened #826 "Support //! style comment as docstring for crate"
See discussion in #566.

For crates whose docstrings are in `lib.rs`, Racer's `complete-with-snippet` returns an empty list when completing the crate name itself. Compare with crates which instead use `mod.rs`, which behave correctly.

E.g. `env_logger`

[2018-02-16 13:15] lbolla commented on #566
Thanks, I've opened #826.

[2018-02-18 14:44] kngwyu opened #829 "Roadmap for enhancement"
Here's a list of functionalities I want to implement in racer.
Please comment anything you think!
## Completions
### Completion based on trait bounds(#706)
- [x] for `FnArg`
already implemented in #828
[code]
- [ ] for struct member
[code]
- [ ] for closures
[code]
### Others
- [ ] closure arguments
[code]
- [ ] macros in other crate(related to #777)

- [ ] resolve associated type bounded by type

[2018-02-24 14:13] RReverser opened #830 "`extern crate ~` autocomplete should include only crate names"
Currently Racer treats position after `extern crate ` as expecting any path, and searches and returns all global items. Instead, it should short-circuit to returning only crate names from `Cargo.toml` / `Cargo.lock` / ...

[2018-02-24 17:25] RReverser opened #831 "Racer searches for crate sources recursively in all package dependencies"
It seems that Racer tries to find crate source somewhat too hard, traversing not only dependencies from current Cargo.toml or Cargo.lock (which are the only accessible to current Rust code), but also dependencies of these dependencies and so on recursively. Additionally, it looks in global overrides, again, returning any match, no matter whether it's actually defined and so accessible in current c

[2018-02-25 07:08] kngwyu commented on #830
Thanks for reporting.
I could reproduce.

[2018-02-25 07:46] kngwyu commented on #831
Thanks for reporting, but, I think racer doesn't.
Could you tell me why you think so?

[2018-02-25 11:53] RReverser commented on #831
Well I found this while trying to implement #830 and trying to figure out why I'm getting overly extensive list of crates.

Turns out, when looking for crate by name, `cargo::get_crate_file` will look at global overrides (https://github.com/racer-rust/racer/blob/cff609a5708e9244519d33649fadadb82237ec52/src/racer/cargo.rs#L696-L698) and then `Cargo.lock` without checking `Cargo.toml` whether this c

[2018-02-25 12:59] kngwyu commented on #831
Thanks, I understand.
I'm sorry I had misunderstanding that you're pointing out completion problem.

Racer searches ```Cargo.lock``` file to complete methods and so on in re-exported crates(see #812).
It's surely waste of time, but I'm not sure this should be fixed.
What the racer do here is just getting a path to crate, so source files of invisible crates won't be searched. Thus it's not critical

[2018-03-06 00:13] theherk commented on #551
This issue persists. I'm on OSX and cannot complete from external crates. I can complete from rust-src.

    export RUST_SRC_PATH=$(rustc --print sysroot)/lib/rustlib/src/rust/src
    export CARGO_HOME=$HOME/.cargo

I'm unclear why `CARGO_HOME` is relevant since when running at debug I can see it only searched `RUST_SRC_PATH`.

[2018-03-07 02:00] cynecx commented on #829
I am not sure if this is just a bug or it's simply not supported:

[code]

This doesn't work with rls, but since rls is actually using racer for auto-completion, I assume that it is more appropriate to report this here.

[2018-03-07 02:09] kngwyu commented on #829
@cynecx
If you're pointing out that racer doesn't complete `a.bar()`, it's not a bug.
Now racer doesn't support method completion based on type coercions by `Deref`.
I'm going to add this to roadmap.
Thanks for reporting!

[2018-03-08 12:38] xzn commented on #513
A related issue is that 'patch' and 'replace' section of Cargo.toml are ignored. Using 'cargo metadata' would fix this as well, in addition to getting the right version of the crate requested. I've looked into [src/racer/cargo.rs](https://github.com/phildawes/racer/blob/master/src/racer/cargo.rs) however the api seems limited though, not sure how to go about fixing this.

Another issue with 'cargo

[2018-03-09 14:49] robsmith11 opened #832 "Most completions aren't working"
I've followed the installation instructions in the README, but completions aren't working for many things like the Vec example screenshot.  It seems that completions work for most 3rd party crates that I install though as well as all module imports.

Any idea what's wrong or how to debug this?

[code]

[code]

[code]

[2018-03-09 15:00] kngwyu commented on #832
Hmm...
It looks racer works.
Could you please try the following steps?
- save this snippet as `example.rs`
[code]
- change working directory to where `example.rs` is and
[code]

[2018-03-09 15:25] robsmith11 commented on #832
Ah in my Vec example I had used a macro and didn't use an explicit type, which I guess isn't supported.  Your example does indeed work.

But if I change it slightly like below, I don't get any completions:
[code]
[code]

[2018-03-09 15:29] kngwyu commented on #832
@robsmith11
Oh, currently method completion for primitive type is not supported(#401).
Sorry for poor completion...

[2018-03-09 15:43] robsmith11 commented on #832
Ah ok.  A couple other things I tried using your example:
* `v.iter()` doesn't show up as a possible completion for `v.it`.  Shouldn't it?
* `v.into_iter().` doesn't produce any completions (but `v.into` does complete to `v.into_iter`).

[2018-03-09 16:07] kngwyu commented on #832
@robsmith11
I could reproduce both, but I think theyr'e bug and should be fixed.
For ``into_iter()``), it looks type inference based on associated types doesn't work correctly.
For `iter()`, sorry, I have any idea now and I'm going to check deeper.

Thanks for reporting!

[2018-03-12 00:15] matthiaskrgr opened #833 "cargo bench does not build"
[code]

rustc 1.26.0-nightly (2789b067d 2018-03-06)
racer cff609a5708e9244519d33649fadadb82237ec52

[2018-03-13 14:09] vlisivka commented on #551
I have same issue. Environment: Linux, Fedora 27.
I created simple project with just one external crate (see in attachment) and tried to get completion for it. Output:

[vlisivka@vlisivka src]$ RUST_SRC_PATH=/home/vlisivka/.rustup/toolchains/stable-i686-unknown-linux-gnu/lib/rustlib/src/rust/src RUST_BACKTRACE=1 CARGO_HOME=$HOME/.cargo RUST_LOG=racer=trace racer complete 2 13 main.rs
DEBUG:racer::

[2018-03-13 14:11] kngwyu commented on #551
@vlisivka
Is `Cargo.lock` generated?

[2018-03-13 14:16] vlisivka commented on #551
@kngwyu Yes, Cargo.lock is generated. I built test project first, then added use nanomsg:: ; to test completion. I checked with strace -e trace=file, and racer does not try to open Cargo.* files.

`[vlisivka@vlisivka src]$ strtace -e trace=file -f RUST_SRC_PATH=/home/vlisivka/.rustup/toolchains/stable-i686-unknown-linux-gnu/lib/rustlib/src/rust/src RUST_BACKTRACE=1 CARGO_HOME=$HOME/.cargo RUST_LOG

[2018-03-13 14:25] kngwyu commented on #551
@vlisivka
How about `racer find-definition` ?
I'm trying to reproduce, but now installing `nanomsg` package:sweat:

[2018-03-13 14:27] vlisivka commented on #551
Sorry, I made few mistaked. It looks that racer need to be executed in top directory, not in src. Package versions in Cargo.toml must be exact, not "^0.6" or "*", because racer uses versions from Cargo.toml  instead of Cargo.lock.

[2018-03-13 14:34] vlisivka commented on #551
No luck with find-definition (racer 2.0.12):

[code]

[2018-03-13 14:47] kngwyu commented on #551
I could reproduce, but, now I have no idea why racer can't find this crate and it needs more debugging :fearful:
Thanks for reporting!

[2018-03-13 22:45] johalun commented on #757
+1
racer is unusable :(
truss on freebsd show racer scanning files and folder over and over. It freezes my Emacs for many seconds every time I try a completion or go-to-function.

[2018-03-14 03:10] kristate commented on #831
This seems related to #757 -- lots of recursion problems in racer.

[2018-03-14 03:24] kngwyu commented on #831
Hmm...
OK.
I'll try to rewrite racer's file cache to check reexporting and circuit, though not now(I have 4 PRs not yet merged:fearful:).

[2018-03-14 04:13] kristate commented on #831
@kngwyu

Thank-you!

[2018-03-18 10:48] Bravo555 commented on #551
I also have this issue.
[code]

I'm working with VS Code and Rust (rls) addon.

[2018-03-18 11:15] Bravo555 commented on #551
Command line returns nothing, but strangely enough, some completions work directly in the IDE:
![screenshot from 2018-03-18 12-12-36](https://user-images.githubusercontent.com/10912424/37565244-ddd5a056-2aa5-11e8-97ba-d6f9e7f3972a.png)
![screenshot from 2018-03-18 12-12-51](https://user-images.githubusercontent.com/10912424/37565249-edeb513e-2aa5-11e8-83a6-c192c0f08758.png)
Any ideas why and how c

[2018-03-18 11:19] vlisivka commented on #551
@Bravo555 Try to complete position in file, e.g. `racer complete 2 13 src/main.rs`

[2018-03-21 06:11] Chad- commented on #551
I think I am running to this issue on Windows 10. I installed the rand crate while going through "the book", but I can't seem to get any completions for it.

[code]

Completion on something such as `std::` does work properly. Please let me know if there is anything I could do to help debug this further.

[2018-03-21 10:12] arun11299 opened #835 "Cargo build fails on Mac OS"
Commit:
[code]

Error:
[code]

Platform : Mac OS Yosemite 10.10.5 (14F1713)

[2018-03-21 10:29] kngwyu commented on #835
Please note the output of
`rustc -v`

[2018-03-21 14:29] arun11299 commented on #835
Hi @kngwyu

[code]

Thanks. It works with 1.24 version.

[2018-03-21 14:29] #835 closed

[2018-03-22 08:54] topecongiro opened #836 "Replace syntex with libsyntax or rustc-ap-syntax"
AFAIK `syntex` was deprecated more than a year ago, so `racer` may not recognize the latest syntax. Is it possible to replace `syntex` with `libsyntax` or `rustc-ap-syntax`?

[2018-03-22 09:39] kngwyu commented on #836
I'm working on [my branch](https://github.com/kngwyu/racer-nightly/pull/1), though it's WIP and I have no plan to merge this branch into upstream.

[2018-03-22 13:12] kngwyu commented on #829
I decided to support these features in [my branch](https://github.com/kngwyu/racer-nightly) so close this.

[2018-03-22 14:25] mqzry commented on #757
I have the same issue. version 2.013

[2018-03-29 11:51] kngwyu commented on #831
Fixed in [my branch](https://github.com/kngwyu/racer-nightly/pull/3).

[2018-03-29 11:53] kngwyu commented on #513
Fixed in [my branch](https://github.com/kngwyu/racer-nightly/pull/3), tough this implementation depends on internet:fearful:

[2018-03-29 11:55] kngwyu commented on #551
For nanomsg crate this problem is fixed in  [my branch](https://github.com/kngwyu/racer-nightly/pull/3).

[2018-04-06 18:25] mqudsi commented on #777
I would add `eprintln` to the list, it probably wasn't around when this issue was created.

[2018-04-07 06:41] kngwyu commented on #836
[Nightly vesrion](https://github.com/kngwyu/racer-nightly) is now ready to use, though still there's a lot of TODO.

[2018-04-11 14:48] kngwyu commented on #829
@abbec
`use_nested_groups` is already supported in my [nightly version](https://github.com/kngwyu/racer-nightly)

[2018-04-11 14:57] abbec commented on #829
Trying right now :D

[2018-04-11 15:04] abbec commented on #829
Works, awesome ❤️ !

[2018-04-12 12:11] faulesocke opened #842 "Version 2.0.13 was not tagged as a release"
According to crates.io, version 2.0.13 of racer was released on 2018-03-20. However, this release was not tagged here on github and therefore it's hard to find the exact commit. Tagging releases is also quite important for several linux distros, as they will only accept to package released versions in their software repositories.

Therefore, please add a tag for version 2.0.13.

[2018-04-12 21:26] sashaweiss commented on #551
I'm still having issues with this - should the merged PR reference above have fixed the issue, slash has that PR been released?

My configurations are as below:
[code]

If there's anything I can do to help debug further, please let me know! (Or if I'm doing something wrong - relatively new Rust user here.)

[2018-04-14 05:42] pursueTAO commented on #592
brew install rust

path /usr/local/share/rust/rust_src is source path
You can set RUST_SRC_PATH=/usr/local/share/rust/rust_src

[2018-04-15 03:05] kngwyu commented on #551
@sashaweiss
To complete names in outer crate, you have to run racer in cargo project.
Though my patch for nightly version solves many problem, I'm sure stable(released) version of racer can complete names from `termion` crate.

[2018-04-17 20:54] sashaweiss commented on #551
Thanks for the reply - I played around a bit more, and I've found that it sometimes completes and sometimes doesn't, and I'm having trouble identifying a pattern. Once I have more details to share I can follow up! Thanks again.

[2018-04-24 11:56] genrtul commented on #804
I had a similar issue with a crate in a git repo.
in Cargo.toml I had:

mycrate = { git = "ssh://myhost/mycrate.git" }

The crate that depended on mycrate compiled correctly, however I couldn't complete any symbols defined in mycrate. Completion for crates from crates.io worked fine.
Racer was giving this output on stderr when I tried completing symbols belonging to mycrate:

racer::cargo: ERROR!:

[2018-04-24 12:06] kngwyu commented on #804
@genrtul
Can you please try to reproduce it in [nightly branch](https://github.com/kngwyu/racer-nightly)?

[2018-04-24 19:51] #752 closed

[2018-04-26 02:36] mvr opened #844 "Slow behaviour with glob imports"
(This could be a non-issue, there's a good chance I'm using `use` wrong.)

Racer takes 7 seconds on my machine to provide completions in the following situation, even when none of the modules `a` through `i` exist. If you uncomment the last `use`, it takes around a minute.

[code]

[2018-04-26 10:25] kngwyu opened #845 "Infinite recursion around LetTypeVisitor::visit_epxr"
See https://github.com/rust-lang-nursery/rls/issues/835

Now I'm trying to debugging, and I think the bug is around https://github.com/racer-rust/racer/blob/master/src/racer/typeinf.rs#182-#218, because this is only where we add some codes to src before calling `ast::get_let_type`.

Please comment anything you notice!

[2018-04-26 18:13] warsus opened #846 "git dependencies aren't recognized if uppercase is used in url"
I just did some research to find out why completions for my cursive dependency from git did not work.
I declared it as following, but as it turns out the uppercase 'C' seems to break racer.

cursive = { git = "https://github.com/gyscos/Cursive.git"}

If i only use lowercase letters for the repository name it works.

cursive = { git = "https://github.com/gyscos/cursive.git"}

In the former case in

[2018-04-27 01:42] kngwyu commented on #844
It's interesting and very annoying.
Thanks for reporting.

[2018-04-27 02:05] kngwyu commented on #844
Maybe it's because [search_prelude_file](https://github.com/racer-rust/racer/blob/master/src/racer/nameres.rs) runs many times and it seems difficult to fix.
We can accelerate processing by running search_prelude_file just once using regex, but for it, we have to change many codes.

[2018-04-27 02:47] mvr commented on #844
When I run with RUST_LOG=debug, it looks like there is something strange and exponential going on in `match_use`: There are many lines like

[code]

in various combinations of `a`-`h`.

[2018-04-27 03:08] kngwyu commented on #844
@mvr
Thanks.
That's interesting.

[2018-04-27 04:11] kngwyu commented on #844
Ah I understand.
When racer tries to find the definition of `a`, it searches `b::a` for the situation like this.
[code]

So I think we can reduce this kind of complexity by caching the result of `resolve_path`.

[2018-05-09 05:31] kngwyu opened #847 "Maybe search_closure_args has a bug"
Counter case is here
[code]
In the above example, trying to `find_definiiton` of `EnumB` in the scope of `match a` fails.

In addition, debug output includes
[code]

[2018-05-10 07:55] #826 closed

[2018-05-10 07:55] kngwyu commented on #826
Closed via #827

[2018-05-10 07:56] kngwyu commented on #815
Closed via #822

[2018-05-10 07:56] #815 closed

[2018-05-10 07:56] #812 closed

[2018-05-10 07:56] #785 closed

[2018-05-10 07:57] kngwyu commented on #785
Closed via #825

[2018-05-10 17:00] TedDriggs commented on #832
@kngwyu I believe this is because `iter` isn't declared in the same place as `Vec`. Racer finds the file with the struct and then looks there for traits and methods because it doesn't have a global index like `rustc` does. I went down the same road and couldn't think of a way to fix it without killing performance.

[2018-05-11 02:11] kngwyu commented on #832
@TedDriggs
Thanks.
So it seems to be difficult to fix now.
I will reopen this issue in the future.

[2018-05-11 02:11] #832 closed

[2018-05-11 14:08] kngwyu commented on #846
Thanks, but I'm planning to apply https://github.com/kngwyu/racer-nightly/pull/3 to upstream and it will fix this kind of problem.

[2018-05-12 06:29] kngwyu opened #851 "Racer regards `extern crate ~` sentence as public module"
It works well in the same crate, but behaves incorrectly for `extern crate ~` statements in other crates.
E.g. If `crate-a/src/lib.rs` has
[code]
, we can complete
[code]
in other crates.

[2018-05-12 08:53] Dushistov commented on #829
@kngwyu Any plans to merge it into racer mainline?

[2018-05-12 09:28] kngwyu commented on #829
@Dushistov
I got push previlege for this repository 2 days ago so I will send a PR soon.
Sorry for delay.

[2018-05-17 01:31] nrc opened #852 "CHANGELOG for 2.0.13 and 2.0.14"
.13 is missing and I didn't know what to add for .14. It would be great if someone could fill that in.

[2018-05-17 06:12] kngwyu commented on #852
Closed via #853

[2018-05-17 06:12] #852 closed

[2018-05-17 09:29] stjepang commented on #492
I'd like this when crossing crates, too. Anything that is marked with `#[doc(hidden)]` is public only as a workaround but is really meant to be private.

In `crossbeam-channel` I'm exposing all the internal modules as public and marked with `#[doc(hidden)]`. The reason why almost everything has to be public is because the internal (meant to be private) modules are used by the public `select!` macr

[2018-05-17 14:11] ksqsf commented on #513
Still affected by this with racer 2.0.14.  A simple workaround is as follows in case somebody reaches here.
[code]

[2018-05-19 07:48] kngwyu commented on #836
Closed via #854

[2018-05-19 07:48] #836 closed

[2018-05-19 07:54] kngwyu commented on #833
Closed via #838

[2018-05-19 07:54] #833 closed

[2018-05-22 08:02] Dushistov opened #856 "panick at 'Statement has a beginning' in one-line closure"
I use `racer 2.0.14`,
when I try put cursor at `v.to_str` and exec `M-x racer-find-definition` `racer panicked`

[code]
[code]
I attached code with dummy crate that helps reproduce problem.

[racer-bug.zip](https://github.com/racer-rust/racer/files/2025541/racer-bug.zip)

[2018-05-25 05:02] kngwyu commented on #628
Closed since I can't reproduce in current version.

[2018-05-25 05:02] #628 closed

[2018-05-26 14:03] kngwyu opened #857 "Use our own emitter for libsyntax"
Now we use [rustc's tty_emitter](https://github.com/rust-lang/rust/blob/master/src/librustc_errors/emitter.rs#L121) for showing error in compiler, but do we really want to see messages like
[code]
in our log?
And, more seriously, it can cause panic when dropping.
So our own emitter is better.

[2018-05-28 09:08] sidgwick commented on #513
@ksqsf thanks, it works for me.

[2018-06-04 03:50] kngwyu opened #864 "Disable completion in comments"
See https://github.com/rust-lang-nursery/rls/issues/882.

When the cursor is in comments,  racer tries to find completion candidates to empty context.

[2018-06-05 14:47] tomc1998 opened #865 "Indexing dependencies for features like non FQ completion & automatic import insertion"
Hello!

So, this issue is more of a general question about how I'd go about implementing a feature. I've wanted automatic import insertion in rust for a *long* time, and I've been looking through racer's codebase in the hopes of implementing something along these lines.

Let's break it down - to perform automatic import / use statement insertion, we'd basically need non-fully-qualified autocomplet

[2018-06-05 15:08] TedDriggs commented on #865
I'd suggest talking to @nrc or others on the RLS team before going too far down this path in Racer; they may have ideas about where best to do this, and if your efforts can help them then that'd be awesome.

[2018-06-05 15:47] tomc1998 commented on #865
Ahhhh yeah I was wondering if this'd be better in the RLS, is that @ tag gonna send him/her a notification or should I open a similar issue in the RLS repo?

[2018-06-05 15:50] kngwyu commented on #865
Yeah we need something like `import caching`, also for #844(my cause for headache :fearful: ).
I'm really welcome to your PR.

But, my concern is: racer have some problems for visibility resolving. So maybe it's better to fix it earlier.

And some instructions:

I think just `HashMap` is enough.

We're getting use items [here](https://github.com/racer-rust/racer/blob/master/src/racer/matchers.rs#L

[2018-06-05 16:49] kngwyu commented on #865
I'm sorry my comment was ambiguous.
To clarify my opinion, I'm for implementing caching for use items, but strongly for not for grep-like completion you're proposing here. It's very interesting, but I think it's sometimes confusing for users.

It's a bit difficult to explain, but put simply, racer judges if the item is visible regardless of where the user's cursor is. See #851 for example.

But if

[2018-06-05 17:02] tomc1998 commented on #865
You mean, you're against non-fully-qualified completion? Have you used modern java IDEs? It seems to work really well with those, just a shame it uses 100gb to run (some fool obviously decided to write IDEs in java!)

Ohhhh I see, I don't think this is a huge issue, we can save this for another PR.

Yeah I'm totally for just putting this onto another endpoint, like `racer complete-nonfq R`

[2018-06-05 17:12] kngwyu commented on #865
I'm not against, but honestly I don't need it immediately. Now racer lacks important features like completion based on trait bounds, so I want to implement them at first. But, of course, if you open a PR I really welcome it.

Yeah I have some(not many) experience with IntelliJ Idea, but I don't know they support partial matching(sorry).

[2018-06-05 22:54] nrc commented on #865
The way the RLS does this is that rather than do eager import insertion, it offers a lightbulb to suggest inserting an import based on the compiler's suggestion for fixing an error. This relies on the compiler giving a good suggestion, but it usually does. This is not as smooth as auto-importing for some Java IDEs, but it is low cost and well-supported by the LSP (auto-imports would be harder to i

[2018-06-06 04:39] tomc1998 commented on #865
@nrc Is this already in the RLS? Is there no point implementing this in Racer?

[2018-06-06 07:33] kngwyu commented on #846
Closed via #855

[2018-06-06 07:33] #846 closed

[2018-06-06 07:34] kngwyu commented on #847
Closed via #862

[2018-06-06 07:34] #847 closed

[2018-06-06 07:35] kngwyu commented on #804
Closed via #855

[2018-06-06 07:35] #804 closed

[2018-06-06 07:36] kngwyu commented on #751
Closed via #799 and #808

[2018-06-06 07:36] #751 closed

[2018-06-06 07:37] kngwyu commented on #831
Closed via #855

[2018-06-06 07:37] #831 closed

[2018-06-06 07:38] kngwyu commented on #786
Closed via #854

[2018-06-06 07:38] #786 closed

[2018-06-06 22:18] nrc commented on #865
@tomc1998 applying a suggestion to add an import is implemented, yes. There might be something more that Racer (or the RLS) can do

[2018-06-12 09:58] Crandel opened #868 "rust-racer failed to install: (error el-get: cargo el-get could not build rust-racer [cargo build --release])"
* Arch linux

* rustc 1.26.2 (594fb253c 2018-06-01)

* cargo 1.26.0 (0e7c5a931 2018-04-06)

* stable channel

* emacs package manager: el-get

[code]

[2018-06-12 15:05] kngwyu commented on #868
Oh, sorry, we have to use nightly compiler to compile current master branch.
I'm going to update README till next release, and open https://github.com/dimitri/el-get/pull/2629.
Thanks for reporting.

[2018-06-13 08:04] kngwyu opened #869 "replace vec::IntoIter with Vec or impl IntoIterator"
Really I don't know why `vec::IntoIter` is used many times.
I think, when we want to evaluate something lazily `impl Iterator` is better, and other cases, just to use `Vec` is better.

[2018-06-13 08:21] kngwyu opened #870 "Move generic_args and generic_types into MatchType"
Now `MatchType` has too many members...
Though only struct, enum, and trait needs `generic_args` and `generic_types`, it's included in `core::Match`.
It's completely not critical for performance, but it's confusing and makes it difficult modify codes only related to trait bounds.
So I think these members should be tuple variant, like
[code]

[2018-06-15 18:08] mullr opened #872 "racer pegs CPU for minutes when using the combine crate (w/repro)"
Whenever I use 'combine' parser combinator crate, racer consumes 100% cpu for minutes at a time when it tries to do a completion.

A minimal repro (from the user side) is available here: https://github.com/mullr/racer-with-combine-repro

I don't know what about `combine` triggers this behavior, but running `RUST_LOG=racer=debug ./complete.sh 2>&1 | less` seems to indicate that combine's lib.rs is

[2018-06-16 04:12] kngwyu commented on #872
Thanks for reporting!
I could reproduce, and I'm debugging now.
I think it's related to #844, but not sure.

[2018-06-16 05:11] kngwyu commented on #872
OMG....
[code]

So maybe #844 is very critical for performance and, yeah, we have to fix it as soon as possible.

[2018-06-24 06:04] birkenfeld commented on #872
I'd propose, as a short-term additional mitigation, a configurable timeout after which Racer just returns with no matches.

[2018-06-24 11:28] kngwyu commented on #872
@birkenfeld
To set timeout sounds good idea.
I know there's some cases racer becomes very slow other than this(e.g. iterator chain), and it'll take much more time to fix them all, than set timeout.

But, for this problem, I'm considering another approach(to explain is a bit difficult... I open a PR soon).

[2018-07-03 07:32] kngwyu commented on #844
Closed via #875 (though it's still a bit slow)

[2018-07-03 07:32] #844 closed

[2018-07-03 12:58] mvr commented on #844
Hopefully this was the problem with #803 and #757 too!

[2018-07-04 11:56] kojole opened #877 "Completion for `std::ptr::NonNull::new_unchecked` is weird"
[code]

`std::ptr::NonNull::new_unchecked` is `const unsafe fn`, and I suspect racer's matcher doesn't handle `const unsafe fn`s correctly ([src/racer/matchers.rs#L189](https://github.com/racer-rust/racer/blob/523ffb3fc750287b93daf71ed4c48429df4fde35/src/racer/matchers.rs#L189)).

### Versions
- rustc 1.27.0 (3eda71b00 2018-06-19)
- racer 2.0.14

[2018-07-04 12:16] kojole opened #878 "Completion for `extern "rust-intrinsic" fn`s in std"
Completion for `extern "rust-intrinsic" fn`s in std fails.
e.g. `std::mem::transmute`, `std::ptr::copy`, `std::ptr::copy_nonoverlapping`

[code]

### Versions
- rustc 1.27.0 (3eda71b00 2018-06-19)
- racer 2.0.14

[2018-07-04 13:13] kngwyu commented on #877
Thanks for reporting, and sorry for poor experience :fearful:
Racer's keyword mathing is actually not good.

[2018-07-04 13:13] kngwyu commented on #878
Thanks for reporting!
It looks a bit harder than #877

[2018-07-05 21:04] BatmanAoD commented on #777
Also `vec!`.

[2018-07-06 01:00] nrc opened #880 "Rust 2018 edition use statement with crate keyword not recognized"
Reported in https://github.com/nrc/rls-analysis/issues/144, but I'm pretty sure this is a Racer issue.

`use crate::point::Point;` gives "error: expected identifier, found keyword `crate`"

Perhaps we just need to use a later version of Racer in the RLS with a parser which can handle this?

[2018-07-06 03:10] kngwyu commented on #880
No, we need to modify codes to handle `crate` keyword when parsing use statement.
But, honestly I don't understand [crate_in_paths](https://doc.rust-lang.org/nightly/unstable-book/language-features/crate-in-paths.html) enough...
Is `use crate::a` is same as `use  ::a`?

[2018-07-06 03:51] kngwyu commented on #880
@nrc
Thanks, it looks a big change!
I'm going to implement `use crate::~` support on this weekend.

[2018-07-06 15:05] julitopower commented on #777
Is there any work being done for this?

[2018-07-06 15:20] kngwyu commented on #777
@julitopower
No, but I'm planning to add partial macro support(only for stdlib macros) before 2.1

[2018-07-07 08:09] kngwyu opened #882 "In some cases completion for use statement doesn't work"
For example, racer can't follow
[code]
or
[code]
, because it uses hacky way to complete after `{`

[2018-07-08 06:13] kngwyu opened #885 "Completion after ..="
Completion after ..= doesn't work

[code]

[2018-07-08 07:29] #334 closed

[2018-07-08 07:31] kngwyu commented on #551
Closed via #855

[2018-07-08 07:31] #551 closed

[2018-07-08 07:32] kngwyu commented on #429
Closed since I can't reproduce in current version.

[2018-07-08 07:32] #429 closed

[2018-07-08 07:34] kngwyu commented on #537
Closed since I can't reproduce in current version.

[2018-07-08 07:34] #537 closed

[2018-07-08 07:36] kngwyu commented on #802
Closed via #854

[2018-07-08 07:36] #802 closed

[2018-07-09 06:52] kngwyu commented on #885
Also completion after `..` is not correct

[2018-07-15 11:10] sengirab opened #890 "Racer not completing types from extern blocks."
Hi.

When defining functions in an extern block.
Importing the module in e.g main.rs doesn't autocomplete functions from within the extern blocks.

![screen shot 2018-07-15 at 1 08 38 pm](https://user-images.githubusercontent.com/15229540/42733343-40c2959c-8830-11e8-8c74-9de6894c8264.png)
![screen shot 2018-07-15 at 1 08 42 pm](https://user-images.githubusercontent.com/15229540/42733344-40d6b518-8

[2018-07-15 11:49] kngwyu commented on #890
Thanks.
It's also reported in #878 but has been neglected because of other bugs.

[2018-07-15 12:03] kngwyu commented on #877
closed via #879

[2018-07-15 12:03] #877 closed

[2018-07-15 12:04] kngwyu commented on #882
closed via #886

[2018-07-15 12:40] kngwyu opened #892 "Completion after self"
![racer_incorrect_self](https://user-images.githubusercontent.com/16046705/42734018-7de5396a-8877-11e8-9bfa-9632a32bdc77.png)

Completion after `self` is not correct, because racer just truncate `self` and do nothing special for it.

[2018-07-15 12:53] kngwyu commented on #880
Closed via #891

[2018-07-15 12:53] #880 closed

[2018-07-15 14:11] kngwyu commented on #856
Closed via #867

[2018-07-15 14:11] #856 closed

[2018-07-15 14:12] kngwyu commented on #842
Closed since 2.0.14 was released

[2018-07-15 14:12] #842 closed

[2018-07-15 14:14] kngwyu commented on #803
Closed via #875

[2018-07-15 14:14] #803 closed

[2018-07-15 14:35] kngwyu commented on #800
Maybe it's because we just set wrong path to source, but now I'm feeling really difficult to debug this bug!

[2018-07-16 02:19] kngwyu commented on #882
Shit now I found that this is not fixed for find_definition

[2018-07-16 02:20] #800 closed

[2018-07-17 10:04] kngwyu commented on #878
Closed via #895

[2018-07-17 10:04] #878 closed

[2018-07-17 10:04] kngwyu commented on #890
Closed via #895

[2018-07-17 10:04] #890 closed

[2018-07-19 23:34] doxxx opened #897 "error: expected expression, found `<eof>`"
I'm having trouble with completions working very inconsistently for my Rust project in VSCode. I enabled rls and rls-analysis debug logging and eventually noticed this in the log output:

[code]

EDIT: Was able to reproduce and get backtrace.

The file in which this struct is defined is not incomplete, so I don't know why it's complaining about EOF. The full definition of that type is:

[code]

My

[2018-07-19 23:37] doxxx commented on #897
Possibly related to this, when I type a '.' after a local variable name, I immediately get this in the log:

[code]

[2018-07-19 23:41] doxxx commented on #897
The above error seems to specifically occur when getting completions for a variable of type `Direction` (defined in `src/direction.rs`).

[2018-07-20 01:29] kngwyu commented on #897
Thanks, it looks really terrible bug.

[2018-07-20 01:52] kngwyu commented on #897
Now I succeeded to emit these errors, but I found they're not related to what completions we get.
@doxxx
Could you please point out what ident/path/etc.. you can't get as completion candidates?
I'm going to try to work in your raytracer crate too, but your own feedback is more important.

[2018-07-20 07:22] kngwyu commented on #897
One more:

This looks not related to racer

[2018-07-20 10:15] Dushistov commented on #191
It would be great thing for those who use https://github.com/rust-lang-nursery/rust-bindgen and construction like:
[code]

[2018-07-20 10:51] kngwyu commented on #191
I think we can support `include!` itself.
But other macros like `concat!` and cargo environment variables like `OUT_DIR` are major obstacles :fearful:
So... yeah I don't say we never support this, but we can't support this kind of feature immediately, sorry.

[2018-07-20 11:32] Dushistov commented on #191
@kngwyu

So... yeah I don't say we never support this, but we can't support this kind of feature immediately, sorry.

But what about this particular case:

[code]
?

It is recommended way for code generation according to [official cargo docs](https://doc.rust-lang.org/cargo/reference/build-scripts.html#case-study-code-generation), is it hard to match such code with regexp and look for last modifie

[2018-07-20 11:53] kngwyu commented on #191
@Dushistov
OK, I'll try it.

[2018-07-20 12:40] Dushistov opened #900 "Not handle Box<Trait + Send>"
Consider such code:

[code]
if in place cursor at `foo` at **line X**, and execute `racer-find-definition`,
it returns "No definition found", also no completion if I type `t.`

But if replace ` Box<Foo + Send>` with ` Box<Foo>` all works fine.

So looks like racer not like `Box<Trait + Send>`?

[2018-07-20 12:46] kngwyu commented on #900
Thanks for reporting, it looks weird...

[2018-07-20 12:48] Dushistov commented on #191
@kngwyu

Great! Thank you.

[2018-07-20 22:31] doxxx commented on #897
`src/system.rs` -> `Camera::new` function. I cannot get completions for any of the local variables or the `f64` parameters. I do get completions for the `Point` parameters.

I do get completions for the local variables if I type the first letter of the method after the dot. e.g. `up.n` provides completions for `ne`, `neg` (twice), and `normalize`.

[2018-07-21 08:19] kngwyu commented on #897
Thanks!

For a local variable `xaxis` racer can get methods.
![screenshot from 2018-07-21 17-11-38](https://user-images.githubusercontent.com/16046705/43033708-482d7206-8d09-11e8-92f9-4859c6694463.png)
But, for `zaxis` and `yaxis`, racer fails to infer types of `-` operation.

It's not yet supported(#401), sorry.

So I decided to close this issue in favour of #401 and I'll try to modify it.
Thanks

[2018-07-21 08:19] #897 closed

[2018-07-21 08:20] kngwyu opened #901 "Type inference for binary operator"
e.g.
[code]

Though it doesn't look easy :cold_sweat:

[2018-07-21 23:31] doxxx commented on #897
Thanks for looking into it!

[2018-07-22 04:07] kngwyu opened #903 "macros are completed after use"
![image](https://user-images.githubusercontent.com/16046705/43042120-dc2abb16-8daf-11e8-8927-320387ca7c57.png)

I'm going to fix this in #902

[2018-07-22 05:09] kngwyu commented on #903
Closed via #902

[2018-07-22 05:09] #903 closed

[2018-07-22 05:09] kngwyu commented on #777
Closed via #902

[2018-07-22 05:09] #777 closed

[2018-07-23 19:50] Dushistov opened #906 "Can not find the second item in nested group"
I use racer 2.1.0.

I created simple crate,
**Cargo.toml**
[code]
**src/main.rs**
[code]

If in line `use spade::{rtree::RTree, PointN};` move cursor to `PointN` and execute
`M-x racer-find-definition` it prints "No definition found",
but it works for `rtree::RTree` and also if comment nested group line and uncomment
`use spade::PointN;` line, then it jump to `PointN` without problem.

[2018-07-24 05:09] kngwyu commented on #906
Thanks.
I'm sure it's my bag :sweat: , sorry.

[2018-07-25 03:59] #906 closed

[2018-07-25 21:01] Dushistov opened #909 "racer got lost after reqwest::timeout"
Bellow the most simple example as I can create.
`racer` can find (`racer-find-definition`) `Client`, `builder`,
`timeout`, `Duration`, but `build` it can not find.
`timeout` looks like this:
[code]
`racer` can find `ClientBuilder`, if put cursor to `ClientBulder` in `timeout` definition,
also if I create `CliendBuilder` manually it can find `build` method:
[code]

but for some reason if put this t

[2018-07-28 00:01] ricvelozo opened #912 "Autocomplete after `use std::`"
I don't know if the problem is in Racer or RLS (or even in ide-rust), but I'd like if the suggestions list appear on `::`, and no to wait I type a letter, i.e.:

[code]

[2018-07-29 02:49] kngwyu commented on #912
Thanks for reporting!
But, I think it's not a racer's problem(e.g. in emacs client
![image](https://user-images.githubusercontent.com/16046705/43362447-49705724-9325-11e8-86b9-b5fc9932a1a1.png)
).

@ricvelozo
What client do you use?
RLS and ide-rust?

[2018-07-29 04:32] kngwyu commented on #912
Ah you mean you want to get `:BufRead :BufReader :BufWriter...` after typing `use std::io:`?
I misunderstood, sorry.

[2018-07-29 04:35] ricvelozo commented on #912
More like to get `BufRead` after typing `use std::io::`.

[2018-07-29 04:42] kngwyu commented on #912
I see.
I'm going to check it in Atom.

[2018-07-29 04:44] #912 closed

[2018-07-29 04:58] kngwyu commented on #912
I can reproduce in [atom-ide-rust](https://github.com/rust-lang-nursery/atom-ide-rust) but can't reproduce in [rls-vscode](https://github.com/rust-lang-nursery/rls-vscode).
So it seems to be a problem of ide-rust.

[2018-08-01 16:00] MaikKlein commented on #581
Any update? Is there a workaround?

[2018-08-01 17:03] MaikKlein commented on #581
I think it might be related to workspaces and git. I just tried a few crates with workspaces and racer could complete none of them, if they were added with git.

[2018-08-01 21:28] kngwyu commented on #581
I think #855 fixed this.
@MaikKlein
Can you reproduce it in racer >= 2.1.0?

[2018-08-01 21:59] MaikKlein commented on #581
@kngwyu Yes that fixed it. Sorry I thought I already was on the newest version.

[2018-08-01 21:59] #581 closed

[2018-08-02 21:06] nrc opened #914 "Is it possible to shell out to `cargo metadata` rather than have cargo as a dep"
Coordinating the cargo version between racer, Cargo, and the RLS is a bit of a pain.

[2018-08-02 23:05] kngwyu commented on #914
I think we can do so when https://github.com/rust-lang-nursery/rls/pull/965 is merged.

[2018-08-05 04:43] tarka opened #916 "find-definition requires `extern crate` in 2018 edition"
`extern crate` is no longer required in the 2018 edition preview. However, trying `find-definition 3 25` on the following code fails. However if add `extern crate actix_web;` it works.

    #![feature(rust_2018_preview)]

    use actix_web::{server, App, HttpRequest};

    fn index(_req: &HttpRequest) -> &'static str {
        "Hello world!"
    }

    fn main() {
       server::new(|| App::new().

[2018-08-05 05:29] kngwyu commented on #916
Thanks!
It's just not implemented yet :sweat:

[2018-08-06 02:38] kngwyu opened #917 "Completion bug around `use ... as ...` syntax"
See https://github.com/racer-rust/emacs-racer/issues/105

[2018-08-12 07:41] Diomendius commented on #746
I had a small adventure tracking this one down, but I've fixed this and opened a pull request. I found an unrelated bug in ``is_const_fn`` in the process, too, so that's nice.

[2018-08-12 10:32] #746 closed

[2018-08-14 20:23] Jimmio92 opened #919 "__imp___acrt_iob_func linking errors under msys2"
Hello,

I am trying to build racer from master branch (pulled yesterday) and it seems to be linking both the GNU C library like it should as well as MSVCRT.. and I'm not sure if that's where the problem lies. Basically, it seems this error occurs when a library is built with MSVC tools prior to VS2015 and then used in VS2015.. It also seems to pop up only in a few curl functions. Any ideas?

[2018-08-15 03:28] kngwyu commented on #919
Hmm... It's upstream issue so I'm not sure I can handle it :sweat:
Now I updated cargo so could you please try to build once more?
But, in the long run, it seems to be better to use `cargo metadata` as subprocess :slightly_frowning_face:

[2018-08-15 20:53] Jimmio92 commented on #919
Full build log: [buildlog.txt](https://github.com/racer-rust/racer/files/2291667/buildlog.txt)

Nightly Rust. Master branch here. Msys2 up to date. GCC 8.2.0. Windows 10 x64 in a unix-like bash environment, basically.

[2018-08-16 03:46] jaredcnance opened #921 "Can't install: failed to run custom build command for libssh2-sys v0.2.10"
I'm currently unable to install on OSX:

[code]

Current version of rust: `nightly-x86_64-apple-darwin`

[code]

[2018-08-16 05:05] kngwyu commented on #921
How about installing cmake?
But, anyway, I feel we really need to get rid of some cargo dependencies 😓

[2018-08-16 13:00] crlf0710 commented on #919
@Jimmio92 This has been the case for quite a while now. It's because MSYS2 ships GCC 8.x, and Rust itself ships GCC 7.x. I have some experience dealing with this.

So basically you have two ways to workaround this issue.
1. Somehow get yourself an environment the same with those mingw-build files Rust ships, e.g. GCC 7.x etc.. (Hard)

2. a. remove rust-mingw component. (edit multirust-channel-mani

[2018-08-16 16:28] jaredcnance commented on #921
🤦‍♂️ missed the "is `cmake` not installed?" part. that fixed it, thanks.

[2018-08-16 16:28] #921 closed

[2018-08-17 03:07] kngwyu opened #923 "Visibility Fix"
Currently racer uses simple rule for visibility:
1. For an item outside the current module, checks if it has `pub(..` or `crate` keywords. If it has, add it to completion list. [Here](https://github.com/racer-rust/racer/blob/master/src/racer/matchers.rs#L115)
2. For an item inside the current module, add it to completion list without checking visibility.

And, apparently rule1 is incorrect.

[2018-08-17 03:08] kngwyu commented on #892
Closed in favour of #923

[2018-08-17 03:08] #892 closed

[2018-08-17 03:54] Jimmio92 commented on #919
crt2.o and crt2dll.o are no longer the name of the now multiple files named crtbegin and crtend, plus some mathematical section of the runtime. So.. I don't know what to do. I guess building Rust from source in this environment would alleviate this problem?

[2018-08-17 09:43] kngwyu opened #926 "Find definition in use statement can jump into closure arg"
Awesome bug (⦿＿⦿)
[code]
When we use `definition` on `use req~`, it returns  a closure arg below.
It's terrible :fearful:

[2018-08-17 10:40] crlf0710 commented on #919
@Jimmio92 those files still exists. there was a typo however, it's called <del>crt2dll.o</del> **dllcrt2.o** .   crtbegin and crtend files do exists, but they're unrelated.

They're located at(taking 64-bit example on my machine):
[code]
And they come with `mingw-w64-x86_64-crt-git 6.0.0.5193.a081b583-1` in MSYS2 package on my machine.

You should use them to replace
`<somewhere>\.rustup\toolchain

[2018-08-18 14:11] k3yavi opened #927 "Openssl dependency build fail"
[log.txt](https://github.com/racer-rust/racer/files/2299582/log.txt)
I am getting the above attached error wile installing racer on Ubuntu using the following command.
[code]

Any help resolving it is appreciated .

[2018-08-18 14:15] kngwyu commented on #927
How about `sudo apt install libssl-dev`?

[2018-08-18 14:28] kngwyu commented on #927
Then.. hmm...
how about using same env var as https://github.com/alexcrichton/ssh2-rs/issues/91#issuecomment-410432033 ?

[2018-08-18 14:36] k3yavi commented on #927
Sorry didn't changed a think.
But according to the above issue program is confusing with multiple libraries, i.e. previously installed and one included in ssh2-rs.
if I am right, then racer don't explicitly install a separate version instead rely on it as an available dependency, isn't it ?

[2018-08-18 14:44] kngwyu commented on #927
For some c libraries (e.g. libssh2) racer installs explicit version but for some c libraries(e.g. openssl) it uses system installed one.
But, they're all dependencies of cargo and racer actually didn't need them.
I'm considering remove those dependencies...

[2018-08-18 14:48] k3yavi commented on #927
Sure. I am not sure how much work it is to remove the dependencies. But please let me know once you figure it out. Thanks again for the fast replies.

[2018-08-19 02:26] k3yavi commented on #927
As a workaround I was able to install the version using stable rust before racer started using nightly builds:

[code]

[2018-08-22 15:12] phansch commented on #914
https://github.com/rust-lang-nursery/rls/pull/981 (a followup of https://github.com/rust-lang-nursery/rls/pull/965) has been merged

[2018-08-23 10:02] kngwyu commented on #757
Closed via #875

[2018-08-23 10:02] #757 closed

[2018-08-25 16:37] zachlute commented on #718
This appears to be a dupe of #595 and can probably be closed.

[2018-08-25 21:13] alexreg commented on #718
Maybe. Would be nice if someone could take a look at it anyway...

[2018-08-26 00:06] #718 closed

[2018-08-27 07:32] kngwyu commented on #916
By #930 racer know current project's edition.
Next step is to know 'where the current crate is'.

[2018-08-27 11:19] #919 closed, assigned to nobody

[2018-08-27 12:04] k3yavi commented on #927
it worked @kngwyu , thanks for fast resolution ...

[2018-08-27 22:02] nrc opened #935 "Use save-analysis info to improve suggestions"
The best way I can see to help here is to use save-analysis to find the types of expressions which Racer could not otherwise infer. E.g. (`|` is the cursor)

[code]

I believe in this case Racer would need an explicit type annotation on `x`, however, save-analysis knows the type of x without an annotation, and probably will have that info by the time Racer gets to suggestions for `.s...`.

@kngwyu

[2018-08-28 01:05] Hellseher opened #936 "build failed after "error: Could not compile `scoped-tls'""
Hi,

After `cargo install-update -a` I've got a failure to update **racer**

I've got the same when build it from git repository.

[code]

[code]

[2018-08-28 01:09] kngwyu commented on #936
I think it's because your nightly compiler is a old one.
Could you try
[code]
please ?

[2018-08-28 01:15] Hellseher commented on #936
And after update of nightly

[code]

[2018-08-28 01:27] Hellseher commented on #936
No worries, it's **resolved now**.

And for the future if I want to `cargo install-update -a` do I need to remove **racer** and install it from +nightly?

[2018-08-28 01:50] kngwyu commented on #936
@Hellseher
Now racer deeply depends on rustc's parser(published in crates.io as [rustc-ap-syntax](https://crates.io/crates/rustc-ap-syntax)), which depends on nightly compiler.
In the future we should migrate to another stable parser(e.g. libsyntax2), but now I'm not sure.

[2018-08-28 01:50] #936 closed

[2018-08-28 06:30] kngwyu commented on #935
Since Rust's type inference rule is complex, I'm sure it's useful.

For a type without type parameter just pointer to definitions is enough. But considering a type with type parameter/trait object, I think we need some structured format.

Like other APIs, I think trait object works.

e.g.
[code]
but now I'm not sure.

I'm really not sure..., but it'll take not so **much** time.
But racer still nee

[2018-08-29 06:55] nrc commented on #935
What kind of format? Could you point me at what Racer uses at the moment please?

Awesome, thank you!

[2018-08-29 07:00] kngwyu commented on #935
Here: https://github.com/racer-rust/racer/blob/49412d9e4adef0b1a51240ffda468c1e9e51bade/src/racer/ast_types.rs#L441

[2018-08-30 05:58] kngwyu commented on #914
Closed via #930

[2018-08-30 05:58] #914 closed

[2018-08-30 10:55] kngwyu opened #939 "Completion based on trait bounds"
Related: #706, #829
## General roadmap
- [x] for `FnArg`
already implemented in #828, #937
[code]
- [ ] for struct member
[code]
- [ ] for closures
[code]

## Specific roadmaps

### refactor generics
- [x] Intoroduce ImplHeader
- [ ] Replace `MatchType::Impl` and `MatchType::TraitImpl` with ImplHeader
- [ ] Remove `Match::generics_args` and `Match::generic_types`
- [ ] Modify `MatchType::Enum` and

[2018-08-30 11:01] kngwyu commented on #706
Closed in favour of #939

[2018-08-30 11:01] #706 closed

[2018-09-01 02:05] kngwyu opened #941 "Remove txt_matches(search_type, &format!("fn {}", searchstr), signature)"
It's inefficient and incorrect.

[2018-09-01 08:04] kngwyu opened #942 "Refator 'Ty'"
https://github.com/racer-rust/racer/blob/1a38903e2640d0cac735f918a858c3596f0222dc/src/racer/ast_types.rs#L39

It's too old and not compatible with current `syntax::ast::TyKind` type.

[2018-09-01 09:12] kngwyu commented on #941
e.g.
It's used here:

[2018-09-02 08:30] kngwyu opened #944 "Refactor `PathSegment`"
https://github.com/racer-rust/racer/blob/1a38903e2640d0cac735f918a858c3596f0222dc/src/racer/ast_types.rs#L302-L306

Currently, `PathSegement` can only have `Path` as Generic types.
So racer can't provide completion in the cases like
[code]
.
It's very problematic.
It should have `GenericsArgs` instead of `Vec<Path>`.

[2018-09-02 11:45] kngwyu commented on #942
Now in libsyntax TyKind is defined as
[code]

We don't have to support these all variants, but at least we have to support `TraitObject` and `ImplTrait` for completion.

[2018-09-03 05:54] #944 closed

[2018-09-03 09:17] kngwyu opened #946 "`scope_start` is sometimes incorrect"
e.g.
[code]
When starting in for block, it returns `in v` as scope start.

[2018-09-06 06:59] kngwyu commented on #872
I decided to close this via #875

[2018-09-06 06:59] #872 closed

[2018-09-06 19:12] LPGhatguy opened #951 "Nested import groups (stable in 1.25) break completion"
Given:
[code]

But:
[code]

I noticed this using the VS Code Rust plugin today.

[2018-09-07 01:52] kngwyu commented on #951
I think it should work since #854.
What's your racer's(or rls's) version?

[2018-09-07 20:51] LPGhatguy commented on #951
I'm using whatever the VS Code extension installs, [since their setup guide tells you to skip explicitly installing RLS yourself](https://github.com/rust-lang-nursery/rls#step-1-install-rustup).

I suspect that since I'm on stable and not nightly, the version is before the PR you linked. I'll switch the project over to nightly and see what happens.

[2018-09-07 21:10] LPGhatguy commented on #951
Agh. Completion got worse switching to nightly.

Here I'm expecting to see the members of `HashMap`, but I just get `HashMap`:

![image](https://user-images.githubusercontent.com/654598/45243163-98583400-b2a7-11e8-8bb3-43bf36e47a12.png)

Here I'm expecting to see all of the members of `HashMap` that accept self as a first parameter, but I just get... a bunch of unrelated things starting with the l

[2018-09-08 01:45] kngwyu commented on #951
Please let me know the output of
[code]

[2018-09-08 04:45] kngwyu commented on #951
I can't reproduce.
If you still has any problem, please add `"rust-client.logToFile": true` to vs-code setting and open it with `env RUST_LOG=rls=debug` and upload the log file. Sorry to have trouble :sweat:

[2018-09-16 17:03] mati865 commented on #919
@crlf0710 in fact this is because Rust GCC was build with way older mingw-w64 than MSYS2 (GCC version doesn't matter).

[2018-09-17 06:11] hatoo opened #956 "Racer 2.1.5 panics in searcher thread when trying to complete "fn m""
a.rs
'm' is arbitary.
[code]

when racer on it
[code]

18446744073709551615 seems  subtract overflow.

[2018-09-17 08:15] kngwyu commented on #956
Thanks!
Looks [this line](https://github.com/racer-rust/racer/blob/master/src/racer/nameres.rs#L1830) causes overflow :fearful:
I'm going to resolve this after #957, but if you feel you want to fix it please open a PR :slightly_smiling_face:

[2018-09-17 16:13] h-michael commented on #941
@kngwyu
Hi thinks maintain racer.

I also would like to contribute from now on, but can this issue simply remove this method?

[2018-09-17 23:34] kngwyu commented on #941
No, I mean it doesn't match `fn   methodname`or so, and it should return match position.
If you're intested in contributing, I also recommend #956.

[2018-09-17 23:53] h-michael commented on #941
@kngwyu
I see, I'll try it!

[2018-09-19 05:39] #956 closed

[2018-09-24 16:13] tav commented on #916
Is anyone planning on working on this by any chance?

[2018-09-25 02:32] kngwyu commented on #916
I'm worrying about the overhead of calling `cargo metadata` just to know what the edition is.
But, anyway, I'm going to include this in 2.2 release and any contribution is welcome.

[2018-09-29 05:27] shpark opened #962 "Jump to definition bug?"
I found out that racer cannot find the definition of `struct IntoIter` defined in standard library `vec.rs`.

[code]

When I tried to jump to definition of `IntoIter`, it jumped to associated type definition, rather than jumping to the right definition.

[code]

By the way, intelliJ-Rust was able to show me the right definition.

[2018-09-29 06:12] h-michael commented on #869
@kngwyu
This issue is now OK to close.

[2018-09-29 06:34] kngwyu commented on #869
Closed via #961

[2018-09-29 06:34] #869 closed

[2018-10-01 15:33] huangjj27 commented on #513
For windows user, the `mklink` command also solve the problem:
[code]

[2018-10-05 04:43] letmutx commented on #926
Hi! Can I pick this? My idea to solve this is to not consider matches from closures if the search string is not in the closure's scope. From a little debugging I found that the `extern crate reqwest` also matches but only the first result is picked because this context is an exact match.

[2018-10-05 04:49] kngwyu commented on #926
Yes, we should.

[2018-10-05 05:15] letmutx commented on #926
Okay, I'll try to find the root cause. As I understand, _children_scopes shouldn't (is that the correct word?)  shouldn't be even considered to search matches from. Is that correct?

[2018-10-05 05:43] kngwyu commented on #926
Yes.
In [resolve_name](https://github.com/racer-rust/racer/blob/3be80e8646f5880c57a17fc3fa9f6cd84676a796/src/racer/nameres.rs#L1414), first [search_local_scopes](https://github.com/racer-rust/racer/blob/3be80e8646f5880c57a17fc3fa9f6cd84676a796/src/racer/nameres.rs#L1258) is called, and then [search_crate_root](https://github.com/racer-rust/racer/blob/3be80e8646f5880c57a17fc3fa9f6cd84676a796/src/ra

[2018-10-08 06:32] weaming commented on #642
I have the `csv` dependency in `Cargo.toml`, but `racer` does not find any completion for it when I ran it through emacs with spacemacs and in terminal.

[2018-10-08 07:48] letmutx commented on #926
@kngwyu Why is the whole scope searched if `pos == BytePos::ZERO` here?
https://github.com/racer-rust/racer/blob/master/src/racer/nameres.rs#L1277

[2018-10-08 08:18] kngwyu commented on #926
@letmutx
It's just a short-cut.
If `pos != 0` we search scopes recursively.
E.g.
[code]
If we throw a completion query at `let c = ~`,
1. search for functions/structs/... in `fn f()`
2. search local variable above `let c=`, in `fn f()` (by `search_scope_headers`)
3. search for functions/structs/... in `mod m`
4. search local variable above `let c=`, in `mod` (this is inefficient and we should fix

[2018-10-10 08:18] letmutx commented on #926
Sorry for the confusion, here is the `point` I am referring to. https://github.com/racer-rust/racer/blob/master/src/racer/nameres.rs#L952 I am trying to use it like this: https://github.com/racer-rust/racer/pull/969/files#diff-9b67b9113cab3ef74c5b678891f0bb95R1169 but when the resolve_path

[2018-10-11 18:35] cfsamson commented on #951
I have the same problem as well. Code completions basically doesn't work outside of src/main.rs file. Have the same problem across 3 windows machines but not on my Mac.

Did you figure this out?

[2018-10-12 00:43] kngwyu commented on #951
Sounds weird...
Thanks for reporting.

[2018-10-12 02:51] kngwyu commented on #926
Sorry for delay.
1. `point` is equal to `start`
We have no completion point in this scope. We have to search the whole scope.
2. `point` is not equal to `start`
It's a completion point. We have to search local variables.
And, `start` is a offset to `src`. It's used for get correct position of names.

[2018-10-12 07:43] sandipsahoo commented on #868
Hi, I am facing the same issue.

[code]

[2018-10-12 19:15] cfsamson commented on #951
Yeah, it's really annoying. I should mention though I use the Rust RLS plugin in VS Code, but as I understand the code completion is still from Racer. Works fairly well in main.rs but outside that file I have the exact same problem as described above, like this:

![racer](https://user-images.githubusercontent.com/8337848/46889214-3456fb80-ce63-11e8-9a3d-f9272fb3cbc3.png)

Here the objects/traits/m

[2018-10-15 15:47] letmutx commented on #926
@kngwyu I made yet another attempt at fixing this. The call to `search_closure_args` in `search_scope` ([link](https://github.com/racer-rust/racer/blob/98b761cce6ddc57dd51c147d8f473cb4c4d8fd55/src/racer/nameres.rs#L1129)) was causing this issue. It just tries to find a closure by finding a pair of `|` and tries to match the args without checking if the point is inside the closure. In the first cal

[2018-10-15 16:01] letmutx commented on #917
This is because when matches in use statements are returned, their matchstr is [replaced](https://github.com/racer-rust/racer/blob/98b761cce6ddc57dd51c147d8f473cb4c4d8fd55/src/racer/matchers.rs#L595) with the path alias and subsequent searches are done using the matchstr instead of the original name. To fix this we need a pass context boolean which denotes whether or not to replace the matchstr.

[2018-10-16 21:32] letmutx commented on #939
Hi! Is struct member method completions working? I can't seem to get completions with the latest master. I am using the same example above
[code]
[code]
[trace.txt](https://github.com/racer-rust/racer/files/2484934/trace.txt)

Weirdly enough, the testcases in `tests/trait_bounds.rs` pass.

[2018-10-17 01:59] kngwyu commented on #939
Thanks.

Tests contain only 'bounded by impl' cases, like
[code]
, so it's not weird.
I don't remember it's simply not implemented or broken, but anyway fix it later.

[2018-10-17 07:13] letmutx commented on #939
Right. I was obviously overlooking that. Sorry. I would like to take a go
at this.

On Wed, Oct 17, 2018 at 7:29 AM Yuji Kanagawa <notifications@github.com>
wrote:

[2018-10-17 07:38] kngwyu commented on #939
@letmutx
Thanks, but I want to fix this by myself, to recall what I implemented in last month.

[2018-10-17 08:42] letmutx commented on #939
Okay. I have some progress here: https://github.com/letmutx/racer/tree/add-struct-member-trait-completions

[2018-10-17 13:09] kngwyu commented on #926
Good catch, thanks!

[2018-10-18 20:07] nrc opened #974 "Metadata crate means we can't publish Racer"
`cargo publish` only publishes a single crate, so the crates referred to by path aren't included. In particular `metadata` is not part of the published tarball. That means the we fail the pre-publish check, and if we ignore that, the published version would not build.

Solutions are: publish anyway and document that it cannot be used with the `metadata` feature (note that it is used by default), p

[2018-10-18 20:14] letmutx commented on #901
I would like to tackle this. Thanks!

[2018-10-19 04:31] kngwyu commented on #901
@letmutx
Great, but be aware that now we can't complete methods for integer types.

[2018-10-21 09:02] kngwyu commented on #917
@letmutx
Good catch, thanks.

[2018-10-21 09:03] #917 closed

[2018-10-23 07:41] #926 closed

[2018-10-23 08:46] PeterDing opened #981 "racer does not complete external crates"
I installed racer with nightly rust. racer completes only std libs.

Following is my test:

My environment info:

[code]

In my project directory, following is test result.

- `ls`
[code]

- `cat Cargo.toml`
[code]

- `cat src/main.rs`
[code]

- `RUST_BACKTRACE=1 RUST_LOG=trace racer complete std` (complete stdlib)
[code]

- `RUST_BACKTRACE=1 RUST_LOG=trace racer complete 1 9 src/main.rs` (no comp

[2018-10-23 08:51] kngwyu commented on #981
Looks same as #916

[2018-10-23 10:31] kngwyu opened #983 "Version 2.2"
- [ ] trait bound #939
- [ ] support impl trait
- [ ] get_type command(#730)
- [ ] 2018 style path support(#916, #923)
- [ ] associated type in trait (#784)

[2018-10-23 12:35] letmutx commented on #983
I would like to pick impl trait support; Thanks!

[2018-10-23 19:57] qzio commented on #981
I'm having the same issue, same versions, but on linux (debian)
I've read #916 and tried adding `extern crate hyper;` but it didn't solve anything for me.

[2018-10-24 11:32] qzio commented on #981
@kngwyu I've built racer from this repo, I still have the same issue, no completion or definition for hyper.

[2018-10-24 11:55] kngwyu commented on #981
@qzio
Could you please paste the output of `cargo --version`?

[2018-10-24 12:04] qzio commented on #981
@kngwyu

[2018-10-24 12:10] qzio commented on #981
@kngwyu some more output:
[code]

[2018-10-24 12:30] PeterDing commented on #981
Completion works at neovim using `vim-racer` and `rust.vim` after I add `extern crate hyper;` to main.ts

<img width="496" alt="screen shot 2018-10-24 at 8 29 09 pm" src="https://user-images.githubusercontent.com/670690/47430314-8b49c280-d7cb-11e8-9c70-056a662c65ec.png">

[2018-10-24 12:49] kngwyu commented on #981
@PeterDing
Thanks!
Now I found racer fails to resolve external crates given a relative path.

@qzio
Now I think it's fixed by https://github.com/racer-rust/racer/commit/d53854035ea435053b2062d7fe071e36d6ad7e5f.
Could you please try it out?
Sorry for taking your time again.

[2018-10-25 05:53] qzio commented on #981
As far as I'm concerned, the commit d538540 closes this issue.

[2018-10-25 06:02] #981 closed

[2018-10-27 04:55] kngwyu commented on #916
Closed via #987

[2018-10-27 04:55] #916 closed

[2018-10-29 07:57] kngwyu commented on #830
Closed via #990

[2018-10-29 07:57] #830 closed

[2018-11-01 21:02] coolmedium opened #993 "Racer sometimes misses names in crates on `use` declarations"
For example, typing `use vulkano::device::D-<TAB>` will not show me `DeviceExtensions`.

It's something I've noticed for a few months, thought I'd see if anybody knows why.

[2018-11-02 03:57] kngwyu commented on #993
It's defined in macro and currently racer can't complete items defined in macro.
Sorry.

[2018-11-02 03:57] #993 closed

[2018-11-03 08:07] medusacle opened #995 "Cannot look up or complete external crates"
I still seem to be having the issue in #551. I carefully followed the instructions to install `racer` and `vim-racer`. Versions:
[code]

It wasn't working in vim so I tried manually. this works:
[code]

this doesn't, even though these are local dependencies and specified in `Cargo.lock` (project was successfully built using `cargo build`):
[code]

with debugging flags
[code]
also tried lookup used

[2018-11-03 08:38] kngwyu commented on #995
Looks same as #981
Could you please try current master?
If it works I'll publish it.

[2018-11-03 10:06] medusacle commented on #995
thank you! just tried,
[code]
Version still shows as 2.1.9—but I suppose that's expected.

- unfortunately, it didn't help for the `complete <ident>` case:
[code]

- interestingly, completion by line/col now does work ! this is likely enough to get it to work in vim,
[code]
[code]

[2018-11-03 13:55] juchiast commented on #995
It would be helpful to run "cargo test" in racer, just to verify that everything works fine. If some test fails, you get a starting point.

[2018-11-03 14:00] kngwyu commented on #995
@juchiast
This bug was hidden by travis's cache and I think it's an exceptional case.

[2018-11-03 14:00] #995 closed

[2018-11-03 14:11] medusacle commented on #995
@juchiast various path related tests are failing here:
[code]

[2018-11-03 14:19] kngwyu commented on #995
These tests are related to rust-src but I think you don't have to mind if everything work fine.
What's your problem now?

[2018-11-03 14:47] medusacle commented on #995
yes if that particular way is not important that's fine with me :woman_shrugging: everything is OK then

[2018-11-03 15:37] kngwyu commented on #995
Published 2.1.10 now

[2018-11-15 04:02] nilly commented on #995
racer  2.1.10  also  has  this  issue.

can not  complete   third  party  crate

[2018-11-16 00:45] #682 closed

[2018-11-17 07:42] mehrdaddolatkhah commented on #868
hi , i have same issue

[2018-11-19 09:18] #901 closed

[2018-11-20 14:48] #809 closed

[2018-11-21 17:56] btoninho opened #1002 "racer crashes on standard library completion"
Apologies in advance if this is something I did fundamentally wrong.

The following code:

    fn main() {
        let s = "Foo".as_bytes();
        let t: std::slice::Iter = s.
    }

Fails to produce any autocompletion for the `s.` part. Completion for string "Foo" and the std::slice:Iter parts work correctly.
RUST_SRC_PATH is set to ~/.rustup/toolchains/stable-x86_64-apple-darwin/lib/rustlib/sr

[2018-11-21 18:05] tseco commented on #1002
Hello, I'm facing the same issue - I get the same

error.
Following are a couple more examples where auto-complete fails, in case further illustration is necessary:
[code]

[2018-11-22 12:02] aryzing opened #1003 "Error when installing with dependency graphviz v297"
When attempting to install racer, the following errors are produced:

[code]

[2018-11-22 16:15] kngwyu commented on #1003
Please run `cargo +nightly install racer`

[2018-11-22 16:15] #1003 closed

[2018-11-22 16:35] kngwyu commented on #1002
@btoninho
Really thanks for opening this issue!
More precise debug info:
[code]
It looks racer searches a file named "" :thinking:

[2018-11-24 04:18] #1002 closed

[2018-11-27 02:13] updogliu opened #1005 "Failed to build Racer with rustc 1.32.0-nightly"
`uname -a`:
Linux updogliu-System-Product-Name 4.4.0-139-generic #165-Ubuntu SMP Wed Oct 24 10:58:50 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

`cargo version`
cargo 1.32.0-nightly (b3d0b2e54 2018-11-15)

Error:

[code]

[2018-11-27 05:15] kngwyu commented on #1005
Thanks for reporting!
So... should we publish a new version without `debug=1` ? :thinking:

[2018-12-10 03:08] zachschultz commented on #868
Having the same issue as well!

[2018-12-10 03:10] kngwyu commented on #868
It sounds weird.
I opened a PR that changed install command to `cargo install +nightly` in el-get repo a few months ago

[2018-12-17 23:39] Palladinium opened #1009 "100% CPU when completing certain nested use statements"
I've attached a minimal example, racer 2.1.13 running `racer complete 1 25 <file>` prints the line `PREFIX 25,25,` and then spins indefinitely, while I'd expect either an empty completion list or some sort of error message.

The issue seems to be appearing only with nested imports, for both `crate` imports and dependency crate imports, but curiously I haven't been able to reproduce it with the sta

[2018-12-17 23:45] Palladinium commented on #1009
Example for a library `use` which exhibits the same behavior on `racer complete 1 27 <file>`, as well as one of a standard library statement that doesn't exhibit it.

[racer_lib_example.zip](https://github.com/racer-rust/racer/files/2688235/racer_lib_example.zip)
[racer_std_example.zip](https://github.com/racer-rust/racer/files/2688236/racer_std_example.zip)

[2018-12-18 03:59] kngwyu commented on #1009
Thanks, @Palladinium!
I fixed it by https://github.com/racer-rust/racer/commit/f462768a72fe4c1917a675ab2f6f36ce8527bb2d

[2018-12-18 03:59] #1009 closed

[2018-12-19 06:39] yct21 commented on #803
Hi, I met the same problem.

I executed the same command with `RUST_LOG=debug` and here's what I got.

[code]

My environment:

- macos High Sierra 10.13.6
- rustc 1.33.0-nightly (93c2f055b 2018-12-15)
- racer 2.1.14

[2019-01-03 12:00] SMUsamaShah commented on #868
I get the following when trying to install racer.

[2019-01-06 05:10] Dushistov opened #1011 "racer eat 100% during edit of use declarations and hang emacs"
As most simple reproducible example you should create "hello world crate" with such main.rs:

[code]

After that edit code, change
`use std::fmt;` to `use std::{fmt` and move cursor
to `W` in `use std::io::Write;`,
as result you should have such code:

[code]

After moving of cursor `racer` starts eat 100% CPU.

[2019-01-06 05:14] Dushistov commented on #1011
Duplicate of #1009

[2019-01-06 05:14] #1011 closed

[2019-01-09 05:37] hekinami commented on #191
any update? thanks.

[2019-01-15 02:07] h-michael commented on #942
I'll try this issue soon.

[2019-01-15 02:12] h-michael commented on #942
[memo]
TraitObject already has been implemented by #972

[2019-01-15 02:54] kngwyu commented on #942
Thanks!
But I fear currently the situation is a bit complicated.
Impl trait is treated as TraitObject like you can see at [this line](https://github.com/racer-rust/racer/blob/19c3e49a390005f062131267a7afe6bba37ff582/src/racer/ast_types.rs#L133).
Yeah maybe we need refactoring around here, but I'm not sure we really need as `Ty` :thinking:
So please feel free to try another issue if you feel this i

[2019-01-15 03:00] h-michael commented on #942
@kngwyu
Thanks for your quick advise even though you are very very busy now!
I see. I try another issue if I feel this is not worth trying.

[2019-01-19 01:49] cuteboi commented on #868
Still occurring, trying to install the rust-tools on vscode:

[code]

[2019-01-20 14:08] jjpe opened #1013 "Jump-to-definition is broken in rust 2018 edition"
Whenever an item has been imported using a path starting with the `crate` keyword (e.g. `crate::whatever::TheType`) Racer doesn't seem able to jump to its definition.

Compared to Rust 2015 edition imports, this is a regression in functionality, and it of course affects downstream projects e.g. `rust-mode` for Emacs.

[2019-01-30 16:34] afcady commented on #868
There should be some version that works right?

    cargo install --version <???> racer

I just tried `--version 2.0.14` and all the dependencies compiled, but `racer` itself failed with

    error: `impl Trait` in return position is experimental (see issue #34511)

I'll keep bumping the version down and reply again here if I get a successful build.

[2019-01-30 16:46] afcady commented on #868
Works:

    cargo install --version 2.0.13 racer

[2019-01-31 18:12] marmistrz opened #1015 "Suggestions don't work in closures"
While closure are mentioned in #829, the issue seems to be completely out of sync with what racer supports. (manually annotated closures do work, so does struct member completion)

[code]
should suggest e.g. `is_digit`. If I manually annotate the type
[code]
but if I hover on the `x` in VS Code, RLS seems to somehow know that `x` is a `char`.

[2019-02-01 23:54] afcady commented on #868
I guess the readme should say `>= 2.0.14` instead

[2019-02-02 04:35] kngwyu commented on #868
@afcady
Could you please copy and paste the output of `rustc --version`?
I think `impl Trait` in return position is stable since 1.26.

[2019-02-02 05:49] afcady commented on #868
$ /usr/bin/rustc --version
    rustc 1.24.1

This is the `rustc` from Debian `stable`.

(One thing I've learned in my three days of rust experience is *not* to use the version in Debian stable.  Nothing works with it.  `cargo` pulls in incompatible dependencies for *everything*.  I'm using the nightly release channel now.)

[2019-02-06 02:17] MarkJr94 commented on #1013
@kngwyu doesn't work at all for me. anything imported with `crate::` has no information on hover, can't jump to def, doesn't show up in completions, etc.

[2019-02-18 15:01] p-kraszewski opened #1019 "racer v2.1.19 fails"
[code]

Rust:
[code]

Cargo:
[code]

[2019-02-20 06:31] p-kraszewski commented on #1019
Withdrawn. When I removed all nightly update blockers (including `rustfmt`) and let nightly update to `rustc 1.34.0-nightly (146aa60f3 2019-02-18)`, everything compiled.

So as for now, I don't have `clippy`, `rls` and `rustfmt` because reasons. That's **not** how you attract new developers.

[2019-02-20 06:31] #1019 closed

[2019-02-20 17:54] eatsfoobars opened #1020 "External crate completions don't work without extern crate declaration"
Steps to repoduce:

1. Create a new project: `cargo new temp`
2. Add a dependency, e.g. `rand = "0.6.5"`
3.  `cargo build`
4. Try to complete `use rand::` (I tested it with vim). It won't work.
5. Add `extern crate rand;` and try again. It will.

Versions:
[code]

[2019-02-21 15:28] kngwyu commented on #1020
Sorry I can't reproduce it now, but still investigating possible reasons...

[2019-02-22 01:19] nic-hartley opened #1023 "Installation fails with smallvec compilation failure"
I just now tried `cargo install racer` and got this error:

[code]

I've raised [an issue on smallvec](https://github.com/servo/rust-smallvec/issues/141) about the actual compile failure -- this issue is strictly about working around it for the time being, while smallvec fixes the underlying cause. Maybe pinning the imported version to 0.6.8, if that suffices and works?

[2019-02-22 01:25] kngwyu commented on #1023
Please try `cargo +nightly install racer`

[2019-02-22 02:24] nic-hartley commented on #1023
Install succeeds on nightly @kngwyu. I feel like requiring nightly is a workaround at best, though...

[2019-02-23 08:47] jbeich opened #1024 "2.1.19 and 2.1.18 tags are missing on GitHub unlike crates.io"
Downstream may use GitHub as the source of truth. Were those actually released?
[![Packaging status](https://repology.org/badge/vertical-allrepos/rust:racer.svg)](https://repology.org/project/rust:racer/versions)

[2019-02-23 09:06] kngwyu commented on #1024
Thanks, I just forgot to push a tag to github.

[2019-02-23 09:06] #1024 closed

[2019-02-23 09:08] kngwyu commented on #1023
It's because of rustc-ap-syntax needs nightly and I don't have enough time to migrate to stable parser, like syn.

[2019-02-23 09:08] #1023 closed

[2019-02-23 11:14] jbeich commented on #1024
Push v2.1.18, too. For posterity.

[2019-02-23 11:19] jbeich commented on #1024
v2.1.18 tag is still missing, so there's a gap between v2.1.17 and v2.1.19. It's not clear which commit 2.1.18 release on crates.io corresponds to.

[2019-02-23 13:03] kngwyu commented on #1024
Just pushed it now, thanks.
Looks I mistakenly pushed it to my origin... :roll_eyes:

[2019-02-24 09:24] zerok commented on #1020
Hi :)
I'm, sadly, also struggling with this. This is my setup:

[code]

Cargo.toml:
[code]

Cargo.lock
[code]

When I try to complete something from the stdlib, it works as expected:

[code]

But completing anything from either clap or hyper doesn't:

[code]
$ racer complete clap::
$ racer complete hyper::
[code]

[2019-02-28 20:25] ShaneKilkelly commented on #1020
Chiming in with a +1, `racer` doesn't complete external crates, with our without `extern crate x`

[2019-03-01 03:51] kngwyu commented on #1020
So if you encounter this issue, please use the following procedure and paste the output.
[code]

[2019-03-02 00:06] j0ni commented on #1013
I think I'm having the same problem, but I'm fairly new to rust and I've already confused myself horribly trying to understand the relationship between modules in separate files and subdirs, `lib.rs` and `main.rs`, and by the move to not using `extern crate` which is still referenced throughout the book. All this to say that my judgement may not be entirely well-informed.

Still, this lines up wit

[2019-03-02 12:44] ShaneKilkelly commented on #1020
[code]

[2019-03-02 16:24] kngwyu commented on #1020
@ShaneKilkelly
It looks racer works.
How about in your editor?
If it doesn't work, what the editor extension are you using for racer?

[2019-03-02 19:34] ShaneKilkelly commented on #1020
Yup, it sure does look that way :sweat_smile:

But when I use it from the editor, it doesn't work, on that example project.

Editor: Emacs 25, using the `racer` package, as part of spacemacs (https://github.com/syl20bnr/spacemacs/tree/master/layers/%2Blang/rust)

[2019-03-06 07:48] zerok commented on #1020
That example works for me, too 🙂 Did I perhaps just misunderstand where I can use racer? When I run the complete-command *inside* a project folder (where the Cargo.toml file is located) then I do not get any completion. When I go one folder up, it works:

[code]

Sorry for the confusion 😞

[2019-03-07 20:06] ShaneKilkelly commented on #1020
Just to follow up on my issue, it seems that vim-racer works fine on the same machine, so it's probably an issue with emacs-racer. I'll open an issue on that repo.

[2019-03-11 16:38] #478 closed

[2019-03-14 13:50] #857 closed

[2019-03-18 02:56] kngwyu opened #1028 "Completion for nested indices"
https://github.com/rust-lang/rls-vscode/issues/489 has a good screen shot.

[2019-03-20 05:59] helinwang opened #1029 "racer-find-definition does not work with `u32.cmp`"
Sorry this maybe something wrong with my usage, I am new to Rust.

racer-find-definition for `guess.cmp` does not work in the following program:
[code]

Is it working as expected?

[2019-04-02 03:07] rudolfschmidt opened #1030 "cargo +nightly install racer Error"
[code]

[code]

[2019-04-03 04:54] kngwyu commented on #1030
Looks your nightly compiler is too old.
Could you please run `rustup update` and install it again?

[2019-04-03 04:54] #1030 closed

[2019-04-09 09:23] marmistrz opened #1031 "Completions doesn't work when using raw identifiers"
For example:
[code]
then racer is unable to see any types there.

[2019-04-09 15:25] cake4289 opened #1032 "Bare impl on type alias is not recognised"
example.rs:

[code]

Run:
[code]

Output:
[code]

Expected output:
[code]

[2019-04-12 08:26] kngwyu commented on #1031
OMG, I didn't know this grammar :astonished:

[2019-04-12 18:30] marmistrz commented on #1031
@kngwyu it was introduced in Rust 2018

[2019-04-16 09:57] mdnttns opened #1033 "Racer does not autocomplete code from prelude"
Racer v2.1.21 does not autocomplete code if I don't specify the full path to the part in Rust prelude.

There is no output when I run this command in a terminal:
`racer complete Vec::`

But in this case racer returns autocompletion for Vec:
`racer complete std::vec::Vec`

[2019-04-17 02:58] ogiekako opened #1034 "Racer doesn't follow super super (regression)"
[code]

`~` indicates the cursor position. Racer doesn't find-definition the `iamhere`.
I confirmed it on v2.1.21, by adding a test case in tests/system.rs .

It's a regression. It works on v2.0.10.

[2019-04-17 05:47] #1034 closed

[2019-04-23 08:06] sbwtw commented on #513
@huangjj27 Should be using `/D` option to create a dir link (default is file link)
[code]

[2019-04-25 10:53] AndreySmirnov81 opened #1037 "Racer does not autocomplete code if struct and ipml are in separete modules"
Simple Cargo bin crate.
src/main.rs:
[code]
Racer v2.1.22
Run:
[code]
Output:
[code]
Why is there no match for `s.f1()` and `s.f3()` ?

[2019-04-26 05:12] YaaMe opened #1038 "cargo +nightly install racer Error(racer v2.1.22)"
**Info**

[code]
**Failed CMD**

[code]
**os info**
[code]

[2019-04-27 10:48] doublegrey commented on #1038
So it seems like deno and/or v8 uses debian sysroot during the build, which seems to have newer libraries, then in Centos 7, that's why build is passing, but deno won't run. I'll try to look at that further, but hope that workaround helps anyone.

It seems like you require **glibc 2.18** to build racer, but CentOS-7 includes glibc 2.17.
If you don't want to change your system I would recommend you

[2019-04-28 08:10] vhnatyk commented on #567
still same thing on a few toolchains including nightly-2019-04-26-i686-pc-windows-msvc, but also on stable

[2019-04-29 07:38] Leguu opened #1039 "Proposed Solution for Items Created From Macros"
Before beginning, I'd just like to say that racer is the best rust crate I've ever used.
I'm not exactly great at coding, so please tell me if anything I say is not possible.

A short example, where `ba~` would be autocompleted to `bar`.
[code]
One proposed solution was to expand the macro. In the past, concerns have been raised about expanding macros, saying that they may be performance-unfriendl

[2019-04-29 07:47] Leguu commented on #1039
Also in issues: https://github.com/racer-rust/racer/issues/337, https://github.com/racer-rust/racer/issues/491, https://github.com/racer-rust/racer/issues/389.

[2019-04-29 07:59] kngwyu commented on #1039
Thanks for your idea.

But then, how we should parse the macro?
It's difficult to treat as a normal Rust code snippet, since we use compiler's parser.

[2019-04-29 08:06] Leguu commented on #1039
It could be that instead of autocompleting from them directly, to just expand it once and reuse that expansion every time the macro is reused. If not that, then couldn't we extract the needed needed code (Like the struct) from inside the macro?

I didn't know it was based on the compiler's parser - I'll look at how that works too to get a better idea.

[2019-04-29 08:45] kngwyu commented on #1039
It can be very slow and... personally I'm against supporting macro expansion or so.
It's really difficult even for other newer tools like rust-analyzer or so and, our code base is too crafty to add such a complex feature.

[2019-04-29 08:49] Leguu commented on #1039
All right - you probably know the project better than me, so I'll be closing the issue now.
Thanks~

[2019-04-29 08:49] #1039 closed

[2019-04-30 08:38] t3mnikov opened #1040 "No completion for max_value, min_value on primitives"
Hi!
I found that there is no autocompletion to primitives. Does not work as in CLion tai in VSCode.

![image](https://user-images.githubusercontent.com/11781965/56949719-42891280-6b3c-11e9-89af-264db023b857.png)

[2019-05-04 15:34] mcbloch opened #1041 "Add spacemacs integration to readme"
http://spacemacs.org/layers/+lang/rust/README.html

[2019-05-07 00:29] YaaMe commented on #1038
Sorry for a long time....
I check my glibc version. It's **2.23**
[code]

And it successfully work on `Ubuntu`... next check?or should i give up CentOS-7...

[2019-05-10 06:58] GopherJ commented on #551
hello I'm encountering the same issue, is there a good reason for closing this issue?
[code]

vimrc
[code]

Racer can complete std but not any external crate like redis, geo etc

[2019-05-10 07:02] GopherJ commented on #1020
So now I'm also a member of this issue ~.

Same issue here, racer is unable to complete any external crate....

[2019-05-10 07:06] GopherJ commented on #551
@kngwyu

[2019-05-10 10:57] ShaneKilkelly commented on #1020
The issue came back for me on a new machine, and I ultimately solved it by switching to rls.

[2019-05-10 13:05] kngwyu commented on #1020
@GopherJ
Could you please execute the commands in [this comment](https://github.com/racer-rust/racer/issues/1020#issuecomment-468532871)?

[2019-05-13 00:15] YaaMe commented on #1038
ok, system problem.I close it.

[2019-05-13 00:15] #1038 closed

[2019-05-22 03:26] GopherJ commented on #1020
![Screenshot from 2019-05-22 11-25-48](https://user-images.githubusercontent.com/33961674/58145380-6dbad980-7c84-11e9-885c-02d3f0c4b493.png)

[2019-05-25 11:03] GopherJ opened #1043 "racer doesn't complete use crate_name::{"
racer --version
[code]

rustup --version
[code]
This is what I get when I type:
[code]
![Screenshot from 2019-05-25 19-02-24](https://user-images.githubusercontent.com/33961674/58368438-c22db580-7f1f-11e9-883e-b8546fad314a.png)

This is what I get when I type:
[code]

![Screenshot from 2019-05-25 19-02-39](https://user-images.githubusercontent.com/33961674/58368443-d4a7ef00-7f1f-11e9-9df2-4d162c01

[2019-05-25 12:52] eatsfoobars commented on #1020
It appears that I was using YCM all along, and the issue is actually with the backend they're using jwilm/racerd#78. `vim-racer` works fine (for me at least). I'm closing this issue, feel free to reopen it or open another one to report any other problems.

[2019-05-25 12:52] #1020 closed

[2019-05-29 20:47] mouse07410 opened #1044 "racer fails to build on MacOS"
Everything current-stable. MacOS 10.14.5.
[code]

[2019-05-30 09:40] kngwyu commented on #1043
Hmm interesting.

[2019-06-01 06:15] SpencerMacKinnon opened #1045 "Autocompletion of External Crate Fields and Members"
I have racer mainly working now but I can't get it to complete fields within a struct or members for that struct. When I try and complete structs from a crate ("cgmath::" then autocomplete) that seems to work. When I try and autocomplete a field or method (v2.) that doesn't seem to return anything. Are fields and methods supported? Thanks for helping look into this!

[code]
main.rs
[code]

cargo.t

[2019-06-19 07:50] augustocdias commented on #1045
I'm having a related issue with opencv bindings library.
I have autocomplete for the `prelude` and `error` modules but not the ones exported from the `hub` module as it is in their code here:
https://github.com/twistedfall/opencv-rust/blob/5dbbc565d3cc88c093f816bc225797261395fa29/src/lib.rs#L8

[2019-06-21 18:22] SephVelut opened #1050 "panic completing str."
[code]

`racer complete 42 23 main.rs`

[code]

[code]

[2019-07-04 13:35] xabufr opened #1052 "Completion not working with Rust 2018 `no more mod.rs`"
Racer isn't able to complete modules that looks like `my_module.rs`, `my_module/sub_mod.rs` (https://doc.rust-lang.org/nightly/edition-guide/rust-2018/module-system/path-clarity.html#no-more-modrs).
Changing to `my_module/mod.rs`, `my_module/sub_mod.rs` makes it work again.

[2019-07-04 13:43] kngwyu commented on #1052
Oops, I didn't know that :thinking:

[2019-07-08 01:05] keithn opened #1054 "When racer trys to install when using VSCode I get a compilation error"
Compiling smallvec v0.6.10
error[E0554]: #![feature] may not be used on the stable release channel

[2019-07-08 01:12] keithn commented on #1054
not sure if this has anything to do with intstructions for nightly, but they fail also

[13:08:45.847] C:\rust\therustbook\sandpit> [master +4 ~0 -0 !] rustup toolchain add nightly
info: syncing channel updates for 'nightly-x86_64-pc-windows-msvc'
info: latest update on 2019-07-08, rust version 1.38.0-nightly (6e310f2ab 2019-07-07)
info: downloading component 'rustc'
 40.3 MiB /  40.3 MiB (100 %)

[2019-07-09 15:05] apiraino opened #1055 "racer-find-definition async syntax support?"
I tried using racer on what I believe is a soon-to-be stable [async/await Rust code](https://github.com/rustasync/runtime/blob/master/examples/hello.rs):

![Screenshot from 2019-07-09 16-58-51](https://user-images.githubusercontent.com/6098822/60899508-e1339d00-a26a-11e9-8b9b-562f13b8ceca.png)

when the cursor is over `say_hi().await` I cannot jump to the function definition above:
[code]

If I tu

[2019-07-10 02:42] kngwyu commented on #1055
Yeah, it's not supported yet because of my negligence :cold_sweat:
Good catch, thanks.

[2019-07-10 05:55] velvetops opened #1056 "Racer doesn't autocomplete without `extern crate`"
I use racer in neovim but I can't get completion without writing `extern crate`. Is there any way to complete declaring this?

Here my Rust environment
[code]

Success:
<img width="519" alt="Screen Shot 2019-07-10 at 14 36 21" src="https://user-images.githubusercontent.com/39664774/60943579-5b265d80-a321-11e9-9070-90cea53ebf0c.png" title="Success">

Failure:
<img width="516" alt="Screen Shot 2019-

[2019-07-10 06:04] apiraino commented on #1055
No worries! Just needed confirmation that it's not a bug but a ... feature :-)

FWIW: thanks for all your work on racer :1st_place_medal:

[2019-07-10 06:14] velvetops commented on #1056
Sorry, my vim config was wrong

[2019-07-10 06:14] #1056 closed

[2019-07-10 06:16] kngwyu commented on #1056
Looks your racer is too old(current version is 2.1.23)

[2019-07-19 03:39] SephVelut opened #1057 "Panic: on function parameter"
[code]

`racer complete 32 8 src/main.rs` results in `ERROR 2019-07-19T03:36:40.729973000Z: racer: Search thread panicked: Any`. I tried to minify the example but any code that I remove now avoids the panic for some reason.

[2019-07-26 09:10] jiacai2050 opened #1058 "build from master failed"
cargo +nightly build --release

[code]
[code]

[2019-07-26 10:48] koka831 commented on #1058
same here. I tried to build from #9cf8f29, and faced the error above.

[code]

[code]

[2019-07-26 10:58] koka831 commented on #1058
according to this: https://docs.rs/crate/rustc-ap-arena/491.0.0/source/lib.rs ,
`self.storage` is `alloc::raw_vec::RawVec<T>`.
and from https://github.com/rust-lang/rust/blob/4268e7ee22935f086b856ef0063a9e22b49aeddb/src/liballoc/raw_vec.rs#L204
it might be renamed to `capacity()` from `cap()`.

[2019-07-28 12:49] kngwyu commented on #1058
@jiacai2050  @koka831
Thank you for reporting and sorry for the delay in response.
I'm going to fix it

[2019-07-28 12:50] mathewcohle commented on #1058
I've found following workaround:

1. clone repo
2. apply following patch:
[code]
3. build locally `cargo +nightly build --release`

As I'm new to rust I'm not confident enough to submit it as PR, but hopefully it will help in the meantime.

[2019-07-28 13:00] kngwyu commented on #1058
@mathewcohle
Thanks, looks `ExprKind::IfLet` has gone...

[2019-07-28 13:13] mathewcohle commented on #1058
@kngwyu indeed, see https://github.com/rust-lang/rust/pull/60861

[2019-07-28 13:32] kngwyu opened #1059 "Support decl-macro"
https://github.com/rust-lang/rust/issues/39412
Because of this now we cannot complete some builtin macros in `libcore/macros.rs`

[2019-07-29 02:52] davesque commented on #1058
After applying that patch (or trying the fix branch from the PR), I'm still getting build errors:
[code]

[2019-07-29 05:30] kngwyu commented on #1058
@davesque
Thanks, I reported it to [rustc repo](https://github.com/rust-lang/rust/pull/62805)

[2019-07-29 15:22] davesque commented on #1058
@kngwyu Thanks. Sorry if it didn't belong here. I'm *very* new to Rust.

[2019-07-30 07:49] vivikey commented on #1058
与楼主一样的问题。
四天了还没解决，进度有点慢啊。

error[E0599]: no method named `cap` found for type `alloc::raw_vec::RawVec<T>` in the current scope
   --> C:\Users\Administrator\.cargo\registry\src\github.com-1ecc6299db9ec823\rustc-ap-arena-491.0.0\lib.rs:102:47
    |
102 |                 self.start().add(self.storage.cap())
    |                                               ^^^ private field, not a method

error[E0

[2019-07-30 07:58] #1058 closed

[2019-08-02 09:06] danclive opened #1062 "build from master failed,it is recommended to upgrade the 'rustc-ap-rustc_macros' dependent version"
[code]
[code]

It compiles when I change the 'rustc-ap-rustc_macros' version to' 546.0.0 ':

[code]

[2019-08-02 12:44] Xanewok commented on #1062
With #1063 merged, I think we can close this.

[2019-08-02 15:17] #1062 closed

[2019-08-03 02:21] danclive commented on #1062
thanks

[2019-08-09 06:37] wreien opened #1064 "Does not find generic functions with interior impl blocks"
Version: `racer 2.1.25`

Minimal example:
[code]

Code completion at the tilde gives no results. As far as I can find, this only happens when the trait `Foo` has functions with a `self` parameter, when the function `new` has a generic type parameter, and when there's an `impl` block for the trait inside the function.

Output with tracing:
[code]

[2019-08-10 13:58] #1064 closed

[2019-08-12 16:17] xiaods opened #1066 "racer install failed based on $ rustc --version rustc 1.38.0-nightly (00ee1b47f 2019-08-11)"
it can't install .
[code]

[2019-08-15 06:08] mfiano commented on #1020
This is an issue for me now:
[code]

Only `std` can be completed. No external crates after `cargo build`, not even with `extern crate ...` declaration.

[2019-08-18 05:03] GopherJ commented on #1043
is there any news about this?

[2019-08-25 17:42] hvenev opened #1067 "src/racer/lib.rs marked as executable"
src/racer/lib.rs marked as executable but has a `#!` with a relative path. This confuses some tools and most notably makes Fedora's build system fail to build the rust package.

[2019-09-05 06:30] mindfocus commented on #264
+1

[2019-09-06 03:40] k4lm4rx opened #1069 "cargo +nightly install racer Error"
I am trying to install *racer*, but I keep getting this error.
I tried setting *nightly* as default, didn't work either.

# Info
<pre>$ rustup show
<b>Default host: </b>x86_64-unknown-linux-gnu

<b>installed toolchains</b>
<b>--------------------</b>

stable-x86_64-unknown-linux-gnu (default)
nightly-x86_64-unknown-linux-gnu

<b>active toolchain</b>
<b>----------------</b>

stable-x86_64-unknown-l

[2019-09-06 07:40] KurozeroPB opened #1070 "Failed to build"
Hey I ran the command, `cargo +nightly install racer` but it failed to build. Am I missing something, I'm still pretty new to rust.

I'm using `rustc 1.39.0-nightly (618768492 2019-09-05)`

[code]

[2019-09-06 14:27] #1069 closed

[2019-09-06 14:27] #1070 closed

[2019-09-07 02:33] nylo-andry commented on #1069
I am having exactly the same issue despite this issue being closed.

[2019-09-07 03:06] kngwyu commented on #1067
Resolved by #1068

[2019-09-07 03:06] #1067 closed

[2019-09-07 03:07] kngwyu commented on #1069
:thinking:
@nylo-andry
I cannot reproduce.
What's your compiler version?

[2019-09-07 03:51] nylo-andry commented on #1069
@kngwyu

Here are my outputs:
# Info
[code]

# Fail
[code]

[2019-09-07 05:04] kngwyu commented on #1069
Ah, I understand.
The fix is not published and you have to use `cargo install --git https://github.com/racer-rust/racer.git` to install the latest version.

[2019-09-07 12:45] nylo-andry commented on #1069
@kngwyu Right! Thank you that works!

[2019-09-24 07:37] kathampy commented on #981
is `racer complete <external crate` supposed to work in the terminal in the presence of `cargo.lock`, because it doesn't for me?

[2019-09-24 07:45] kathampy commented on #551
I still have this issue when running racer from the project folder with `cargo.lock`. It doesn't complete any external crates.

[2019-10-06 00:33] TsarFox opened #1074 "Build failure on nightly Rust"
Hi,

`cargo +nightly install racer` fails with the following:

[code]

This is on `rustc 1.40.0-nightly (2e7244807 2019-10-04)`, and the version of `rustc-ap-syntax` being brought in is `v583.0.0`.

[2019-10-06 01:04] TsarFox commented on #1074
My apologies, not this crate's fault.

[2019-10-06 01:22] xttjsn opened #1075 "racer v2.1.27 fails to compile with rustc v1.40.0-nightly (787005079 2019-10-04)"
I first installed nightly rust via:
[code]

Then I tried to build racer via:
[code]

[code]

Host:
```Linux fedora-30 5.1.18-300.fc30.x86_64 #1 SMP Mon Jul 15 15:42:34 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux```

[2019-10-06 01:32] xttjsn commented on #1075
Duplicate with #1074.

[2019-10-06 01:32] #1075 closed

[2019-10-06 01:35] xttjsn commented on #1074
Did you manage to resolve the problem?

[2019-10-06 10:04] TsarFox commented on #1074
Yes :]  As a temporary fix, you can apply #1076 and `cargo install`

[2019-10-06 12:18] #1074 closed

[2019-10-08 11:09] eidenar commented on #1044
Have the same issue on `nightly`. MacOs 10.14.6

[code]

[2019-10-09 02:29] porites76 opened #1077 "Unable to compile racer on both stable and nightly x86_64_pc_msvc builds"
Hello I am unable to successfully complete the compilation of racer. It gives the following error:

error[E0046]: not all trait items implemented, missing: `mixed_site`
   --> ~\registry\src\github.com-1ecc6299db9ec823\rustc-ap-syntax-583.0.0\ext\proc_macro_server.rs:657:1
    |
657 | impl server::Span for Rustc<'_> {
    | ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ missing `mixed_site` in implementation

[2019-10-09 03:32] kngwyu commented on #1066
Sorry, I'll release the new version soon.

[2019-10-09 03:32] kngwyu commented on #1077
Sorry, I'll release the new version soon.

[2019-10-09 11:27] zhangxu-ai commented on #1077
do you release the new version now?

[2019-10-09 23:19] havokca commented on #1077
Having the same issue while trying to get vs code installed and playing nice with rust.

[2019-10-10 05:11] worikgh commented on #1077
I have had same problem
2.1.27 compiles tho and passes all tests

[2019-10-10 19:07] easye commented on #1077
One can go back in time to get a nightly that works, right?  Anybody have a date for which that would work?

/me experiments

[2019-10-10 19:16] easye commented on #1077
After experimenting, I found that
[code]
will successfully install racer (at least on FreeBSD/macOS).

[2019-10-11 06:24] kngwyu commented on #1077
Released 2.1.28 now.

[2019-10-11 06:24] #1077 closed

[2019-10-11 06:24] kngwyu commented on #1066
Released 2.1.28 now.

[2019-10-11 06:24] #1066 closed

[2019-10-24 16:28] DavidBittner commented on #1057
Yeah, I've found this to happen quite often. Currently, it happens in nearly every function.

[2019-10-31 16:44] wojciechkepka opened #1079 "Racer won't compile"
Hi, i'm trying to install Racer through cargo. I've ran this command `cargo +nightly install racer`.

This is the error message:
[code]
`KERNEL VERSION:       5.3.7-arch1-2-ARCH`

[2019-10-31 16:59] wojciechkepka commented on #1079
I thought I had nightly installed...
running `rustup toolchain add nightly` fixed the problem.

[2019-10-31 16:59] #1079 closed

[2019-11-02 04:09] martinellison opened #1080 "Racer fails to buildRacer build fails"
I am running `cargo +nightly install --path . --all-features` against the current source (`99a830229c974d5f7ca227e3a66a60d5dba6423a`), and getting many compile errors.

Is there a previous version that builds and works? I don't need the latest version, just one that works. (Is there a way to find the stable version? Shouldn't it have a tag?)

I am getting

and lots of errors like

[2019-11-12 05:13] sonng commented on #1033
I’m on v2.1.28, and I have the same result.

Is this an issue or it’s working as intended?

[2019-11-13 17:21] 0xd4d commented on #165
Would be nice if this 5 year old issue got fixed since internal functions shouldn't be shown when referencing some other crate.

[2019-11-16 09:33] 0xd4d opened #1081 "`complete` command returns the wrong info if the file has CRLF line endings"
racer 2.1.28

The line/col info (see below) is one char too early if it has CRLF line endings.

Racer command:

[code]

main.rs:

[code]

CRLF line endings (wrong):

[code]

LF line endings (correct):

[code]

[2019-11-20 13:29] ensc opened #1082 "fails after `std::include!`"
racer fails to lookup symbols which are made available by `std::include!()`.

E.g.

#### `main.rs`

[code]
#### `common.inc-rs`

[code]

### `bar.rs`
[code]

Position "4 17" is the  `foo` in the function call.

racer 2.1.28; built with 1.41.0-nightly (5c5b8afd8 2019-11-16)

[2019-11-22 16:31] johalun commented on #1055
Hey! How are we looking on this? I jump a lot between async functions so this would really help :+1:

[2019-11-23 10:07] #1055 closed

[2019-11-24 07:35] WangPengJu commented on #513
still can't work
i try use
[code]
but still can't work

[2019-11-25 21:30] davesque opened #1084 "thread 'searcher' panicked at 'called `Option::unwrap()` on a `None` value'"
Trying to use racer with deoplete-rust.  Getting these option unwrapping panicks all over the place.  Here's one reliable way to duplicate at least one of them:

With racer v2.1.28:

1) Run racer on [this](https://github.com/rust-lang/rust/blob/91642e3ac0120c8e9cdd5f3c85ad03f3bf1b8b69/src/libsyntax/util/parser.rs#L1) file:
[code]

[2019-11-25 22:00] davesque commented on #1084
By the way, I just tried this with the latest racer built from source at c2255dc8f43575ad969db4b7645b7ee912dc5e78 and it's doing the same thing.

[2019-12-03 23:10] WooterTheTroubleshooter commented on #1020
@mfiano Try [this comment](https://github.com/racer-rust/racer/issues/1020#issuecomment-468532871).

If you get any errors. try [killing the cargo cache](https://github.com/rust-lang/cargo/issues/3712#issuecomment-280121257).

[2019-12-04 11:52] WooterTheTroubleshooter commented on #551
For people still having issues, [please checkout this comment.](https://github.com/racer-rust/racer/issues/1020#issuecomment-561398972)

[2019-12-04 17:53] jmegner commented on #1033
I believe I have the same issue using RLS v1.38.0 in VS Code.  In particular, [I had to add](https://www.reddit.com/r/rust/comments/e4w40p/whats_everyone_working_on_this_week_492019/f9hs3xq/?context=3) a "use std::core::Into;" to get into() to be suggested for an OsString object.

[2019-12-07 19:49] lovefengruoqing commented on #1044
I also encountered the problem, but it will be resolved when I install the nightly version.

[2019-12-19 10:17] #769 closed

[2020-01-01 16:54] vkurchatkin opened #1087 "No autocompletion for arguments of async functions"
I'm using `rls 1.40.0 (5db91c7 2019-10-30)` with vscode. I get not autocompletion for `s` in this code:

[code]

If I alias `s` with and explicit annotation, it works fine:

[code]

[2020-01-01 17:42] vkurchatkin commented on #1087
Works fine on nightly, so probably already fixed

[2020-01-01 17:42] #1087 closed

[2020-01-11 07:58] malthe commented on #1052
This seems to affect for example [futures_channel](https://docs.rs/futures-channel/0.3.1/futures_channel/) where Racer isn't able to find the "mpsc" and "oneshot" modules.

[2020-01-14 07:26] AllenYangvip commented on #868
cargo install racer
    Updating crates.io index
  Installing racer v2.1.29
   Compiling semver-parser v0.7.0
   Compiling autocfg v0.1.7
   Compiling libc v0.2.66
   Compiling cfg-if v0.1.10
   Compiling proc-macro2 v1.0.7
   Compiling unicode-xid v0.2.0
   Compiling lazy_static v1.4.0
   Compiling syn v1.0.13
   Compiling maybe-uninit v2.0.0
   Compiling scopeguard v1.0.0
   Compiling log v0.4.8

[2020-01-22 08:47] aloknnikhil commented on #699
This is still an issue. Was there a fix?

[2020-01-22 12:39] flyingfishfuse commented on #868
same here, using the two previous versions does not work... cargo cleans up after itself right? I'm not going to have to remove and reinstall everything by running these commands to install different versions am I?

[2020-01-23 03:03] kngwyu commented on #868
[code]
would work but I recommend RLS for vscode.

[2020-01-30 18:49] matu3ba opened #1089 "Explain how to change omnifunc key bindings in README"
[Here](https://vi.stackexchange.com/questions/12394/change-keybinding-for-up-down-when-in-vim-popup) it is explained to change keybinding for autocompletion.
Is it okay to add to the README ? The default key bindings are inconvenient for fast  typing.

`inoremap <expr> <C-j> pumvisible() ? "\<C-n>" : "\<C-j>"`
`inoremap <expr> <C-k> pumvisible() ? "\<C-p>" : "\<C-k>"`

[2020-01-30 18:50] matu3ba commented on #1089
A wrapper function could also provide them in the library.

[2020-01-30 19:07] matu3ba commented on #1089
One might want to remap the omnifunc call as well with
inoremap <expr> <C-l><C-l> pumvisible() ? "\<C-l><C-l>" : "\<C-x><C-o>"`

[2020-01-31 01:48] kngwyu commented on #1089
Please file an issue at https://github.com/racer-rust/vim-racer

[2020-01-31 01:48] #1089 closed

[2020-02-12 21:05] nvimm opened #1093 "Racer installation fails on current nightly build (rustc-ap-rustc_data_structures v642.0.0 failure)"
running the command `cargo install racer`
default toolchain: `nightly-x86_64-unknown-linux-gnu`
rustc version: `rustc 1.43.0-nightly (58b834344 2020-02-05)`
cargo version: `cargo 1.42.0-nightly (9d32b7b01 2020-01-26)`
rustup version: `rustup 1.21.1 (7832b2ebe 2019-12-20)`
OS: `Linux ... 4.15.0-1058-aws #60-Ubuntu SMP Wed Jan 15 22:35:20 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux` (Ubuntu 18.04 on AWS

[2020-02-13 02:51] lebensterben commented on #1093
@nvimm
This looks like a problem caused in `librustc_data_structures/box_region.rs` in `rust`.
I made a pull request to https://github.com/rust-lang/rust/pull/69119

[2020-02-13 03:42] kngwyu commented on #1093
Now nightly >= 2020-02-10 is required.

[2020-02-13 03:42] #1093 closed

[2020-02-13 13:57] guskovd opened #1094 "Autocompletion and find-definition does not work for trait methods"
in main: dog.spea~

lib.rs
[code]
main.rs
[code]

[2020-02-13 13:57] guskovd commented on #1094
racer log:
[code]

[2020-02-27 18:38] nvimm commented on #1093
:+1: Thanks!

[2020-03-21 12:21] trayanr opened #1095 "Can't get autocompletion with cargo"
Racer doesn't show lool up definitions in $CARGO_HOME
[code]
Cargo toml:
[code]
I ran cargo run to generate the .lock file.
Now if I run `RUST_BACKTRACE=1 RUST_LOG=racer=trace racer complete std`
[code]
But running `RUST_BACKTRACE=1 RUST_LOG=racer=trace racer complete gtk` results in:
[code]
It would seem that racer doesn't look in the cargo directory, so it doesn't find the definitions. Can I man

[2020-03-23 05:09] fackman opened #1096 "Racer installation fails on current nightly build (rustc-ap-rustc_data_structures v642.0.0 failure)"
running the command: cargo +nightly install racer
default toolchain: nightly-x86_64-pc-windows-gnu
rustc version: rustc 1.44.0-nightly (d1e81ef23 2020-03-22)
cargo version: cargo 1.44.0-nightly (7019b3ed3 2020-03-17)
rustup version: rustup 1.21.1 (7832b2ebe 2019-12-20)

![Snipaste_2020-03-23_13-09-30](https://user-images.githubusercontent.com/41724374/77283529-8b732800-6d07-11ea-8508-c345422853eb.

[2020-03-25 09:25] jramapuram commented on #1096
Same error on osx:
[code]

[2020-03-26 14:55] kngwyu commented on #1096
Thanks, this should be fixed by #1097

[2020-03-26 15:36] #1096 closed

[2020-03-27 09:33] alexanderjamesking commented on #1096
Hi @kngwyu, I tried again on OS X and I'm still getting the same issue:

[code]

[2020-03-27 09:35] jramapuram commented on #1096
@alexanderjamesking : this is fixed by building with nightly as stated in the `README.md`: `cargo +nightly build --release`

[2020-03-27 09:43] alexanderjamesking commented on #1096
I'm still getting an issue trying to build the latest master, perhaps a separate issue:

[code]

[2020-03-28 05:39] kngwyu commented on #1096
@alexanderjamesking
It looks the problem of a compiler version.
Please try `rustup toolchain add nightly-2020-03-26 --force` and `cargo +nightly-2020-03-26` or wait for the upstream update.

[2020-03-29 10:14] alexanderjamesking commented on #1096
That worked, thank you! I'm fairly new to all of this, but racer is working in emacs now 🎉

[2020-03-29 17:26] hasan-hasanov opened #1098 "cargo +nightly install racer returns error"
Lately I have been reading a lot about Rust language and today finally I've decided to give it a try.
Unfortunately when I run:

```cargo +nightly install racer```

I get the following error:

[code]

I have alredy ran ```rustup toolchain add nightly```

Is there something I am missing?
Any help would be greatly appreciated.

[2020-03-30 15:37] pmk21 commented on #1098
Came across this error too. Seems to be a bug in the `rustc-ap-rustc_data_structures` crate. In the version `642.0.0`.

Did some research and found that a `.get()` seems to be missing in the statement `std::thread::current().id().as_u64()` which throws up the error.

Seems to have been fixed in version `649.0.0` of the crate.

[2020-03-30 20:14] hasan-hasanov commented on #1098
Yes. It seems to be working now.

[2020-03-30 20:15] #1098 closed

[2020-03-31 14:38] fhefh2015 opened #1101 "cargo +nightly install racer returns error | rustc-ap-rustc_data_structures v651.0.0 errors"
Lately I have been reading a lot about Rust language and today finally I've decided to give it a try.
Unfortunately when I run:

cargo +nightly install racer

I get the following error:
[code]
I have alredy ran rustup toolchain add nightly

Is there something I am missing?
Any help would be greatly appreciated.

[2020-03-31 14:40] kngwyu commented on #1101
Please try `rustup toolchain add nightly-2020-03-30 --force` and `cargo +nightly-2020-03-30` or wait for the upstream update.

[2020-04-02 13:48] znewman01 commented on #1101
Thanks! I'm running into the same issue and don't want to update to `2020-03-30` because RLS isn't available and I don't use rustup on this machine for multiple installations; the following worked with `2020-03-19` (the last RLS nightly):

[code]

[2020-04-02 14:58] #1101 closed

[2020-04-02 22:42] guigui64 opened #1102 "failed to compile `racer v2.1.32`"
Here is the error I get running cargo +nightly install racer --verbose using the following toolchain:

`rustc 1.44.0-nightly (f509b26a7 2020-03-18)`

[code]

[2020-04-03 09:37] kngwyu commented on #1102
Please see #1101

[2020-04-03 09:37] #1102 closed

[2020-04-04 00:42] carmel4a commented on #191
Hi, is anyone working on this, because I don't want to duplicate effort.

[2020-04-05 19:52] ArtemGr commented on #711
Getting a similar error with a code using
[code]

such as

[code]

[code]

[2020-04-05 22:17] crides commented on #1096
On Arch, using the Mar 26 nightly compiler, still failing with "no feature `negative_impl`".

Full build log:

[code]

[2020-04-13 07:24] ajohnston1219 opened #1103 "Build Failing with Cargo Nightly"
I am getting the following error when running `cargo +nightly install racer`:

[code]

Here is my current setup:

OS:
[code]

Rust:
[code]

[2020-04-15 13:33] JerryCh-Makit opened #1106 "completion error: os error 1114"
when i try to compile racer by ```cargo +nightly install -v racer``` , it return that there is something wrong with the DLL.
i found there are some people have the same problen when they use some applications.
they fix it by setting the external video card. but there are't external video card on this computer and i don't thing it can fix the peoblen in rust.
version: rustc 1.44.0-nightly (94d34636

[2020-04-19 06:43] #1052 closed

[2020-04-19 13:55] rbartlensky commented on #1043
This seems to be working for me just fine. I compiled racer from source (commit 218682d3b8c79ede8fa1551182f7cacb30d35368)

[2020-04-19 14:09] #1043 closed

[2020-04-19 14:09] kngwyu commented on #1043
OK, thanks

[2020-04-22 00:13] JerryCh-Makit commented on #1106
it seems a problem between the rustc and mingw

[2020-04-22 00:13] #1106 closed

[2020-05-03 10:24] guskovd commented on #1094
another examples:
good:
[code]
bad:
[code]

[2020-05-08 06:49] leanme commented on #1020
[code]

[2020-05-19 00:54] nitsuga5124 opened #1109 "Fails to compile as a library due to rustc-ap-rustc_span-654.0.0"
https://pastebin.com/cGhjmdHx
"error[E0407]: method `replace_one` is not a member of trait `std::iter::Step`"

[2020-05-21 12:53] Xanewok commented on #1109
Should be fixed with https://github.com/racer-rust/racer/pull/1110

[2020-05-21 12:54] Xanewok commented on #1103
Nightly build should be fixed with https://github.com/racer-rust/racer/pull/1110

[2020-05-21 20:45] nitsuga5124 commented on #1109
Updating nightly and using the latest release with the patch #1110 fixed this issue.

[2020-05-21 20:45] #1109 closed

[2020-05-23 01:33] thiskevinwang commented on #1041
+1: this would be super nice.

I'm brand new to emacs and spacemacs, and currently am banging my head trying to get auto-completion to work with Rust.

Haven't been able to get racer working so far. :(

[2020-05-23 02:55] vaer-k commented on #421
Rather than manually downloading and placing the source, you can use `rustup component add rust-src` as documented here https://github.com/racer-rust/racer

[2020-05-23 13:55] nautilor commented on #1103
how about the rustc 1.45.0-nightly?
tried with
`cargo +nightly install racer`
and
`cargo +nightly install --version 2.1.34 racer`

but i get this:
`error[E0199]: implementing the trait `std::iter::Step` is not unsafe`

[2020-05-24 04:02] Dicridon commented on #1103
@nautilor same issue, 'std::iter::Step' is not unsafe error. I read in another issue that users may try `cargo install --git https://github.com/racer-rust/racer.git`, but I got 'multiple packages with binaries found: racer, test-crate3'

[2020-05-24 08:58] nautilor commented on #1103
It's because you need to specify what to install

try

`cargo install --git https://github.com/racer-rust/racer.git racer`

I already tried but no luck

[2020-05-25 07:42] Dicridon commented on #1103
Thanks for your reply, I tries your command too, and no luck either. It said the version of crate `humantime` didn't match. `humantime = ^2.0.0`  required, but only `1.3.0, 1.2.0, 1.1.1` were found.

[2020-05-25 07:43] Dicridon commented on #1103
Thanks for your reply, I tried your command and no luck either.
`humantime ^= 2.0.0` is required, but only `1.3.0, 1.2.0, 1.1.1` are found.

[2020-05-26 03:14] hodlwave commented on #1103
@nautilor same issue for me too.

[2020-05-26 06:53] LevenSton commented on #1103
same issue, 'std::iter::Step' is not unsafe error....

[2020-05-26 18:41] g-w1 commented on #1103
same issue

[2020-05-27 03:16] jrmiller82 commented on #1103
`not a member of trait `std::iter::Step``

[2020-05-27 04:19] jrmiller82 opened #1113 "Builds Failing; Can someone point me to a Racer version + nightly version that builds?"

[2020-05-27 06:01] grgi commented on #1103
Previous version 2.1.33 builds with recent nightly.

[2020-05-27 07:32] rjpower4 commented on #1113
To add specifics, I'm not sure if this is the same error that @jrmiller82 is getting, but my build is failing with the following:

[code]

[2020-05-27 09:11] kngwyu commented on #1103
I'm sorry for my absence in the thread, but what rust version fails?
I confirmed that we can compile 2.1.34 by `nightly-2020-05-20`.

[2020-05-27 09:26] LevenSton commented on #1103
rustc --version
rustc 1.45.0-nightly (a74d1862d 2020-05-14)

rustup --version
rustup 1.21.1 (7832b2ebe 2019-12-20)

cargo _nightly --version
cargo 1.45.0-nightly (cb06cb269 2020-05-08)

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Yuji Kanagawa"<notifications@github.com&gt;;
发送时间:&nbsp;2020年5月27日(星期三) 下午5:12
收件人:&nbsp;"racer-rust/racer"<racer@noreply.github.com&gt;;
抄送:&nbsp;"慢节

[2020-05-27 15:14] zaxguo commented on #1113
2.1.33 works for rustc-nightly 1.45.0 (2020-05-14)
simply run: cargo +nightly install --version 2.1.33 racer

[2020-05-28 16:36] marmistrz commented on #1113
Since nightly has been required for racer for a long time and may break, maybe it would be a good idea to provide pre-built binaries, just like https://github.com/mozilla/sccache does? This would also make it easier for users running rust without rustup (e.g. through their distro) to install a recent version of racer.

[2020-06-09 20:54] Arthaclarius opened #1114 "racer does not provide complete suggestions for trait and imp"
Taking the `std::fs::File` example I write

[code]

If I go to `let mut f = File::open("story.txt").u`

[code]

If you check the code I can use `unwrap_or_else` but is not in the complete suggestions.

If I go to `match f.w`

[code]
But I was expecting `write`, `write_vectored`, `write_all`, and even more.

Maybe I'm wrong but It should be working.

[2020-06-17 01:33] jsoo1 commented on #1113
If nightlies are supported, can the working nightly version be specified? It would really help packaging efforts on nix and guix.

[2020-06-19 05:20] jsoo1 opened #1116 "[question] Why require nightly?"
Hello and thanks for racer!

I am looking to manage my rust tooling through guix and nix instead of via rustup. Guix in particular does not have a nightly toolchain. Is there a reason nightly is required to build from source?  Thanks a lot!

[2020-06-27 13:55] jsoo1 commented on #1116
Hmm, thinking about it now and after learning more, is nightly required because rustc itself requires nightly?

[2020-06-28 05:39] kngwyu commented on #1116
Yeah, it's because of `rustc-ap-syntax`

[2020-06-28 05:39] #1116 closed

[2020-07-01 16:43] andremarcais opened #1117 "Does not complete anything in std::os::unix."
I am not getting auto completions for anything in `std::os::unix`. `racer complete std::os:: | grep unix` has no output. Everything else in `std::os` seems to have correct auto completion.

I have not found anything on the web regarding this.

I am using racer 2.1.31 from the arch linux packages.

[2020-07-17 16:35] fitzgen opened #1119 "Attach binary executables to releases?"
Sometimes building racer breaks because of nightly stuff (e.g. nightly-2020-07-16 doesn't build racer 2.1.35). It would be cool if the latest tagged releases had prebuilt binary executables for linux/macos/windows attached.

For example, `cargo-wasi` automatically builds and publishes binaries in github actions, which might be helpful to borrow from:

* https://github.com/bytecodealliance/cargo-wa

[2020-07-19 12:46] gasabr opened #1120 "could not compile `rustc-ap-rustc_ast` when installing last version"
I'm trying to install racer both from cargo and from sources and receive error:
[code]

env:
I'm on ubuntu 18.04 under wsl
[code]

I've tried to change toolchain, install 2.0.13, 2.0.14 neither of that worked:(

[2020-07-19 13:02] emuhr commented on #1120
I can confirm the same issue on arch using the latest rustup from the official arch repository (1.22.1-1).
`$ rustup toolchain list
stable-x86_64-unknown-linux-gnu (default)
nightly-x86_64-unknown-linux-gnu`

[2020-07-20 15:24] chenyanming commented on #1120
Same issue in windows.
[code]

[2020-07-21 00:10] arjansingh commented on #1120
Same issue in OSX. Similar messages to what everyone has above.

[2020-07-21 06:24] vyorkin opened #1121 "Installation of racer fails on fresh macOS install"
Steps to reproduce

1. Install macOS
2.

[code]

error

[code]

[2020-07-21 13:03] svenstaro commented on #1121
Your rust nightly is too old. Try: `rustup default nightly-2020-07-21`

[2020-07-21 13:09] svenstaro commented on #1121
Fixed by #1122. Check it out.

[2020-07-21 15:32] p870613 commented on #1120
Same issue in Ubuntu20.04.
error: `std::intrinsics::transmute` is not yet stable as a const fn
   --> /home/lin/.cargo/registry/src/github.com-1ecc6299db9ec823/rustc-ap-rustc_ast-669.0.0/ptr.rs:136:17
    |
136 |                 std::mem::transmute(NonNull::<[T; 0]>::dangling() as NonNull<[T]>)
    |                 ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
    |
    = hel

[2020-07-21 15:56] vyorkin commented on #1121
Thank you! My suggestion is to update the README.md to mention the `nightly-2020-07-21`, because right now it says that it is enough to just `rustup toolchain add nightly` and `cargo +nightly install racer`

[2020-07-21 15:56] #1121 closed

[2020-07-21 22:56] thezealousfool commented on #1120
As the error message says, it is a problem with rustc_ast. I tried upgrading the version of rustc_ast racer depends on, but that did not help either.

The following changes worked for me:
rustc_ast (v669.0.0, default for racer right now):
Change `~/.cargo/registry/src/github.com-1ecc6299db9ec823/rustc-ap-rustc_ast-669.0.0/lib.rs` line 13
from `#![cfg_attr(not(bootstrap), feature(const_fn_transmute

[2020-07-22 04:32] kngwyu commented on #1119
Thanks!
I think it's definitely a good idea since we have many 'cannot complie' issues and I don't have enough time and energy to deal with them, though it's embarrassing.

[2020-08-13 10:55] jingyuexing commented on #1069
Updating crates.io index
  Downloaded racer v2.1.37
  Downloaded 1 crate (186.4 KB) in 5.38s
  Installing racer v2.1.37
  Downloaded annotate-snippets v0.8.0
  Downloaded block-buffer v0.7.3
  Downloaded derive_more v0.99.9
  Downloaded fake-simd v0.1.2
  Downloaded jobserver v0.1.21
  Downloaded memmap v0.7.0
  Downloaded parking_lot_core v0.7.2
  Downloaded rustc-ap-rustc_ast_pretty v671.0.0
  D

[2020-08-13 11:01] jingyuexing commented on #1069
<summary>
    <details>
[code]
    </details>
</summary>

[2020-08-15 08:05] ThoenigAdrian commented on #1069
@kngwyu I think this command you posted might now be out of date
[code]

as this fails with:

[code]

I could get rid of this error by using, this command instead:

[code]
note the additional racer at the end.

But even after adjusting for this, i get the same installation error as @jingyuexing .
I think this error message makes no sense as I am explictily using the nigthly version . Which can be

[2020-08-15 08:55] adaschevici opened #1125 "Path is not automatically detected on OSX"
Hi,

I've updated OSX to the last supplemental update and completion seems to have stopped working.
the `rust-src` component path seems to no longer be detected accurately.
Setting it manually seems to not work very well as it can't find `libstd`

it seems this path no longer exists:
`export RUST_SRC_PATH="$(rustc --print sysroot)/lib/rustlib/src/rust/src"`

Versions:
rustc 1.47.0-nightly (8e21bd0

[2020-08-16 21:53] Jaden-Giordano opened #1126 "rust-src no longer has src directory in nightly"
It seems like the rust-src component no longer has the `src` directory, I cant seem to find the last date it was there, but 2020-08-10 doesnt have it.

<img width="637" alt="Screen Shot 2020-08-16 at 2 51 21 PM" src="https://user-images.githubusercontent.com/5057468/90344605-02b79a00-dfd0-11ea-9236-476eb476e782.png">

[2020-08-16 21:54] Jaden-Giordano commented on #1126
Didnt see this was a duplicate of #1125

[2020-08-17 03:41] Jaden-Giordano commented on #1125
It seems like on 2020-07-29 the `src` directory was removed and the `library` directory was introduced. [2020-07-28](https://static.rust-lang.org/dist/2020-07-28/rust-src-nightly.tar.xz) build has the `src` directory, and [2020-07-29](https://static.rust-lang.org/dist/2020-07-29/rust-src-nightly.tar.xz) has the `library` directory.

[2020-08-17 13:42] orhun commented on #567
Same issue persists with `rustc 1.46.0-nightly (ff5b446d2 2020-06-23)` with VSCodium version `1.47.3 x64`

[2020-08-24 09:28] mapkts commented on #1125
I work around this by making `RUST_SRC_PATH` points to a stable release which do contains a `src` folder (something like .rustup\toolchains\stable-x86_64-pc-windows-msvc\lib\rustlib\src\rust\src).

[2020-08-25 07:51] adaschevici commented on #1125
@Jaden-Giordano as per @mapkts suggestion i did a manual install of the but libstd seems to be missing in the clone of the rustc repo  as described in the manual install section of racer, so still seems like something is missing

[2020-08-27 20:47] mabushey opened #1127 "Does not install on Ubuntu"
I have Rust installed the correct way via the OS:
[code]

The docs infer I need to run rustc. I would be happy to that in a docker container, but I'm not trashing my OS... Is there any way to install this the Debian [correct] way on Ubuntu? I'm happy to copy the plugin into `~/.vim_runtime/my_plugins` If I can figure out how to compile it.

[2020-08-27 20:54] mabushey commented on #1113
I would love a binary OR a docker container that can do whatever it wants such as `rustc` inside the container. It seems like the rust community hates Linux. I'm not running running Windows, I have a package manager.

[2020-08-27 23:17] mabushey commented on #1127
Some progress: I realized that while -V worked, lookups did not:
[code]

I was able to fix this via: `apt-get install rust-src` (Please add this to the docs, I had no clue this was a dependency)

[code]

Still doesn't work in vim. :(

[2020-08-28 21:56] danieldjewell commented on #1127
I'm 99% sure that this is because of:

https://github.com/racer-rust/racer/blob/a4bcf46c7a908eb53eeb69ec421c5ee44e879902/README.md#L16

And installing rust via apt/apt-get/dpkg doesn't get you nightly.

As long as you're on one of the most common Architecture/OS combos (Linux / x86_64, for example), https://rustup.rs will happily install nightly. Read the book here: https://rust-lang.github.io/rus

[2020-09-01 08:09] jonas-hagen commented on #1125
Also, the `libstd` directory seems to be missing in nightly. This directory is used to validate the src path:
https://github.com/racer-rust/racer/blob/a4bcf46c7a908eb53eeb69ec421c5ee44e879902/src/racer/util.rs#L535

So, I get the following error:

[code]

I did not find any resources on the renaming of these directories, maybe there are even more changes. Anybody else knows something about this?

[2020-09-03 01:24] ravarspath opened #1128 "racer runs fine in terminal, crashes when run from emacs"
I installed racer via cargo `+nightly install racer` and when I run  `RUST_BACKTRACE=full CARGO_HOME=/home/ryan/.cargo RUST_SRC_PATH=/home/ryan/Desktop/source/rust/src/ ~/.cargo/bin/racer find-definition 12 9 /home/ryan/Desktop/code/metamorpher/src/main.rs ` in the terminal

I get
[code]
and when run from emacs (via eshell).

[code]

I am running manjaro 20.1 i3.

[2020-09-03 01:33] #1128 closed

[2020-09-03 01:33] ravarspath commented on #1128
Just had to restart emacs

[2020-09-12 07:30] peterwillcn commented on #1084
any news?

[2020-09-16 16:21] Leorii opened #1131 "Panic on std module completion"
Panic occurs when typing a std module name.

## Example
[code]
'thread \'searcher\' panicked at \'Failed load file "$HOME/.rustup/toolchains/stable-x86_64-unknown-linux-gnu/lib/rustlib/src/rust/src/std/src/primitive_docs.rs": Os { code: 2, kind: NotFound, message:
 "No such file or directory" }\', $HOME/.cargo/registry/src/github.com-1ecc6299db9ec823/racer-2.1.38/src/racer/core.rs:816:14\nnote: ru

[2020-09-16 16:42] Leorii commented on #1131
I think I found the source of the bug: https://github.com/racer-rust/racer/pull/1130/files#r489576403

I'm happy to submit a PR for this if anyone would like to tell me if I'm headed in the right direction here.

[2020-09-16 16:58] Leorii commented on #1131
I have a temporary fix on my system that I believe also confirms that this is the issue. I have symlinked the `$RUST_SRC_PATH/libstd` directory to `$RUST_SRC_PATH/std/src`, and that seems to work fine for now. But I would still be happy to submit a PR if this is a valid issue/concern.

If anyone else wants the temporary fix, do this:
[code]

[2020-09-17 13:27] kngwyu commented on #1131
Thanks, I think you're in the right direction as [I commented](https://github.com/racer-rust/racer/pull/1130#issuecomment-687000393).

Since recently I don't have enough time to maintain this project sufficiently,  PR is very welcome.

I think the PR might not be very complicated: we just have to add older locations looking #1130.

[2020-09-20 05:53] PeterDing commented on #1117
see #1126 #1125

Set the `RUST_SRC_PATH` to `$(rustc --print sysroot)/lib/rustlib/src/rust/library`, then reload env variables.

[2020-10-06 13:56] thor314 opened #1133 "New install of racer failing, suspected RUST_SRC_PATH problem"
New install of racer, failing to work as intended. Is this an `export RUST_SRC_PATH=blah` in .zshrc type fix?
after on command line:
`racer complete std::io::B`

 `racer-debug` returns:
[code]

[2020-10-08 06:57] chama-chomo commented on #1133
same here

racer 2.1.39
rustup 1.22.1
nightly-x86_64-unknown-linux-gnu - Up to date : 1.49.0-nightly (91a79fb29 2020-10-07)
Manjaro Linux

[2020-10-08 07:02] chama-chomo commented on #1133
@thor314 can you try this? see #1117

`export RUST_SRC_PATH="$(rustc --print sysroot)/lib/rustlib/src/rust/library"`

[2020-10-08 08:52] thor314 commented on #1133
@chama-chomo that appears to work. Much obliged.

[2020-10-08 08:52] #1133 closed

[2020-10-08 11:33] thor314 opened #1134 "unwrap on None in metadata.rs on calling find def"
I can reproduce this error for any find-definition.
debug:
[code]

[2020-10-08 18:29] sigmaSd commented on #1125
Looks like the new layout is already handled https://github.com/racer-rust/racer/blob/bc478759f9f7f6dacd9ec26e7905dc8724740797/src/racer/nameres.rs#L824
so maybe it just a matter of removing that assert.

[2020-10-08 19:41] sigmaSd commented on #1125
So its actually fixed in master https://github.com/racer-rust/racer/commit/e669f6b86c8df77eaa64cf00c0d14e30a9458c9e

[2020-10-15 16:47] xuyizhe commented on #1125
Fixed some related issues in 3bcf543f3d0237e5fa545c56b2d51f91207ee500 and https://github.com/racer-rust/emacs-racer/issues/144

[2020-10-19 00:19] kfrncs opened #1137 ""Unable to find libstd under RUST_SRC_PATH""
When I run `racer complete std::io::B`, I get this:

[code]

[2020-10-20 17:45] jsoverson commented on #1137
On my setup anyway, `rustup component add rust-src` puts the source in `"$(rustc --print sysroot)/lib/rustlib/src/rust/library"`. There is no `src` directory, but racer works when pointed to that library dir.

[code]

 YMMV

[2020-10-22 20:37] Leorii commented on #1131
Whoops, forgot about this. I'd be happy to submit a PR for it :D

[2020-10-27 06:44] PlumpHip opened #1139 "Unable to find libstd under RUST_SRC_PATH."
% racer complete std::io::B
Unable to find libstd under RUST_SRC_PATH. N.B. RUST_SRC_PATH variable needs to point to the src directory inside a rust checkout e.g. "/home/foouser/src/rust/src". Current value ""/nix/store/fjghknnd4x9zpgx6hxznaiw6c7y0jr2s-rust-1.47.0-2020-10-07-18bf6b4f0/lib/rustlib/src/rust/library/libstd""

I use nix Mozilla-rust-overlay stable

  nixpkgs.latest.rustChannels.stable

[2020-10-29 13:44] SFzxc opened #1141 "Build Failing with Cargo Nightly"
I am getting the following error when running `cargo +nightly install racer`:

[code]

MacOs:

[code]

Thanks

[2020-10-30 02:06] w01fb0ss commented on #1141
me too

[2020-10-30 10:49] math715 commented on #1141
me too
opensuse 15.2
rustup 1.22.1 (b01adbbc3 2020-07-08)
rustc 1.49.0-nightly (ffa2e7ae8 2020-10-24)
cargo 1.49.0-nightly (dd83ae55c 2020-10-20)

[2020-11-01 04:47] yiyoascen commented on #1141
me too, on popOs 20

[2020-11-01 13:41] nlopes commented on #1141
If you do `rustup update --force` (this may mean you don't get all the components you have already installed) you should get a more up-to-date `nightly` (say `2020-10-31`).

That one should build `racer` just fine.

This problem seems to be due to `rust-ap-rustc_data_structures` having been released on a newer rust src than what you have available in your `rustup`/

[2020-11-01 14:22] SFzxc commented on #1141
Thanks, @nlopes. I just checked, the temporary solution works fine!

[2020-11-01 21:54] x10an14 commented on #1141
Can confirm that [@nlopes' suggestion](https://github.com/racer-rust/racer/issues/1141#issuecomment-720090525) works for me too! Thanks! =D

[2020-11-03 16:19] yiyoascen commented on #1141
Yes ty for @nlopes suggestion! Rust really has a friendly community

[2020-11-04 10:03] PlumpMath commented on #1139
I solve latest racer version.
THANKS :))

[2020-11-04 14:17] voland62 commented on #1141
@nlopes advise works.

[2020-11-06 04:11] Neping opened #1142 "cargo install racer error"
rust version: rustc 1.49.0-nightly (ffa2e7ae8 2020-10-24)

error:
error[E0107]: wrong number of type arguments: expected 2, found 1
   --> /Users/bruse/.cargo/registry/src/github.com-1ecc6299db9ec823/rustc-ap-rustc_data_structures-686.0.0/src/graph/iterate/mod.rs:256:10
    |
256 |     ) -> ControlFlow<Self::BreakVal> {
    |          ^^^^^^^^^^^^^^^^^^^^^^^^^^^ expected 2 type arguments

error[E0

[2020-11-06 04:23] #1142 closed

[2020-11-06 13:21] Aganthor commented on #1141
I can confirm that the solution works.

[2020-11-07 19:14] minidonut commented on #1141
same here

[2020-11-28 14:34] Polensky commented on #1141
I have tried [@nlopes' suggestion](https://github.com/racer-rust/racer/issues/1141#issuecomment-720090525) but i still get errors when building racer.

[code]
Error when running `cargo +nightly install racer`:
[code]

[2020-11-30 02:00] fx-kirin commented on #1141
I think you just need to build it from the latest master.

[2020-11-30 14:00] Polensky commented on #1141
I thought the command `cargo +nightly install racer` was doing that. I can see the version 2.1.40 in the output which match the latest release on the GitHub page.

[2020-12-01 13:15] Xanewok opened #1145 "Consider switching CI to GitHub Actions"
Right now we have
- AppVeyor builds for testing `{x86_64, i686}-pc-windows-msvc` and
- Travis CI for `x86_64-unknown-linux-gnu`

which requires maintaining two config files and integrations; I also vaguely recall some problems when using AppVeyor, e.g. now it fails on missing rust-src in https://ci.appveyor.com/project/TedDriggs/racer-xr5g5/builds/36589888/job/fj30kkmy8hx7053c but Travis CI works

[2020-12-04 15:07] #1145 closed

[2020-12-29 22:30] mqudsi opened #1150 "#[allow(...)] completions need closing parenthesis and brace"
rls is unable to complete linter `allow` hints without a closing parenthesis and brace, but is able to complete them otherwise.

i.e. this works:

[code]

but this doesn`t

[code]

(In case it's not rendered correctly, the completion is triggered at the same location immediately after the opening `(` in both samples.)

[2021-02-04 16:07] Pancf opened #1154 "Build failing with cargo +nightly"
I encountered errors like that

   --> /Users/Pancf/.cargo/registry/src/github.com-1ecc6299db9ec823/rustc-ap-rustc_arena-702.0.0/src/lib.rs:134:40
    |
134 | impl<T, const N: usize> IterExt<T> for std::array::IntoIter<T, N> {
    |                                        ^^^^^^^^^^^^^^^^^^^^^^^^^^
    |
    = note: see issue #65798 <https://github.com/rust-lang/rust/issues/65798> for more informat

[2021-02-04 16:11] calebcartwright commented on #1154
Fixed in #1153, though you'll need a newer nightly (use `--force` with `rustup update`)

[2021-02-04 17:14] look commented on #1154
Thanks, I just ran into this too and running `rustup update --force nightly` and then re-running `cargo +nightly install racer` fixed it for me. 🙇

[2021-02-04 23:37] #1154 closed

[2021-02-05 08:18] gotope opened #1156 "racer upgrade failed, cfg-if permission denied"
windows 7 x64, has installed racer 2.1.41, update to 2.1.42, 2.1.43 failed
active toolchain
nightly-x86_64-pc-windows-msvc (default)
rustc 1.51.0-nightly (04caa632d 2021-01-30)

C:\>cargo +nightly install racer --verbose
    Updating crates.io index
  Installing racer v2.1.43
   Compiling autocfg v1.0.1
   Compiling cfg-if v1.0.0
   Compiling proc-macro2 v1.0.24
   Compiling unicode-xid v0.2.1

[2021-02-06 11:47] dimitarvp opened #1157 "`cargo install +nightly racer` fails on macOS 11.2"
For several days now I can't compile `racer`. Force updated nightly minutes before running the command, too.

<details>
<summary>Output of `cargo install +nightly racer`</summary>

[code]
</details>

Anything obvious I am missing?

[2021-02-06 14:37] bbugyi200 commented on #1157
I'm experiencing this same build error on Debian Bullseye.

[2021-02-06 15:37] lm-w1n5t0n opened #1158 "`cargo +nightly build --release` fails on Windows 10 (both on latest and v2.1.36)"
Following the instructions on the README, I ran the following commands:

1. `rustup toolchain add nightly`
    <details>
    <summary>output</summary>

[code]
    </details>

2. `git clone https://github.com/racer-rust/racer.git && cd racer`
3. `cargo +nightly build --release`

    <details>
      <summary>output</summary>

[code]
    </details>

4. That failed, so I tried checking the latest rele

[2021-02-06 16:53] quadroli commented on #1157
@bbugyi200 @dimitarvp brawskizzz, i have found the solution, simply uninstall rust 'rustup self uninstall'
reinstall it 'curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh'
clone the repo 'git clone https://github.com/racer-rust/racer.git'
cd into it 'cd racer'
then finally run 'cargo build --release'

worked a 💯 persento for me 🥖 👨‍🎨

[2021-02-06 16:54] quadroli commented on #1158
@lm-w1n5t0n  brawskii, i have found the solution!
simply uninstall rust 'rustup self uninstall'
reinstall it 'curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh'
clone the repo 'git clone https://github.com/racer-rust/racer.git'
cd into it 'cd racer'
then finally run 'cargo build --release'

worked a 100 persento for me baguette_bread man_artist

[2021-02-06 20:02] bbugyi200 commented on #1157
@quadroli Nice! I was actually able to get this working by running `cargo install racer` insted of `cargo +nightly install racer`. Perhaps the installation instructions in the README needs to be updated?

[2021-02-06 21:59] calebcartwright commented on #1158
Duplicate of #1154

Note that rustup skips pulling newer nightlies that missing installed components and falls back to previous releases, so you need to include `--force` when running update. There were also some subsequent upstream changes in the rustc crates that cause issues on the latest nightly (will be resolved by #1159), but latest on master should build with `nightly-2021-02-03`

[2021-02-08 02:28] #1156 closed

[2021-02-08 07:07] #1157 closed

[2021-02-08 10:15] WanderHuang opened #1160 "Build Failed"
I have tried [@nlopes' suggestion](https://github.com/racer-rust/racer/issues/1141#issuecomment-720090525) but i still get errors when building racer.

[code]
Error when running `cargo +nightly install racer`:
[code]

_Originally posted by @Polensky in https://github.com/racer-rust/racer/issues/1141#issuecomment-735238085_

[2021-02-08 10:18] WanderHuang commented on #1141
Same problem.

[code]

[2021-02-08 10:35] #1160 closed

[2021-02-08 10:35] WanderHuang commented on #1160
sorry to open this

[2021-02-09 06:15] koalazub commented on #1158
Just tried installing again today and I'm still unable to do so via `rustup update`

[2021-02-10 12:04] jacklanda commented on #1141
This work for me too, thx!

[2021-02-11 06:09] #406 closed

[2021-02-12 16:59] quadroli commented on #1158
@koalazub brawskiiiii, did you follow the guide i provided?

[2021-02-15 01:42] koalazub commented on #1158
@quadroli I have not, but I'll give it a shot right after work. Cheers for sharing the trick mate!

[2021-03-11 11:53] murtyjones opened #1162 "Unreadable completions"
Running the example in the readme, `racer complete std::io::B`, yields:

[code]

which I'm guessing isn't the intended format of the output (if it is, it's hard to read)

macOS Catalina 10.15.7
`rustc 1.52.0-nightly (caca2121f 2021-03-05)`
`racer 2.1.44`
`echo $RUST_SRC_PATH`: `/Users/murtyjones/.rustup/toolchains/nightly-x86_64-apple-darwin/lib/rustlib/src/rust/library`

[2021-03-11 12:03] murtyjones commented on #1162
From reading around it seems that this is the intended output, I just found it hard to read

[2021-03-11 12:03] #1162 closed

[2021-05-01 10:33] ensc opened #1164 "Does not looks into accessible private submodule"
In

[code]

The `foo()` symbol is not found when referred by the `crate::submod::lib` path.  Using a relative `super::lib` path is ok.

[2021-05-01 10:40] ensc opened #1165 "Does not find symbols in external implementations"
In

[code]

the `some_func()` symbol is found by racer while `other_func` not:

[code]

[2021-05-03 00:26] kiamazi commented on #1141
stable-x86_64-unknown-linux-gnu unchanged - rustc 1.51.0 (2fd73fabe 2021-03-23)
nightly-x86_64-unknown-linux-gnu updated - rustc 1.54.0-nightly (4de757209 2021-05-01) (from rustc 1.53.0-nightly (42816d61e 2021-04-24))
ubuntu 20.04

error[E0658]: unsizing casts to types besides slices are not allowed in const fn
   --> ~/.cargo/registry/src/github.com-1ecc6299db9ec823/rustc-ap-rustc_ast-712.0.0/src

[2021-05-03 20:13] #1141 closed

[2021-05-03 20:13] #1158 closed

[2021-05-25 15:18] JesseStutler opened #1168 "error[E0658]: use of unstable library feature 'try_trait_v2'"
I started to run the command `cargo +nightly install racer`, when it began to compile racer v2.1.46, there were many errors. The first few errors are all about`error[E0658]: use of unstable library feature 'try_trait_v2'`.More information is here:
[code]

My cargo version is cargo 1.52.0 (69767412a 2021-04-21)
My rustc version is rustc 1.52.1 (9bc8c42bb 2021-05-09)
uname -a information:`Darwin che

[2021-05-26 11:19] Xanewok commented on #1168
Fixed with #1167.

[2021-05-26 11:19] #1168 closed

[2021-05-26 12:09] JesseStutler commented on #1168
Uh...How to solve specifically..? New to Rust, I don't know what new features had been pulled request. Do I need to change some configuration?

[2021-05-27 00:31] calebcartwright commented on #1168
You should be able to grab the latest version 2.1.47 now that the aforementioned fix has been merged and included in a new release. Alternatively you could get 2.1.46 if you went back to a slightly older nightly release

[2021-06-07 03:47] fagnercarvalho opened #1171 "Failing to install on Docker container"
I'm inside a Docker container and I'm not able to install racer, any idea of what could be happening?

[code]

Error:
[code]

[2021-06-07 03:56] fagnercarvalho commented on #1171
I guess #1170 should fix this, correct?

[2021-06-07 12:48] FrogLu commented on #1103
Same issue.

Here is my current setup:

OS:

    Ubuntu 18.04 LTS in WSL2
Rust:

    rustc 1.54.0-nightly (35fff69d0 2021-06-06)
    rustup 1.24.2 (755e2b07e 2021-05-12)
    cargo 1.54.0-nightly (0cecbd673 2021-06-01)

[2021-06-08 04:44] FrogLu commented on #1103
I update rust toolchains today, then it works well.
Rust toolchains version:

    rustc 1.54.0-nightly (e4a603270 2021-06-07)
    rustup 1.24.2 (755e2b07e 2021-05-12)
    cargo 1.54.0-nightly (0cecbd673 2021-06-01)

[2021-06-13 22:43] fagnercarvalho commented on #1171
Fixed by #1170, closing.

[2021-06-13 22:43] #1171 closed

[2021-12-08 05:49] t-e-r-m opened #1173 "Failed to build using latest nightly"
[code]

[code]

[2021-12-08 14:40] kunfan96 commented on #1173
same as you,who can help me?

[2021-12-09 03:00] fakegermano commented on #1173
It's as @t-e-r-m said, an upstream issue with rustc-ap-rustc_span's build pipeline, it's been stale for more than 60 days and github decided to not run any more release actions! :+1:

If you need racer working, you can install it with `nightly-2021-06-07` (maybe a further version as well, but this is the one I tested based on approximate dates for releases.

[2021-12-11 04:36] primeNumberAndMe commented on #1173
[code]

 `nightly-2021-01-30-x86_64-unknown-linux-gnu` does not work with this, but `nightly-2021-06-07` is totally ok.
Thanks buddy

[2021-12-11 04:46] calebcartwright commented on #1173
You can, and should, always look at the toolchain file to find an appropriate one. With the underlying dependencies racer has it's highly unlikely that toolchains earlier than the one specified will ever work, but yes latter ones may also work for a time.

https://github.com/racer-rust/racer/blob/48ed93d31dc0beea6fc7185e8496faa7fa9ded5c/rust-toolchain.toml#L2

[2021-12-11 08:59] fortystory commented on #1173
[code]
[code]

[2022-01-20 20:34] eddie8balltoliver opened #1175 "Google cloud locked"

[2022-01-29 16:07] muke101 opened #1176 "Cannot build from source with system Rust install"
I'm running Gentoo and have Rust installed via my package manager (nightly enabled). This means I can't use rustup to install racer, so I'm trying to build from source and install that. When building racer I get the following error:
[code]

I definitely have the missing components installed with my systems Rust install, so I'm unsure why I'm getting this error. Can anyone provide some help on this

[2022-01-29 16:13] calebcartwright commented on #1176
I'm not quite sure what you mean here, as rustup can never be used to install racer.

You must have the requisite components, including `rustc-dev`, available to compile racer, and I highly doubt rustc-dev is bundled with any package manager install

https://github.com/racer-rust/racer#current-nightly-rust

[2022-01-29 17:00] muke101 commented on #1176
Can you clarify a little on what `rustc-dev` is? Is that a separate binary? Gentoo doesn't have any `-dev` packages and should contain all the necessary build components in it's packages.

[2022-01-29 17:01] calebcartwright commented on #1176
https://rust-lang.github.io/rustup/concepts/components.html

[2022-01-29 17:42] muke101 commented on #1176
Ah, it's just another component ok. Rust doesn't have a use flag to enable this so will have to request it's added or something, but thanks for the help anyway.

[2022-01-29 17:43] #1176 closed

[2022-03-20 19:46] #1175 closed

[2022-04-01 12:27] dennismayr opened #1178 "`cargo +nightly install racer` won't build (v 2.2 +), could not find `rust_ast` (and others) in registry `crates-io` with version `*`"
Hello!

New rustacean here.

I tried building `racer` on a newly deployed dev machine yesterday, but the process couldn't be completed.
I followed the same procedure as in other dev machines, but in this particular case, I get the following error message:

[code]
`[...]`
[code]

My standard `rust` installation follows this procedure:
[code]

The supposedly missing components, according to the erro

[2022-04-01 22:03] emadbaqeri opened #1179 "racer does not work on `doom-emacs` after installation of all the packages"
Hey folks, I'm have install rust and rustup dev components alongside `racer`.
I'm trying to use doom-emacs but I got this error and no code completion.
<img width="1624" alt="Screen Shot 2022-04-02 at 02 59 03" src="https://user-images.githubusercontent.com/50639499/161346905-4c7ce3c8-986c-424d-9955-b0e4715bd36b.png">

I don't know what should have done since I have installed the `cargo`, `cargo +

[2022-04-01 23:05] calebcartwright commented on #1179
FWIW racer isn't really supported nor maintained anymore, and folks are generally encouraged to use Rust Analyzer instead of racer and racer-based tooling.

Can't tell you what's going on especially from a screenshot with chopped off text, but no, I highly doubt it's related to the processor architecture.

[2022-04-01 23:10] emadbaqeri commented on #1179
Thanks @calebcartwright,
Do you need more information about the installation process and packages or maybe versions? Or maybe I should go with rust-analyzer?
Is there any way that I could install rust-racer on Mac with M1 CPU?

[2022-04-01 23:14] calebcartwright commented on #1178
Welcome :wave:

First want to note that racer is essentially no longer maintained nor supported, and users should look at using Rust Analyzer instead.

If you do still want/need to build racer from source, be sure to follow the installation instructions in https://github.com/racer-rust/racer#current-nightly-rust and that you specify the correct toolchain when issuing build commands. The error is i

[2022-04-01 23:14] calebcartwright commented on #1179
This :point_up:

[2022-04-01 23:16] emadbaqeri commented on #1179
Thank you so much 👍🏽

[2022-04-01 23:19] calebcartwright commented on #1179
you're welcome!

[2022-04-02 01:17] emadbaqeri commented on #1179
@calebcartwright Thanks for your help. I have done as you said and followed [this config instruction](https://robert.kra.hn/posts/2021-02-07_rust-with-emacs/) by [@rksm](https://github.com/rksm). That's just awesome.
I'm writing this for other people that might have the same problem.
And also you were right about the CPU architecture.

[2022-04-02 15:41] calebcartwright commented on #1179
great, thanks for sharing!

[2022-04-06 19:52] dennismayr commented on #1178
Thanks for the heads-up, @calebcartwright!

I'm going with `rust-analyzer`instead then.

[2022-04-06 19:52] #1178 closed

[2022-04-14 07:14] killme2008 opened #1181 "Build error in racer v2.2.2"
I ran command `cargo +nightly install racer` on mac, but it failed with an error as below:

[code]

Some information may be useful:

[code]

[2022-04-14 16:24] calebcartwright commented on #1181
First want to note that racer is [essentially end of life](https://github.com/racer-rust/racer#disclaimer) and users are encouraged to use alternatives like Rust Analyzer instead.

This is functionally a duplicate of similar issues, e.g. #1173, but if for some reason you still need to build racer then you need to use a supported nightly toolchain, not just any nightly toolchain.

The easiest way t

[2022-04-15 00:47] killme2008 commented on #1181
@calebcartwright  thank you, i will try it.

[2022-04-15 00:47] #1181 closed, assigned to nobody

[2022-04-23 11:10] Thomas28M opened #1182 "cargo +nightly install racer Error"
I have tried to install racer but I keep getting this error. I couldn't find it anywhere else.

Info
----------------------------------------------
$ rustup show
Default host: x86_64-unknown-linux-gnu
rustup home:  /home/thomas28/.rustup

installed toolchains

stable-x86_64-unknown-linux-gnu (default)
nightly-x86_64-unknown-linux-gnu

active toolchain

stable-x86_64-unknown-linux-gnu (default)
rus

[2022-04-23 18:17] calebcartwright commented on #1182
Please take a look at #1181

[2022-07-19 12:48] eddie8balltoliver commented on #1175
Will do

[2022-07-21 15:00] charmitro commented on #1182
I had the same issue. I used `cargo install racer` and everything worked out. They specify the nightly toolchain version on their `.toml` files.